<!--/*-->
<head th:remove="tag"></head>
<!--*/-->
<body th:remove="tag">
  <!--/*/
  <style
    th:inline="css"
    th:unless="${#strings.isEmpty(theme.config?.post_styles?.heading_anchor_symbol)}"
  >
    :root {
      /*[# th:unless="${theme.config?.post_styles?.is_heading_anchor_symbol_raw}"]*/
      --heading-anchor-symbol: "[(${theme.config?.post_styles?.heading_anchor_symbol})]";
      /*[/]*/
      /*[# th:if="${theme.config?.post_styles?.is_heading_anchor_symbol_raw}"]*/
      --heading-anchor-symbol: [(${theme.config?.post_styles?.heading_anchor_symbol})];
      /*[/]*/
    }
  </style>
  /*/-->
</body>
