/* Offical Comment Widget Colors v3 */
/* Adapted for https://github.com/halo-dev/plugin-comment-widget */
comment-widget {
  --halo-cw-muted-1-color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
  --halo-cw-muted-2-color: color-mix(in oklab, var(--color-base-content) 60%, transparent);
  --halo-cw-muted-3-color: color-mix(in oklab, var(--color-base-content) 40%, transparent);
  --halo-cw-primary-1-color: var(--color-primary);
  --halo-cw-primary-2-color: color-mix(in oklab, var(--color-primary) 80%, transparent);
  --halo-cw-primary-3-color: color-mix(in oklab, var(--color-primary) 60%, transparent);
  --halo-cw-text-1-color: var(--color-base-content);
  --halo-cw-text-2-color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
  --halo-cw-text-3-color: color-mix(in oklab, var(--color-base-content) 60%, transparent);
}
