<th:block th:fragment="menu(showIcon)">
  <ul>
    <li class="icon" th:if="${showIcon}">
      <a href="#"><i class="iconify iconify-huge" data-icon="material-symbols:menu"></i></a>
    </li>

    <th:block th:insert="~{fragments/common :: base-menu}"></th:block>

    <li th:if="${pluginFinder.available('PluginSearchWidget')}">
      <a
        href="javascript:SearchWidget.open();"
        th:aria-label="#{fragment.menu.search-button.aria-label}"
        th:text="#{fragment.menu.search}"
      ></a>
    </li>
  </ul>
</th:block>

<th:block th:fragment="base-menu">
  <th:block th:unless="${theme.config?.global?.is_i18n_menu_show}">
    <!-- 普通 menu -->
    <li th:each="menuItem : ${menuFinder.getPrimary().menuItems}" class="matched-menu">
      <a
        th:href="@{${menuItem.status?.href}}"
        th:target="${menuItem.spec.target?.value}"
        th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItem.status?.displayName})}"
        th:text="${menuItem.status?.displayName}"
        >目录项填充位置</a
      >
    </li>
  </th:block>

  <th:block
    th:if="${theme.config?.global?.is_i18n_menu_show} and not ${theme.config?.global?.is_i18n_menu_prefix_match_mode}"
  >
    <!-- i18n menu 全等匹配模式 -->
    <th:block th:each="menuItem : ${menuFinder.getPrimary().menuItems}">
      <th:block th:if="${#strings.equals(menuItem.spec.displayName, #locale)}">
        <li th:each="menuItemChildren : ${menuItem.children}" class="matched-menu">
          <a
            th:href="@{${menuItemChildren.status?.href}}"
            th:target="${menuItemChildren.spec.target?.value}"
            th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItemChildren.status?.displayName})}"
            th:text="${menuItemChildren.status?.displayName}"
            >目录项填充位置</a
          >
        </li>
      </th:block>
    </th:block>
  </th:block>

  <th:block
    th:if="${theme.config?.global?.is_i18n_menu_show} and ${theme.config?.global?.is_i18n_menu_prefix_match_mode}"
  >
    <!-- i18n menu 前缀匹配模式 -->
    <th:block th:each="menuItem : ${menuFinder.getPrimary().menuItems}">
      <th:block th:if="${#strings.startsWith(#locale, menuItem.spec.displayName)}">
        <li th:each="menuItemChildren : ${menuItem.children}" class="matched-menu">
          <a
            th:href="@{${menuItemChildren.status?.href}}"
            th:target="${menuItemChildren.spec.target?.value}"
            th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItemChildren.status?.displayName})}"
            th:text="${menuItemChildren.status?.displayName}"
            >目录项填充位置</a
          >
        </li>
      </th:block>
    </th:block>
  </th:block>

  <!-- i18n menu 全等匹配模式 匹配默认菜单 -->
  <th:block th:each="menuItem : ${menuFinder.getPrimary().menuItems}">
    <th:block th:if="${#strings.equals(menuItem.spec.displayName, theme.config?.global?.defalut_i18n_menu_name)}">
      <li th:each="menuItemChildren : ${menuItem.children}" style="display: none" class="default-menu">
        <a
          th:href="@{${menuItemChildren.status?.href}}"
          th:target="${menuItemChildren.spec.target?.value}"
          th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItemChildren.status?.displayName})}"
          th:text="${menuItemChildren.status?.displayName}"
          >目录项填充位置</a
        >
      </li>
    </th:block>
  </th:block>
</th:block>

<th:block th:fragment="share">
  <ul>
    <li>
      <a
        class="icon"
        th:aria-label="#{common.shareModal.share.aria-label('facebook')}"
        th:href="'http://www.facebook.com/sharer.php?u=' + ${permalink} + '&amp;title=' + ${permalink}"
      >
        <i class="iconify" data-icon="ic:baseline-facebook"></i
      ></a>
    </li>
    <li>
      <a
        class="icon"
        th:aria-label="#{common.shareModal.share.aria-label('X')}"
        th:href="'https://x.com/share?url=' + ${permalink} + '&amp;title=' + ${title}"
      >
        <i class="iconify" data-icon="mdi:twitter-circle"></i
      ></a>
    </li>
    <li>
      <a
        class="icon"
        th:aria-label="#{common.shareModal.share.aria-label('linkedin')}"
        th:href="'http://www.linkedin.com/shareArticle?url=' + ${permalink} + '&amp;title=' + ${title}"
      >
        <i class="iconify" data-icon="mdi:linkedin"></i
      ></a>
    </li>
    <li>
      <a
        class="icon"
        th:aria-label="#{common.shareModal.share.aria-label('pinterest')}"
        th:href="'https://pinterest.com/pin/create/bookmarklet/?url=' + ${permalink} + '&amp;title=' + ${title}"
      >
        <i class="iconify" data-icon="mdi:pinterest"></i
      ></a>
    </li>
    <li>
      <a
        class="icon"
        th:aria-label="#{common.shareModal.share.aria-label('qzone')}"
        th:href="'https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + ${permalink} + '&amp;title=' + ${title}"
      >
        <i class="iconify" data-icon="cib:qzone"></i
      ></a>
    </li>
    <li>
      <a
        class="icon"
        th:aria-label="#{common.shareModal.share.aria-label('email')}"
        th:href="'mailto:?subject=' + ${title} + '&amp;body=Check out this article: ' + ${permalink}"
      >
        <i class="iconify" data-icon="ph:envelope-simple-bold"></i
      ></a>
    </li>
  </ul>
</th:block>

<button
  th:fragment="theme-toggle-button"
  th:if="${theme.config?.styles?.is_dark_mode_switch_show}"
  id="theme-toggle-button"
  accesskey="t"
  title="(Alt + T)"
  type="button"
>
  <i id="theme-toggle-button-icon" class="icon iconify iconify-large"></i>
</button>
