<th:block th:fragment="menu(showIcon)">
  <ul>
    <li class="icon" th:if="${showIcon}">
      <a href="javascript:void(0);"><i class="iconify iconify-huge" data-icon="material-symbols:menu"></i></a>
    </li>

    <th:block th:insert="~{fragments/common :: base-menu}"></th:block>
    <li th:if="${theme.config?.styles?.is_show_random_button_in_menu}">
      <a
        href="/"
        th:with="allPostList=${postFinder.listAll()},
                  randomIndex=${T(java.lang.Math).floor(T(java.lang.Math).random()*#lists.size(allPostList))},
                  postPermalink=${allPostList[randomIndex].status.permalink}"
        th:href="${postPermalink}"
        th:aria-label="#{fragment.menu.random-button.aria-label}"
        th:text="#{fragment.menu.random}"
      ></a>
    </li>
    <li th:if="${pluginFinder.available('PluginSearchWidget')}">
      <a
        href="javascript:SearchWidget.open();"
        th:aria-label="#{fragment.menu.search-button.aria-label}"
        th:text="#{fragment.menu.search}"
      ></a>
    </li>
  </ul>
</th:block>

<th:block th:fragment="base-menu">
  <th:block th:with="menuItems = ${menuFinder.getPrimary().menuItems}">
    <th:block th:unless="${theme.config?.global?.is_i18n_menu_show}">
      <!--/* 普通 menu */-->
      <li th:each="menuItem : ${menuItems}" class="matched-menu">
        <a
          th:href="@{${menuItem?.status?.href}}"
          th:target="${menuItem?.spec?.target?.value}"
          th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItem.status?.displayName})}"
          th:text="${menuItem?.status?.displayName}"
          >目录项填充位置</a
        >
      </li>
    </th:block>

    <th:block
      th:if="${theme.config?.global?.is_i18n_menu_show} and not ${theme.config?.global?.is_i18n_menu_prefix_match_mode}"
    >
      <!--/* i18n menu 全等匹配模式 */-->
      <th:block th:each="menuItem : ${menuItems}">
        <th:block th:if="${#strings.equals(menuItem.spec.displayName, #locale)}">
          <li th:each="menuItemChildren : ${menuItem?.children}" class="matched-menu">
            <a
              th:href="@{${menuItemChildren?.status?.href}}"
              th:target="${menuItemChildren?.spec?.target?.value}"
              th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItemChildren.status?.displayName})}"
              th:text="${menuItemChildren?.status?.displayName}"
              >目录项填充位置</a
            >
          </li>
        </th:block>
      </th:block>
    </th:block>

    <th:block
      th:if="${theme.config?.global?.is_i18n_menu_show} and ${theme.config?.global?.is_i18n_menu_prefix_match_mode}"
    >
      <!--/* i18n menu 前缀匹配模式 */-->
      <th:block th:each="menuItem : ${menuItems}">
        <th:block th:if="${#strings.startsWith(#locale, menuItem.spec.displayName)}">
          <li th:each="menuItemChildren : ${menuItem?.children}" class="matched-menu">
            <a
              th:href="@{${menuItemChildren?.status?.href}}"
              th:target="${menuItemChildren?.spec?.target?.value}"
              th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItemChildren.status?.displayName})}"
              th:text="${menuItemChildren?.status?.displayName}"
              >目录项填充位置</a
            >
          </li>
        </th:block>
      </th:block>
    </th:block>

    <!--/* i18n menu 全等匹配模式 匹配默认菜单 */-->
    <th:block th:each="menuItem : ${menuItems}">
      <th:block th:if="${#strings.equals(menuItem.spec.displayName, theme.config?.global?.default_i18n_menu_name)}">
        <li th:each="menuItemChildren : ${menuItem.children}" style="display: none" class="default-menu">
          <a
            th:href="@{${menuItemChildren.status?.href}}"
            th:target="${menuItemChildren.spec.target?.value}"
            th:aria-label="#{fragment.menu.menuItem.aria-label(${menuItemChildren.status?.displayName})}"
            th:text="${menuItemChildren.status?.displayName}"
            >目录项填充位置</a
          >
        </li>
      </th:block>
    </th:block>
  </th:block>
</th:block>

<th:block
  th:fragment="share(originPermalink,title)"
  th:with="siteUrl = ${#strings.substring(site.url, #strings.length(site.url) - 1)== '/'}? ${#strings.substring(site.url,0,#strings.length(site.url) - 1)}:${site.url}"
>
  <th:block th:with="permalink=${siteUrl}+${originPermalink}, title=${title}">
    <ul>
      <script th:inline="javascript">
        function nativeShare() {
          const postPermaLink = /*[[${permalink}]]*/ "";
          const postTitle = /*[[${title}]]*/ "";
          const shareData = { title: postTitle, url: postPermaLink };
          if (navigator.canShare?.(shareData)) {
            navigator.share(shareData);
          } else {
            console.error("Sharing not supported");
          }
        }
      </script>
      <li th:each="item : ${theme?.config?.share?.share_menu_config}">
        <a
          th:if="${item?.name!='Native'}"
          class="icon"
          th:aria-label="#{common.shareModal.share.aria-label(${item?.aria_label})}"
          th:href="${#strings.replace(#strings.replace(item?.url, '@URL', permalink), '@TITLE', title)}"
        >
          <i class="iconify" th:attr="data-icon=${item?.icon}"></i
        ></a>
        <a
          th:if="${item?.name=='Native'}"
          class="icon"
          th:aria-label="#{common.shareModal.share.aria-label(${item?.aria_label})}"
          href="javascript:nativeShare();"
        >
          <i class="iconify" th:attr="data-icon=${item?.icon}"></i
        ></a>
      </li>
    </ul>
  </th:block>
</th:block>

<button
  th:fragment="theme-toggle-button"
  th:if="${theme.config?.styles?.is_show_color_scheme_toggle_button}"
  id="theme-toggle-button"
  accesskey="t"
  title="(Alt + T)"
  type="button"
>
  <i id="theme-toggle-button-icon" class="icon iconify iconify-large -translate-x-[1px] -translate-y-[1px]"></i>
</button>

<th:block
  th:fragment="auto-redirect"
  th:with="siteUrl = ${#strings.substring(site.url, #strings.length(site.url) - 1)== '/'}? ${#strings.substring(site.url,0,#strings.length(site.url) - 1)}:${site.url}"
>
  <p id="countdown" style="opacity: 0; transition: opacity 1s"></p>
  <script th:inline="javascript">
    const countdownElement = document.getElementById("countdown");
    const siteUrl = /*[[${siteUrl}]]*/ "";
    var targetUrl = /*[[${theme.config?.error_page_styles?.target_url}]]*/ "/";
    if (targetUrl.startsWith("/")) {
      targetUrl = siteUrl + targetUrl;
    }
    let currentTimeLeft = /*[(${theme.config?.error_page_styles?.redirect_wait_time})]*/ 5;
    const originText = /*[[#{page.error.auto-refresh}]]*/ "";
    document.addEventListener("DOMContentLoaded", () => {
      countdownElement.innerHTML = `${originText
        .replace("{0}", currentTimeLeft)
        .replace("{1}", `<a href="${targetUrl}">${targetUrl}</a>`)}`;
      countdownElement.style.opacity = 1; // <--/* 此处动画耗时一秒 */
      currentTimeLeft -= 1;
      const countdownInterval = setInterval(() => {
        if (currentTimeLeft <= 0) {
          clearInterval(countdownInterval);
          window.location.href = targetUrl;
        }
        countdownElement.innerHTML = `${originText
          .replace("{0}", currentTimeLeft)
          .replace("{1}", `<a href="${targetUrl}">${targetUrl}</a>`)}`;
        currentTimeLeft -= 1;
      }, 1000);
    });
  </script>
</th:block>
