<!DOCTYPE html>
<html lang="zh" th:fragment="html (title, content, header, navbar)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${#strings.defaultString(title, site.title)}"></title>
    <link
      rel="stylesheet"
      th:href="@{/assets/dist/style.css(v=${theme.spec.version})}"
      href="./assets/dist/style.css"
    />
    <!-- jquery -->
    <script th:src="@{/assets/lib/jquery/jquery.min.js(v=${theme.spec.version})}"></script>
    <script th:src="@{/assets/dist/main.iife.js(v=${theme.spec.version})}"></script>
  </head>
  <!--
  本主题的样式切换说明：
  用哪套样式看 body 标签内的 theme 属性值：auto，dark，light，gray
  
  注意：当本主题开启自动切换明暗，@media 查询为 no-preference，则应用明亮样式
  

  本主题标识明暗模式说明：

  1. 用于给 css 样式读取，放在 body 标签内的 data-color-scheme 属性值：auto，dark，light
  当前用于：决定官方评论组件样式
  文档: https://www.halo.run/store/apps/app-YXyaD
  
  2. main.css 样式中还写了一个 color-scheme，由 body 标签内的 data-color-scheme 决定，默认是 normal，亮色是 only light，暗色是 only dark
  应用于 :root 加上 only 效果是关闭由 Chrome 的自动深色主题引起的颜色覆盖。上游应用于 body 标签，所以此处也应用于 body 标签（实际是应用在有 data-color-scheme 属性的地方，本主题仅有 body 标签有这个属性）
  https://developer.mozilla.org/zh-CN/docs/Web/CSS/color-scheme
-->
  <body
    th:class="|text-size-${theme.config?.styles?.text_size}|"
    th:attr="data-color-scheme=${theme.config?.styles?.color_schema['color-scheme']}, theme=${theme.config?.styles?.color_schema['theme']}"
  >
    <style th:inline="css" th:if="${theme.config?.styles?.is_max_width_settings}">
      .max-width {
        max-width: /*[(${theme.config?.styles?.max_width})]*/ 48rem;
      }
    </style>
    <div class="max-width mx-auto px-8 ltr">
      <th:block th:replace="${navbar}" />

      <div class="min-h-screen content index pt-16">
        <th:block th:replace="${header}" />

        <th:block th:replace="${content}" />

        <footer id="footer">
          <div class="footer-left">
            <halo:footer />
            <div
              th:if="${theme.config?.styles?.is_footer_theme_info_show} or ${theme.config?.styles?.is_footer_copyright_show}"
            >
              <span class="info" th:if="${theme.config?.styles?.is_footer_theme_info_show}">
                Theme is
                <a href="https://github.com/howiehz/halo-theme-higan-hz" rel="noopener noreferrer" target="_blank"
                  >higan-hz</a
                >
                Powered by <a href="https://halo.run" rel="noopener noreferrer" target="_blank">Halo</a>
              </span>
              <span class="copyright" th:if="${theme.config?.styles?.is_footer_copyright_show}">
                ©
                <span
                  id="site_date"
                  th:with="now=${#temporals.createNow()}"
                  th:text="${#temporals.format(now, 'yyyy')}"
                ></span>
                <span th:text="${site?.title}"></span>
              </span>
            </div>
          </div>
          <div class="footer-right" th:if="${theme.config?.styles?.is_footer_menu_show}">
            <ul>
              <li th:each="menuItem : ${menuFinder.getPrimary()?.menuItems}">
                <a
                  th:href="@{${menuItem.status?.href}}"
                  th:target="${menuItem.spec.target?.value}"
                  th:aria-label="'Menu named ' + ${menuItem.status?.displayName}"
                  th:text="${menuItem.status?.displayName}"
                >
                  目录项填充位置
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
