<!DOCTYPE html>
<html
  lang="zh"
  th:fragment="html (title, content, header, navbar)"
  data-color-scheme="need-to-replace"
  theme="need-to-replace"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${#strings.defaultString(title, site.title)}"></title>
    <link
      rel="stylesheet"
      th:href="@{/assets/dist/style.css(v=${theme.spec.version})}"
      href="./assets/dist/style.css"
    />
    <!-- jquery -->
    <script th:src="@{/assets/lib/jquery/jquery.min.js(v=${theme.spec.version})}"></script>
    <script th:src="@{/assets/dist/main.iife.js(v=${theme.spec.version})}"></script>
    <script>
      // html标签的data-color-scheme属性值 决定官方评论组件样式
      // 文档: https://www.halo.run/store/apps/app-YXyaD
      // 此处 colorScheme 除了用于决定全局样式以外 也用于决定评论组件样式 对应模板中<halo:comment>标签
      // 文档: https://docs.halo.run/developer-guide/theme/template-tag#halocomment

      const colorSchemeDic = {
        system: { theme: "auto", comment: "auto" },
        light: { theme: "light", comment: "light" },
        dark: { theme: "dark", comment: "dark" },
        gray: { theme: "gray", comment: "light" },
      };
      if (matchMedia("(prefers-color-scheme: dark)").matches) {
        colorSchemeDic["system"]["theme"] = "dark";
        colorSchemeDic["system"]["comment"] = "dark";
      } else {
        colorSchemeDic["system"]["theme"] = "light";
        colorSchemeDic["system"]["comment"] = "light";
      }

      const colorScheme = colorSchemeDic["[[${theme.config?.styles?.color_schema}]]"]["theme"];
      const commentColorScheme = colorSchemeDic["[[${theme.config?.styles?.color_schema}]]"]["comment"];
      document.documentElement.setAttribute("theme", colorScheme);
      document.documentElement.setAttribute("data-color-scheme", commentColorScheme);
    </script>
  </head>
  <body th:class="|text-size-${theme.config?.styles?.text_size}|">
    <style type="text/css" th:inline="css">
      .max-width {
        max-width: [(${theme.config?.styles?.max_width})];
      }
    </style>
    <div class="max-width mx-auto px3 ltr">
      <th:block th:replace="${navbar}" />

      <div class="mh-full content index py4">
        <th:block th:replace="${header}" />

        <th:block th:replace="${content}" />

        <footer id="footer">
          <div class="footer-left">
            <halo:footer />
            <div>
              Theme is
              <a href="https://github.com/howiehz/halo-theme-higan-hz" rel="noopener" target="_blank">higan-hz</a>
              Powered by <a href="https://halo.run" rel="noopener" target="_blank">Halo</a> <br />©
              <span
                id="site_date"
                th:with="now=${#temporals.createNow()}"
                th:text="${#temporals.format(now, 'yyyy')}"
              ></span>
              <span th:text="${site?.title}"></span>
            </div>
          </div>
          <div class="footer-right">
            <ul>
              <li th:each="menuItem : ${menuFinder.getPrimary()?.menuItems}">
                <a
                  th:href="@{${menuItem.status?.href}}"
                  th:target="${menuItem.spec.target?.value}"
                  th:aria-label="'Menu named ' + ${menuItem.status?.displayName}"
                  th:text="${menuItem.status?.displayName}"
                >
                  menu-name
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
