<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post" class="fixed right-0 top-8 z-50 float-right hidden sm:block">
    <a id="menu-icon" href="javascript:void(0);" th:aria-label="#{fragment.post-nav.menu-icon.aria-label}">
      <i class="iconify iconify-middle" data-icon="material-symbols:menu"></i>
    </a>
    <a
      id="top-icon-tablet"
      class="lg:hidden"
      href="javascript:void(0);"
      onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
      style="display: none"
      ><i class="iconify iconify-middle" data-icon="material-symbols:keyboard-arrow-up"></i
    ></a>
    <span id="menu">
      <span id="nav">
        <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
      </span>
      <br />

      <span id="actions">
        <ul>
          <li>
            <a
              th:href="@{/}"
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.home-icon.aria-label}"
              onmouseover="$('#i-home').toggle();"
              onmouseout="$('#i-home').toggle();"
            >
              <i class="iconify iconify-large" data-icon="mdi:home-circle"></i>
            </a>
          </li>

          <li>
            <a
              class="icon"
              href="javascript:void(0);"
              onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
              th:aria-label="#{fragment.post-nav.actions.to-top-icon.aria-label}"
            >
              <i
                class="iconify iconify-large"
                data-icon="material-symbols:keyboard-arrow-up"
                onmouseover="$('#i-top').toggle();"
                onmouseout="$('#i-top').toggle();"
              ></i>
            </a>
          </li>
          <li th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}">
            <a class="icon" href="#" th:aria-label="#{fragment.post-nav.actions.share-icon.aria-label}">
              <i
                id="action-share"
                class="iconify iconify-middle"
                data-icon="mdi:share-variant-outline"
                onmouseover="$('#i-share').toggle();"
                onmouseout="$('#i-share').toggle();"
                onclick="return false;"
              ></i>
            </a>
          </li>
        </ul>

        <span id="i-top" class="info" style="display: none">[(#{fragment.post-nav.toTop})]</span>
        <span
          id="i-share"
          class="info"
          style="display: none"
          th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
          >[(#{fragment.post-nav.sharePost})]</span
        >
        <span id="i-home" class="info" style="display: none">[(#{fragment.post-nav.backToHome})]</span>
      </span>
      <br />
      <div id="share-list" style="display: none" th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}">
        <th:block
          th:insert="~{fragments/common :: share(originPermalink=${singlePage.status.permalink},title=${singlePage.spec.title})}"
        ></th:block>
      </div>
      <div id="toc"></div>
    </span>
  </div>
</th:block>
