<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post" class="fixed right-0 top-8 z-50 float-right hidden sm:block">
    <a id="menu-icon" href="javascript:void(0);" th:aria-label="#{fragment.post-nav.menu-icon.aria-label}">
      <i class="iconify iconify-middle" data-icon="material-symbols:menu"></i>
    </a>
    <a
      id="top-icon-tablet"
      class="hidden lg:!hidden"
      href="javascript:void(0);"
      onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
      ><i class="iconify iconify-middle" data-icon="material-symbols:keyboard-arrow-up"></i
    ></a>
    <span id="menu" class="mr-8 hidden">
      <span id="nav">
        <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
      </span>
      <br />

      <span
        id="actions"
        class="float-right mr-8 mt-8 text-right"
        th:with="postCursor=${postFinder.cursor(post.metadata?.name)}"
      >
        <ul class="float-right block">
          <li>
            <a
              th:href="@{/}"
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.home-icon.aria-label}"
              onmouseover="$('#i-home').toggle();"
              onmouseout="$('#i-home').toggle();"
            >
              <i class="iconify iconify-large" data-icon="mdi:home-circle"></i>
            </a>
          </li>
          <li th:if="${postCursor.hasPrevious()}">
            <a
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.prev-icon.aria-label}"
              th:href="@{${postCursor.previous?.status?.permalink}}"
            >
              <i
                class="iconify iconify-large"
                data-icon="mdi:chevron-left"
                onmouseover="$('#i-prev').toggle();"
                onmouseout="$('#i-prev').toggle();"
              ></i>
            </a>
          </li>

          <li th:if="${postCursor.hasNext()}">
            <a
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.next-icon.aria-label}"
              th:href="@{${postCursor.next?.status?.permalink}}"
            >
              <i
                class="iconify iconify-large"
                data-icon="ic:round-chevron-right"
                onmouseover="$('#i-next').toggle();"
                onmouseout="$('#i-next').toggle();"
              ></i>
            </a>
          </li>

          <li>
            <a
              class="icon"
              href="javascript:void(0);"
              onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
              th:aria-label="#{fragment.post-nav.actions.to-top-icon.aria-label}"
            >
              <i
                class="iconify iconify-large"
                data-icon="material-symbols:keyboard-arrow-up"
                onmouseover="$('#i-top').toggle();"
                onmouseout="$('#i-top').toggle();"
              ></i>
            </a>
          </li>
          <li th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}">
            <a class="icon" href="#" th:aria-label="#{fragment.post-nav.actions.share-icon.aria-label}">
              <i
                id="action-share"
                class="iconify iconify-middle"
                data-icon="mdi:share-variant-outline"
                onmouseover="$('#i-share').toggle();"
                onmouseout="$('#i-share').toggle();"
                onclick="return false;"
              ></i>
            </a>
          </li>
        </ul>

        <span id="i-prev" class="info hidden">[(#{fragment.post-nav.prev})]</span>
        <span id="i-next" class="info hidden">[(#{fragment.post-nav.next})]</span>

        <span id="i-top" class="info hidden">[(#{fragment.post-nav.toTop})]</span>
        <span id="i-share" class="info hidden" th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
          >[(#{fragment.post-nav.sharePost})]</span
        >
        <span id="i-home" class="info hidden">[(#{fragment.post-nav.backToHome})]</span>
      </span>
      <br />
      <div
        id="share-list"
        class="clear-both pr-8 pt-4 text-right"
        style="display: none"
        th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
      >
        <th:block
          th:insert="~{fragments/common :: share(originPermalink=${post.status.permalink},title=${post.spec.title})}"
        ></th:block>
      </div>
      <div id="toc"></div>
    </span>
  </div>
</th:block>
