<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post">
    <a id="menu-icon" href="javascript:void(0);" th:aria-label="#{fragment.post-nav.menu-icon.aria-label}">
      <i class="iconify iconify-middle" data-icon="material-symbols:menu"></i>
    </a>
    <a id="menu-icon-tablet" href="javascript:void(0);"
      ><i class="iconify iconify-middle" data-icon="material-symbols:menu"></i
    ></a>
    <a
      id="top-icon-tablet"
      href="javascript:void(0);"
      onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
      style="display: none"
      ><i class="iconify iconify-middle" data-icon="material-symbols:keyboard-arrow-up"></i
    ></a>
    <span id="menu">
      <span id="nav">
        <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
      </span>
      <br />

      <span id="actions" th:with="postCursor=${postFinder.cursor(post.metadata?.name)}">
        <ul>
          <li>
            <a
              th:href="@{/}"
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.home-icon.aria-label}"
              onmouseover="$('#i-home').toggle();"
              onmouseout="$('#i-home').toggle();"
            >
              <i class="iconify iconify-large" data-icon="mdi:home-circle"></i>
            </a>
          </li>
          <li th:if="${postCursor.hasPrevious()}">
            <a
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.prev-icon.aria-label}"
              th:href="@{${postCursor.previous?.status?.permalink}}"
            >
              <i
                class="iconify iconify-large"
                data-icon="mdi:chevron-left"
                onmouseover="$('#i-prev').toggle();"
                onmouseout="$('#i-prev').toggle();"
              ></i>
            </a>
          </li>

          <li th:if="${postCursor.hasNext()}">
            <a
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.next-icon.aria-label}"
              th:href="@{${postCursor.next?.status?.permalink}}"
            >
              <i
                class="iconify iconify-large"
                data-icon="ic:round-chevron-right"
                onmouseover="$('#i-next').toggle();"
                onmouseout="$('#i-next').toggle();"
              ></i>
            </a>
          </li>

          <li>
            <a
              class="icon"
              href="javascript:void(0);"
              onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');"
              th:aria-label="#{fragment.post-nav.actions.to-top-icon.aria-label}"
            >
              <i
                class="iconify iconify-large"
                data-icon="material-symbols:keyboard-arrow-up"
                onmouseover="$('#i-top').toggle();"
                onmouseout="$('#i-top').toggle();"
              ></i>
            </a>
          </li>
          <li>
            <a class="icon" href="#" th:aria-label="#{fragment.post-nav.actions.share-icon.aria-label}">
              <i
                id="action-share"
                class="iconify iconify-middle"
                data-icon="mdi:share-variant-outline"
                onmouseover="$('#i-share').toggle();"
                onmouseout="$('#i-share').toggle();"
                onclick="return false;"
              ></i>
            </a>
          </li>
        </ul>

        <span id="i-prev" class="info" style="display: none">[(#{fragment.post-nav.prev})]</span>
        <span id="i-next" class="info" style="display: none">[(#{fragment.post-nav.next})]</span>

        <span id="i-top" class="info" style="display: none">[(#{fragment.post-nav.toTop})]</span>
        <span id="i-share" class="info" style="display: none">[(#{fragment.post-nav.sharePost})]</span>
        <span id="i-home" class="info" style="display: none">[(#{fragment.post-nav.backToHome})]</span>
      </span>
      <br />
      <div id="share-list" style="display: none">
        <th:block th:insert="~{fragments/common :: share}"></th:block>
      </div>
      <div id="toc"></div>
    </span>
  </div>
</th:block>
