pnpm-lock.yaml linguist-generated=true
.github/page_size_audit_results/*.json linguist-generated=true
src/templates/components/fonts/assets/fonts/meslo-LG/result-*.css linguist-generated=true
src/templates/public/assets/lib/** linguist-vendored=true
