pnpm-lock.yaml linguist-generated
.github/page_size_audit_results/*.json linguist-generated
src/templates/components/fonts/assets/fonts/meslo-LG/result-*.css linguist-generated
src/templates/public/assets/lib/** linguist-vendored
