apiVersion: v1alpha1
kind: AnnotationSetting
metadata:
  name: howiehz-higan-user-annotation-setting
spec:
  targetRef:
    group: ""
    kind: User
  formSchema:
    - $formkit: attachment
      name: "higan.howiehz.top/author-header-image"
      label: 作者页头图

---
apiVersion: v1alpha1
kind: AnnotationSetting
metadata:
  name: howiehz-higan-post-annotation-setting
spec:
  targetRef:
    group: content.halo.run
    kind: Post
  formSchema:
    - $formkit: "text"
      name: "higan.howiehz.top/page-title"
      label: "页面标题"
    - $formkit: "text"
      name: "higan.howiehz.top/page-language"
      label: "页面语言"
    - $formkit: "switch"
      label: "显示在文章列表中"
      name: "higan.howiehz.top/show-in-post-list"
      value: "true"
      onValue: "true"
      offValue: "false"

---
apiVersion: v1alpha1
kind: AnnotationSetting
metadata:
  name: howiehz-higan-single-page-annotation-setting
spec:
  targetRef:
    group: content.halo.run
    kind: SinglePage
  formSchema:
    - $formkit: "text"
      name: "higan.howiehz.top/page-title"
      label: "页面标题"
    - $formkit: "text"
      name: "higan.howiehz.top/page-language"
      label: "页面语言"

---
apiVersion: v1alpha1
kind: AnnotationSetting
metadata:
  name: howiehz-higan-category-annotation-setting
spec:
  targetRef:
    group: content.halo.run
    kind: Category
  formSchema:
    - $formkit: "text"
      name: "higan.howiehz.top/page-title"
      label: "页面标题"
    - $formkit: "text"
      name: "higan.howiehz.top/page-language"
      label: "页面语言"

---
apiVersion: v1alpha1
kind: AnnotationSetting
metadata:
  name: howiehz-higan-tag-annotation-setting
spec:
  targetRef:
    group: content.halo.run
    kind: Tag
  formSchema:
    - $formkit: "text"
      name: "higan.howiehz.top/page-title"
      label: "页面标题"
    - $formkit: "text"
      name: "higan.howiehz.top/page-language"
      label: "页面语言"
