<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = #{page.archives.page-title},
    head = ~{::headContent},
    content = ~{::content},
    header = ~{fragments/header :: content},
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/scripts/pages/archives.ts" type="module"></script>
  </head>
  <body>
    <div id="archive" class="content flex-auto">
      <div class="flex-1">
        <div
          th:each="archive : ${archives}"
          th:if="not ${theme.config?.archives_page_styles?.is_collapse_post_list_by_publication_year_and_month}"
        >
          <h2 th:text="${archive.year}"></h2>
          <th:block th:each="month : ${archive.months}">
            <th:block th:insert="~{fragments/post-list/simple :: post-list(posts = ${month.posts})}"> </th:block>
          </th:block>
        </div>

        <div
          th:each="archive : ${archives}"
          th:if="${theme.config?.archives_page_styles?.is_collapse_post_list_by_publication_year_and_month}"
        >
          <h2 onclick="toggleVisibility(this)" class="cursor-pointer">
            <span th:text="${archive.year}"></span>
            <i class="iconify iconify-large" data-icon="mdi:chevron-right" style="display: inline"></i>
            <i class="iconify iconify-large" data-icon="mdi:chevron-down" style="display: none"></i>
          </h2>
          <ul class="m-0 flex-auto p-0" style="display: none">
            <th:block th:each="month : ${archive.months}">
              <div class="month-container ml-7 flex">
                <h3 class="-mt-2 flex-none cursor-pointer no-underline" onclick="toggleVisibility(this)">
                  <span th:text="${month.month}" class="underline"></span>
                  <i class="iconify iconify-large" data-icon="mdi:chevron-right" style="display: inline"></i>
                  <i class="iconify iconify-large" data-icon="mdi:chevron-down" style="display: none"></i>
                </h3>
                <ul class="common-post-list flex-auto" style="display: none">
                  <li class="post-item" th:each="post : ${month.posts}">
                    <div class="meta">
                      <time
                        th:datetime="${post.spec?.publishTime}"
                        itemprop="datePublished"
                        th:text="${#temporals.format(post.spec?.publishTime, 'dd')}"
                        >文章发布时间替换位</time
                      >
                    </div>
                    <div class="line-clamp-1">
                      <a class="post-title" th:href="@{${post.status?.permalink}}" th:text="${post.spec?.title}"></a>
                    </div>
                  </li>
                </ul>
              </div>
            </th:block>
          </ul>
          <script vite-ignore th:inline="javascript">
            function toggleVisibility(element) {
              const caretRight = element.querySelector('[data-icon="mdi:chevron-right"]');
              const caretDown = element.querySelector('[data-icon="mdi:chevron-down"]');
              const nextElement = element.nextElementSibling;
              const duration_of_expand_collapse_animation = /*[(${theme.config?.archives_page_styles?.duration_of_expand_collapse_animation})]*/ 200;

              if (!nextElement) {
                return;
              }

              if (window.isVisible(nextElement)) {
                window.slideUp(nextElement, duration_of_expand_collapse_animation);
                caretRight.style.display = "inline";
                caretDown.style.display = "none";
              } else {
                window.slideDown(nextElement, duration_of_expand_collapse_animation);
                caretRight.style.display = "none";
                caretDown.style.display = "inline";
              }
            }
          </script>
        </div>
      </div>
      <th:block th:insert="~{fragments/pagination :: pagination(posts=${archives})}"></th:block>
    </div>
  </body>
</th:block>
