<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = #{page.archives.page-title},
    head = ~{:: headContent},
    content = ~{:: content},
    header = ~{components/header/template :: body},
    navbar = ~{}
  )}"
>
  <head>
    <meta
      name="description"
      th:attr="content=${#strings.isEmpty(theme.config?.archives_page_styles?.description) ? site?.seo?.description : theme.config?.archives_page_styles?.description}"
    />
    <script src="/src/scripts/pages/archives.ts" type="module"></script>
    <th:block th:insert="~{components/list-post-simple/template :: head}"></th:block>
    <th:block th:insert="~{components/pagination/template :: headContent}"></th:block>
  </head>
  <body>
    <div id="archive" class="content flex-auto">
      <div class="flex-1">
        <div
          th:each="archive : ${archives}"
          th:unless="${theme.config?.archives_page_styles?.is_collapse_post_list_by_publication_year_and_month}"
        >
          <h2 th:text="${archive.year}"></h2>
          <th:block th:each="month : ${archive.months}">
            <th:block
              th:insert="~{components/list-post-simple/template :: body(posts = ${month.posts}, pageTemplateName = 'archives')}"
            >
            </th:block>
          </th:block>
        </div>

        <div
          th:if="${theme.config?.archives_page_styles?.is_collapse_post_list_by_publication_year_and_month}"
          th:data-d="${theme.config?.archives_page_styles?.duration_of_expand_collapse_animation}"
          id="d"
        >
          <div th:each="archive : ${archives}">
            <h2 class="v-cursor-pointer">
              <span th:text="${archive.year}"></span>
              <span class="iconify iconify-large mdi--chevron-right"></span>
              <span class="iconify iconify-large mdi--chevron-down" style="display: none"></span>
            </h2>
            <ul class="m-0 flex-auto p-0" style="display: none">
              <th:block th:each="month : ${archive.months}">
                <div class="month-container ml-7 flex">
                  <h3 class="v-cursor-pointer -mt-2 flex-none no-underline">
                    <span th:text="${month.month}" class="underline"></span>
                    <span class="iconify iconify-large mdi--chevron-right"></span>
                    <span class="iconify iconify-large mdi--chevron-down" style="display: none"></span>
                  </h3>
                  <ul class="common-post-list flex-auto" style="display: none">
                    <li class="post-item" th:each="post : ${month.posts}">
                      <div
                        th:if="${theme.config?.archives_page_styles?.is_show_post_pubdate_in_post_list}"
                        class="meta"
                      >
                        <time
                          th:datetime="${post.spec?.publishTime}"
                          itemprop="datePublished"
                          th:text="${#temporals.format(post.spec?.publishTime, 'dd')}"
                          >文章发布时间替换位</time
                        >
                      </div>
                      <div class="line-clamp-1">
                        <a class="post-title" th:href="@{${post.status?.permalink}}" th:text="${post.spec?.title}"></a>
                      </div>
                    </li>
                  </ul>
                </div>
              </th:block>
            </ul>
            <script type="module">
              import { isVisible } from "/src/scripts/utils/animations";
              import { slideDown } from "/src/scripts/utils/animations/slide-down";
              import { slideUp } from "/src/scripts/utils/animations/slide-up";

              function toggleVisibility(element, duration_of_expand_collapse_animation) {
                const caretRight = element.querySelector(".mdi--chevron-right");
                const caretDown = element.querySelector(".mdi--chevron-down");
                const nextElement = element.nextElementSibling;

                if (!nextElement) {
                  return;
                }

                if (isVisible(nextElement)) {
                  slideUp(nextElement, duration_of_expand_collapse_animation);
                  // remove the inline display style
                  caretRight.style.removeProperty("display");
                  caretDown.style.display = "none";
                } else {
                  slideDown(nextElement, duration_of_expand_collapse_animation);
                  caretRight.style.display = "none";
                  // remove the inline display style
                  caretDown.style.removeProperty("display");
                }
              }

              document.addEventListener("click", (e) => {
                // Only handle click events on h2 and h3 elements (and their children) within #d
                const header = e.target.closest("#d h2, #d h3");
                if (header) {
                  toggleVisibility(header, header.closest("#d").dataset.d);
                }
              });
            </script>
          </div>
        </div>
      </div>
      <th:block th:insert="~{components/pagination/template :: content(${archives})}"></th:block>
    </div>
  </body>
</th:block>
