<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${site.title},
    head = ~{::headContent},
    content = ~{::content},
    header = ~{components/header/template :: content},
    navbar = ~{}
  )}"
>
  <head>
    <link
      th:if="${pluginFinder.available('PluginFeed')}"
      rel="alternate"
      type="application/rss+xml"
      th:title="'Posts - Author: ' + ${author.spec.displayName}"
      th:href="@{'/feed/authors/' + ${author.metadata?.name} + '.xml'}"
    />
    <script src="/src/scripts/pages/author.ts" type="module"></script>
    <th:block th:insert="~{components/list-post-simple/template :: headContent(showPagination = true)}"></th:block>
  </head>
  <body>
    <article class="author" itemscope itemtype="http://schema.org/BlogPosting">
      <section class="about">
        <div class="relative">
          <div
            class="head-cover absolute inset-x-0 inset-y-0 -z-20"
            th:style="|background-image: url(${#annotations.getOrDefault(author, 'higan.howiehz.top/author-header-image', '')});|"
          ></div>
          <div class="profile-wrap z-20">
            <div class="profile-content">
              <picture>
                <source
                  th:with="defaultAvifAvatar=${#theme.assets('/images/logo.avif')},
                          avatarUri=${#strings.defaultString(author.spec.avatar, defaultAvifAvatar)},
                          ext=${avatarUri.substring(avatarUri.lastIndexOf('.') + 1).toLowerCase()},
                          imageType=${ext == 'avif' ? 'image/avif' : 
                            (ext == 'webp' ? 'image/webp' : 
                            (ext == 'png' ? 'image/png' : 
                            (ext == 'apng' ? 'image/apng' : 
                            ((ext == 'jpg' or ext == 'jpeg' or ext == 'jfif' or ext == 'pjpeg' or ext == 'pjp') ? 'image/jpeg' : 
                            (ext == 'gif' ? 'image/gif' : 
                            (ext == 'svg' ? 'image/svg+xml' : 
                            (ext == 'bmp' ? 'image/bmp' : 
                            ((ext == 'ico' or ext == 'cur') ? 'image/x-icon' : 
                            ((ext == 'tif' or ext == 'tiff') ? 'image/tiff' : 
                            'image/png')))))))))}"
                  th:srcset="|${thumbnail.gen(avatarUri, 's')} 400w|"
                  sizes="400px"
                  th:type="${imageType}"
                />
                <source
                  th:with="defaultWebpAvatar=${#theme.assets('/images/logo.webp')}"
                  th:srcset="|${thumbnail.gen(defaultWebpAvatar, 's')} 400w|"
                  sizes="400px"
                  type="image/webp"
                />
                <img
                  th:with="defaultPngAvatar=${#theme.assets('/images/logo.png')}"
                  th:src="${defaultPngAvatar}"
                  th:srcset="|${thumbnail.gen(defaultPngAvatar, 's')} 400w|"
                  sizes="400px"
                  class="profile-avatar"
                  width="100%"
                  height="100%"
                  th:alt="#{page.author.avatar-img.alt}"
                />
              </picture>
              <div class="profile-nickname-container">
                <p class="profile-nickname">
                  <span th:text="${author.spec.displayName}">作者名填充位置</span>
                  <th:block
                    th:if="${pluginFinder.available('PluginFeed') and theme.config?.author_page_styles?.is_show_rss_button}"
                  >
                    <a
                      class="icon"
                      th:aria-label="#{common.subscribeThisPage}"
                      th:href="@{'/feed/authors/' + ${author.metadata?.name} + '.xml'}"
                      target="_blank"
                      rel="noopener"
                    >
                      <span class="iconify iconify-middle heroicons-outline--rss"></span
                    ></a>
                  </th:block>
                </p>
                <p class="profile-bio" th:text="${author.spec.bio}"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="mt-16 flex flex-auto flex-col sm:mt-20">
        <th:block
          th:insert="~{components/list-post-simple/template :: content(posts = ${posts}, showPagination = true)}"
        ></th:block>
      </div>
    </article>
  </body>
</th:block>
