<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${#annotations.getOrDefault(category, 'higan.howiehz.top/page-title', category.spec?.displayName)}, 
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{fragments/header :: content}, 
    navbar = ~{}, 
    language=${#annotations.get(category, 'higan.howiehz.top/page-language')} 
  )}"
>
  <head>
    <link
      th:if="${pluginFinder.available('PluginFeed')}"
      rel="alternate"
      type="application/rss+xml"
      th:title="'Posts - Category: ' + ${category.spec?.displayName}"
      th:href="@{'/feed/categories/' + ${category.spec?.slug} + '.xml'}"
    />
    <script src="/src/scripts/pages/category.ts" type="module"></script>
    <th:block th:insert="~{components/list-post-simple/template :: headContent(showPagination = true)}"></th:block>
  </head>
  <body>
    <div id="archive" class="content flex-auto">
      <h1>
        <span th:text="#{page.category.title(${category.spec?.displayName})}">分类页标题替换位</span>
        <th:block
          th:if="${pluginFinder.available('PluginFeed') and theme.config?.category_page_styles?.is_show_rss_button}"
        >
          <a
            class="icon"
            th:aria-label="#{common.subscribeThisPage}"
            th:href="@{'/feed/categories/' + ${category.spec?.slug} + '.xml'}"
            target="_blank"
            rel="noopener"
          >
            <span class="iconify iconify-huge heroicons-outline--rss"></span
          ></a>
        </th:block>
      </h1>

      <th:block
        th:insert="~{components/list-post-simple/template :: content(posts = ${posts}, showPagination = true)}"
      ></th:block>
    </div>
  </body>
</th:block>
