<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = #{page.categories.page-title},
    head = ~{:: headContent},
    content = ~{:: content},
    header = ~{components/header/template :: content},
    navbar = ~{}
  )}"
>
  <head>
    <meta
      name="description"
      th:attr="content=${#strings.isEmpty(theme.config?.categories_page_styles?.description) ? site?.seo?.description : theme.config?.categories_page_styles?.description}"
    />
    <script src="/src/scripts/main-with-header.ts" type="module"></script>
  </head>
  <body>
    <h1>
      <th:block th:text="#{page.categories.title}">标题替换位</th:block>
    </h1>
    <ul th:unless="${#lists.isEmpty(categories)}" class="flex-auto">
      <li th:replace="~{fragments/category-tree :: single(categories=${categories})}"></li>
    </ul>
  </body>
</th:block>
