<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = #{page.friends.page-title}, 
    head = ~{:: headContent},
    content = ~{:: content}, 
    header = ~{components/header/template :: content}, 
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/scripts/pages/friends.ts" type="module"></script>
    <th:block th:insert="~{components/list-friends-summary/template :: headContent(friends = ${friends})}"></th:block>
  </head>
  <body>
    <article id="friends" class="friends" itemscope itemtype="http://schema.org/CollectionPage">
      <h1>
        <a th:href="@{/friends}" th:text="#{page.friends.title}">朋友圈标题替换位</a>
      </h1>
      <th:block
        th:insert="~{components/list-friends-summary/template :: content(friends = ${friends}, pageTemplateName = 'friends')}"
      ></th:block>
    </article>
  </body>
</th:block>
