<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${#strings.isEmpty(theme.config?.index_styles?.page_html_title) ? site.title : theme.config?.index_styles?.page_html_title}, 
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{fragments/header::content}, 
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/pages/index.ts" type="module"></script>
  </head>
  <body>
    <section id="about">
      <th:block th:if="${theme.config?.index_styles?.hitokoto}">
        <script th:src="${theme.config?.index_styles?.hitokoto_link}" defer></script>
        <p class="hitokoto"></p>
      </th:block>
      <th:block
        th:if="${theme.config?.index_styles?.is_random_sentence_show} and ${not #lists.isEmpty(theme.config?.index_styles?.random_sentence_list)}"
      >
        <p
          th:with="randomIndex=${T(java.lang.Math).floor(T(java.lang.Math).random() * #lists.size(theme.config?.index_styles?.random_sentence_list))}"
          id="randomSentence"
          th:text="${theme.config?.index_styles?.random_sentence_list[randomIndex]['sentence']}"
        ></p>
      </th:block>
      <th:block th:if="${theme.config?.index_styles?.is_resume_show}">
        <p
          class="blog-description"
          th:with="defaultResume=${#strings.defaultString(site?.seo?.description, '')}"
          th:utext="${#strings.defaultString(theme.config?.index_styles?.resume, defaultResume)}"
        ></p>
      </th:block>
      <th:block
        th:if="${theme.config?.index_styles?.is_i18n_resume_show}"
        th:with="resumeItems = ${theme.config?.index_styles?.i18n_resume}"
      >
        <th:block th:if="not ${theme.config?.global?.is_i18n_prefix_match_mode}">
          <!--/* i18n 公告栏 全等匹配模式 */-->
          <th:block th:each="resumeItem : ${resumeItems}">
            <th:block th:if="${#strings.equals(resumeItem.lang, page_language}">
              <p
                class="blog-description matched-resume"
                th:with="defaultResume=${#strings.defaultString(site?.seo?.description, '')}"
                th:utext="${#strings.defaultString(resumeItem.resume, defaultResume)}"
              ></p>
            </th:block>
          </th:block>
        </th:block>

        <th:block th:if="${theme.config?.global?.is_i18n_prefix_match_mode}">
          <!--/* i18n 公告栏 前缀匹配模式 */-->
          <th:block th:each="resumeItem : ${resumeItems}">
            <th:block th:if="${#strings.startsWith(page_language, resumeItem.lang)}">
              <p
                class="blog-description matched-resume"
                th:with="defaultResume=${#strings.defaultString(site?.seo?.description, '')}"
                th:utext="${#strings.defaultString(resumeItem.resume, defaultResume)}"
              ></p>
            </th:block>
          </th:block>
        </th:block>

        <!--/* i18n 公告栏 全等匹配模式 匹配默认公告栏 */-->
        <th:block th:each="resumeItem : ${resumeItems}">
          <th:block th:if="${#strings.equals(resumeItem.lang, theme.config?.global?.default_page_language)}">
            <p
              class="blog-description default-resume"
              style="display: none"
              th:with="defaultResume=${#strings.defaultString(site?.seo?.description, '')}"
              th:utext="${#strings.defaultString(resumeItem.resume, defaultResume)}"
            ></p>
          </th:block>
        </th:block>
      </th:block>
    </section>

    <p id="findMe" th:if="${not #arrays.isEmpty(theme?.config?.sns?.index_sns)}">
      <th:block th:text="#{page.index.findMeLeftText}" th:if="${theme.config?.index_styles?.is_show_find_me_left_text}">
        社交资料图标左侧文字替换位</th:block
      >
      <th:block th:each="item : ${theme?.config?.sns?.index_sns}">
        <th:block
          th:if="${not #strings.equals(item?.type['type'], 'text')} and ${not #strings.equals(item?.type['type'], 'custom_sns')}"
        >
          <a
            class="icon"
            th:href="@{${item?.type['url']}+${item?.input_value}}"
            target="_blank"
            th:attr="aria-label=${item?.type['aria-label']}"
          >
            <i class="iconify iconify-middle" th:attr="data-icon=${item?.type['data-icon']}"></i>
          </a>
        </th:block>
        <th:block th:if="${#strings.equals(item?.type['type'], 'text')}">[(${item?.input_value})]</th:block>
        <th:block th:if="${#strings.equals(item?.type['type'], 'custom_sns')}">
          <th:block
            th:each="custom_sns_item : ${theme?.config?.sns?.custom_sns}"
            th:if="${item?.input_value == custom_sns_item?.id}"
          >
            <a
              class="icon"
              th:href="@{${custom_sns_item?.url}}"
              target="_blank"
              th:attr="aria-label=${custom_sns_item?.aria_label}"
            >
              <i class="iconify iconify-middle" th:attr="data-icon=${custom_sns_item?.icon}"></i>
            </a>
          </th:block>
        </th:block>
      </th:block>
    </p>

    <th:block th:if="${theme?.config.index_styles?.list_layout=='post-list-summary'}">
      <span class="h1" th:if="${theme.config?.index_styles?.is_show_index_post_list_title}">
        <a th:href="@{/archives}" th:text="#{page.index.postListTitle}">首页文章列表标题替换位</a>
      </span>
      <th:block th:insert="~{fragments/posts :: post-list-summary(${posts})}"></th:block>
    </th:block>
    <th:block th:if="${theme?.config.index_styles?.list_layout=='simple-post-list'}">
      <span class="h1" th:if="${theme.config?.index_styles?.is_show_index_post_list_title}">
        <a th:href="@{/archives}" th:text="#{page.index.postListTitle}">首页文章列表标题替换位</a>
      </span>
      <th:block th:insert="~{fragments/posts :: simple-post-list(posts= ${posts}, showPagination = true)}"></th:block>
    </th:block>
    <th:block th:if="${theme?.config.index_styles?.list_layout=='moment-list-summary'}">
      <th:block th:if="${pluginFinder.available('PluginMoments')}">
        <th:block
          th:insert="~{fragments/moments :: moment-list-summary(
            moments=${momentFinder.list(
              posts.page,
              theme.config?.index_styles?.moment_list_page_size)},
            isIndexPage=true
          )}"
        ></th:block>
      </th:block>
    </th:block>
  </body>
</th:block>
