<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${#strings.isEmpty(theme.config?.index_styles?.page_html_title) ? site.title : theme.config?.index_styles?.page_html_title}, 
    head = ~{:: headContent},
    content = ~{:: content}, 
    header = ~{components/header/template :: content}, 
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/scripts/pages/index.ts" type="module"></script>
    <th:block th:if="${theme.config?.index_styles?.list_layout == 'post-list-summary'}">
      <th:block th:insert="~{components/list-post-summary/template :: headContent}"></th:block>
    </th:block>
    <th:block th:if="${theme.config?.index_styles?.list_layout == 'simple-post-list'}">
      <th:block th:insert="~{components/list-post-simple/template :: headContent(showPagination = true)}"></th:block>
    </th:block>
    <th:block
      th:if="${theme.config?.index_styles?.list_layout == 'moment-list-summary'
               and pluginFinder.available('PluginMoments')}"
    >
      <th:block
        th:insert="~{components/list-moment-summary/template :: headContent(
                       moments=${momentFinder.list(
                         posts.page,
                         theme.config?.index_styles?.moment_list_page_size
                       )}
                   )}"
      ></th:block>
    </th:block>
    <th:block
      th:if="${theme.config?.index_styles?.list_layout == 'friends-list-summary'
               and pluginFinder.available('plugin-friends')}"
    >
      <th:block
        th:insert="~{components/list-friends-summary/template :: headContent(
                       friends=${friendFinder.list({
                         page: posts.page,
                         size: theme.config?.index_styles?.friends_list_page_size
                       })}
                   )}"
      ></th:block>
    </th:block>
  </head>
  <body>
    <section id="about">
      <th:block th:if="${theme.config?.index_styles?.hitokoto}">
        <script th:src="${theme.config?.index_styles?.hitokoto_link}" defer></script>
        <p class="hitokoto"></p>
      </th:block>
      <th:block
        th:if="${theme.config?.index_styles?.is_random_sentence_show and !#lists.isEmpty(theme.config?.index_styles?.random_sentence_list)}"
      >
        <p
          th:with="randomIndex = ${T(java.lang.Math).floor(T(java.lang.Math).random() * #lists.size(theme.config?.index_styles?.random_sentence_list))}"
          id="randomSentence"
          th:text="${theme.config?.index_styles?.random_sentence_list[randomIndex]['sentence']}"
        ></p>
      </th:block>
      <th:block th:if="${theme.config?.index_styles?.is_resume_show}">
        <p
          class="blog-description"
          th:with="defaultResume = ${#strings.defaultString(site?.seo?.description, '')}"
          th:utext="${#strings.defaultString(theme.config?.index_styles?.resume, defaultResume)}"
        ></p>
      </th:block>
      <th:block
        th:if="${theme.config?.index_styles?.is_i18n_resume_show}"
        th:with="resumeItems = ${theme.config?.index_styles?.i18n_resume}"
      >
        <th:block th:unless="${theme.config?.global?.is_i18n_prefix_match_mode}">
          <!--/* i18n 公告栏 全等匹配模式 */-->
          <th:block th:each="resumeItem : ${resumeItems}">
            <th:block th:if="${#strings.equals(resumeItem.lang, page_language)}">
              <p
                class="blog-description matched-resume"
                th:with="defaultResume = ${#strings.defaultString(site?.seo?.description, '')}"
                th:utext="${#strings.defaultString(resumeItem.resume, defaultResume)}"
              ></p>
            </th:block>
          </th:block>
        </th:block>

        <th:block th:if="${theme.config?.global?.is_i18n_prefix_match_mode}">
          <!--/* i18n 公告栏 前缀匹配模式 */-->
          <th:block th:each="resumeItem : ${resumeItems}">
            <th:block
              th:if="${page_language != null
                       and resumeItem.lang != null
                       and #strings.startsWith(page_language, resumeItem.lang)}"
            >
              <p
                class="blog-description matched-resume"
                th:with="defaultResume = ${#strings.defaultString(site?.seo?.description, '')}"
                th:utext="${#strings.defaultString(resumeItem.resume, defaultResume)}"
              ></p>
            </th:block>
          </th:block>
        </th:block>

        <!--/* i18n 公告栏 全等匹配模式 匹配默认公告栏 */-->
        <th:block th:each="resumeItem : ${resumeItems}">
          <th:block th:if="${#strings.equals(resumeItem.lang, theme.config?.global?.default_page_language)}">
            <p
              class="blog-description default-resume"
              style="display: none"
              th:with="defaultResume = ${#strings.defaultString(site?.seo?.description, '')}"
              th:utext="${#strings.defaultString(resumeItem.resume, defaultResume)}"
            ></p>
          </th:block>
        </th:block>
      </th:block>
    </section>

    <p id="findMe" th:unless="${#arrays.isEmpty(theme.config?.sns?.index_sns)}">
      <th:block th:text="#{page.index.findMeLeftText}" th:if="${theme.config?.index_styles?.is_show_find_me_left_text}">
        社交资料图标左侧文字替换位</th:block
      >
      <th:block th:each="item : ${theme.config?.sns?.index_sns}">
        <th:block
          th:unless="${#strings.equals(item?.type['type'], 'text') or #strings.equals(item?.type['type'], 'custom_sns')}"
        >
          <a
            class="icon"
            th:href="@{${item?.type['url']}+${item?.input_value}}"
            target="_blank"
            th:attr="aria-label=${item?.type['aria-label']}"
          >
            <span
              class="iconify iconify-middle heroicons-outline--rss"
              th:if="${#strings.equals(item?.type['type'], 'rss')}"
            ></span>
            <span
              class="iconify iconify-middle simple-icons--bilibili"
              th:if="${#strings.equals(item?.type['type'], 'bilibili')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--dribbble-circle-filled"
              th:if="${#strings.equals(item?.type['type'], 'dribbble')}"
            ></span>
            <span
              class="iconify iconify-middle ic--outline-email"
              th:if="${#strings.equals(item?.type['type'], 'email')}"
            ></span>
            <span
              class="iconify iconify-middle ic--baseline-facebook"
              th:if="${#strings.equals(item?.type['type'], 'facebook')}"
            ></span>
            <span
              class="iconify iconify-middle mdi--github"
              th:if="${#strings.equals(item?.type['type'], 'github')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--instagram-filled"
              th:if="${#strings.equals(item?.type['type'], 'instagram')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--qq-circle-filled"
              th:if="${#strings.equals(item?.type['type'], 'qq')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--reddit-circle-filled"
              th:if="${#strings.equals(item?.type['type'], 'reddit')}"
            ></span>
            <span
              class="iconify iconify-middle mdi--stack-overflow"
              th:if="${#strings.equals(item?.type['type'], 'stack_overflow')}"
            ></span>
            <span
              class="iconify iconify-middle ic--baseline-telegram"
              th:if="${#strings.equals(item?.type['type'], 'telegram')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--twitter-circle-filled"
              th:if="${#strings.equals(item?.type['type'], 'x')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--youtube-filled"
              th:if="${#strings.equals(item?.type['type'], 'youtube')}"
            ></span>
            <span
              class="iconify iconify-middle ri--douban-line"
              th:if="${#strings.equals(item?.type['type'], 'douban')}"
            ></span>
            <span
              class="iconify iconify-middle simple-icons--neteasecloudmusic"
              th:if="${#strings.equals(item?.type['type'], 'neteasecloudmusic')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--weibo-circle-filled"
              th:if="${#strings.equals(item?.type['type'], 'weibo')}"
            ></span>
            <span
              class="iconify iconify-middle ant-design--zhihu-circle-filled"
              th:if="${#strings.equals(item?.type['type'], 'zhihu')}"
            ></span>
          </a>
        </th:block>
        <th:block th:if="${#strings.equals(item?.type['type'], 'text')}">[(${item?.input_value})]</th:block>
        <th:block th:if="${#strings.equals(item?.type['type'], 'custom_sns')}">
          <th:block
            th:each="custom_sns_item : ${theme.config?.sns?.custom_sns}"
            th:if="${item?.input_value == custom_sns_item?.id}"
          >
            <a
              class="icon"
              th:href="@{${custom_sns_item?.url}}"
              target="_blank"
              th:attr="aria-label=${custom_sns_item?.aria_label}"
            >
              <span class="iconify iconify-middle" th:style="|--svg:url('${custom_sns_item?.icon.value}')|"></span>
            </a>
          </th:block>
        </th:block>
      </th:block>
    </p>

    <th:block th:if="${theme.config?.index_styles?.list_layout == 'post-list-summary'}">
      <span class="h1" th:if="${theme.config?.index_styles?.is_show_index_post_list_title}">
        <a th:href="@{/archives}" th:text="#{page.index.postListTitle}">首页文章列表标题替换位</a>
      </span>
      <th:block
        th:insert="~{components/list-post-summary/template :: content(posts = ${posts}, pageTemplateName = 'index')}"
      ></th:block>
    </th:block>
    <th:block th:if="${theme.config?.index_styles?.list_layout == 'simple-post-list'}">
      <span class="h1" th:if="${theme.config?.index_styles?.is_show_index_post_list_title}">
        <a th:href="@{/archives}" th:text="#{page.index.postListTitle}">首页文章列表标题替换位</a>
      </span>
      <th:block
        th:insert="~{components/list-post-simple/template :: content(posts = ${posts}, showPagination = true, pageTemplateName = 'index')}"
      ></th:block>
    </th:block>
    <th:block th:if="${theme.config?.index_styles?.list_layout == 'moment-list-summary'}">
      <th:block th:if="${pluginFinder.available('PluginMoments')}">
        <th:block
          th:insert="~{components/list-moment-summary/template :: content(
            moments = ${momentFinder.list(
              posts.page,
              theme.config?.index_styles?.moment_list_page_size)},
            pageTemplateName = 'index'
          )}"
        ></th:block>
      </th:block>
      <th:block th:unless="${pluginFinder.available('PluginMoments')}">
        <p th:text="#{page.index.momentsPluginNotAvailable}">插件未启用提示替换位</p>
        <p>
          [[#{page.index.momentsPluginNotAvailableDescription}]]<a
            th:text="#{page.index.momentsPluginDocsLinkText}"
            th:href="#{page.index.momentsPluginDocsLink}"
            rel="noopener"
            target="_blank"
          ></a>
        </p>
      </th:block>
    </th:block>
    <th:block th:if="${theme.config?.index_styles?.list_layout == 'friends-list-summary'}">
      <th:block th:if="${pluginFinder.available('plugin-friends')}">
        <th:block
          th:insert="~{components/list-friends-summary/template :: content(
            friends = ${friendFinder.list({
              page: posts.page,
              size: theme.config?.index_styles?.friends_list_page_size})},
            pageTemplateName = 'index'
          )}"
        ></th:block>
      </th:block>
      <th:block th:unless="${pluginFinder.available('plugin-friends')}">
        <p th:text="#{page.index.friendsPluginNotAvailable}">插件未启用提示替换位</p>
        <p>
          [[#{page.index.friendsPluginNotAvailableDescription}]]<a
            th:text="#{page.index.friendsPluginDocsLinkText}"
            th:href="#{page.index.friendsPluginDocsLink}"
            rel="noopener"
            target="_blank"
          ></a>
        </p>
      </th:block>
    </th:block>
  </body>
</th:block>
