<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${title}, 
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{fragments/header::content}, 
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/pages/moment.ts" type="module"></script>
  </head>
  <th:block th:fragment="content">
    <th:block th:insert="~{fragments/moments :: moment-list-summary(moments=${moments}, isIndexPage=false)}"></th:block>
  </th:block>
</th:block>
