<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${title}, 
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{fragments/header::content}, 
    navbar = ~{}
  )}"
>
  <head>
    <link
      th:if="${pluginFinder.available('PluginFeed')}"
      rel="alternate"
      type="application/rss+xml"
      title="Moments - All"
      th:href="@{'/moments/rss.xml'}"
    />
    <script src="/src/pages/moment.ts" type="module"></script>
  </head>
  <body>
    <th:block th:insert="~{fragments/moments :: moment-list-summary(moments=${moments}, isIndexPage=false)}"></th:block>
  </body>
</th:block>
