<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${title}, 
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{fragments/header :: content}, 
    navbar = ~{}
  )}"
>
  <head>
    <link
      th:if="${pluginFinder.available('PluginFeed')}"
      rel="alternate"
      type="application/rss+xml"
      title="Moments - All"
      th:href="@{'/moments/rss.xml'}"
    />
    <script src="/src/scripts/pages/moments.ts" type="module"></script>
    <th:block th:insert="~{components/list-moment-summary/template :: headContent}"></th:block>
  </head>
  <body>
    <th:block
      th:insert="~{components/list-moment-summary/template :: content(moments=${moments}, isIndexPage=false)}"
    ></th:block>
  </body>
</th:block>
