<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${#annotations.getOrDefault(singlePage, 'higan.howiehz.top/page-title', singlePage.spec?.title)}, 
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{}, 
    navbar = ~{fragments/page-like-post-style-nav::navbar}, 
    language = ${#annotations.get(singlePage, 'higan.howiehz.top/page-language')}
  )}"
>
  <head>
    <script src="/src/scripts/pages/page_like_post_style.ts" type="module"></script>
  </head>
  <body>
    <!--/*/
    <style
      th:inline="css"
      th:if="${theme.config?.post_styles?.is_custom_toc_max_width}"
    >
      #header-post #toc {
        max-width: /*[(${theme.config?.post_styles?.toc_max_width})]*/ 20em;
      }
    </style>
    /*/-->
    <style th:if="${theme.config?.custom_page_styles?.is_optimize_content_paragraph_spacing}">
      .content > p {
        min-height: 1.1em;
      }
    </style>
    <!--/* 默认编辑器插入图片会有一个 display: inline-block，以及其他样式，因此需要排除避免产生以外缩进 */-->
    <!--/*/
    <style
      th:inline="css"
      th:if="${theme.config?.custom_page_styles?.is_enable_paragraph_first_line_indent}"
    >
      .content > p:not(:has(img:only-child)) {
        text-indent: /*[(${theme.config?.custom_page_styles?.paragraph_first_line_indent_value})]*/ 2em;
      }
    </style>
    /*/-->
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1>
          <th:block th:text="${singlePage.spec?.title}">标题替换位</th:block
          ><th:block th:replace="~{fragments/common :: theme-toggle-button}"></th:block>
        </h1>
        <div class="meta">
          <!--/* 预计阅读时长 
          inline-block 保证图标和数字在一行 */-->
          <span
            class="inline-block"
            th:if="${theme.config?.custom_page_styles?.is_show_post_estimated_reading_time}"
            th:with="wordCount = ${pluginFinder.available('extra-api', '3.*') ? 
              extraApiStatsFinder.getContentWordCount(singlePage.content?.content) : #strings.length(singlePage.content?.content)/2 }"
            th:title="#{page.post.estimated-reading-time(#{common.words(${wordCount})})}"
          >
            <span class="iconify" data-icon="mdi:clock-outline" data-inline="false"></span>
            <span
              class="readtime"
              th:text="#{common.min(${#numbers.formatDecimal(wordCount * 1.0 / 450, 1, 1) + '~' + #numbers.formatDecimal(wordCount * 1.0 / 350, 1, 1)})}"
            >
              文章预计阅读时间替换位
            </span>
          </span>

          <!--/* 字数统计 
          inline-block 保证图标和数字在一行 */-->
          <span
            class="inline-block"
            th:if="${theme.config?.custom_page_styles?.is_show_post_word_count}"
            th:with="wordCount = ${pluginFinder.available('extra-api', '3.*') ? 
              extraApiStatsFinder.getContentWordCount(singlePage.content?.content) : #strings.length(singlePage.content?.content)/2 }"
            th:title="|#{page.post.word-count} #{common.words(${wordCount})}|"
          >
            <span class="iconify" data-icon="fluent:text-edit-style-character-a-32-regular" data-inline="false"></span>
            <span class="word-count" th:text="${wordCount}">文章字数替换位</span>
          </span>
        </div>
      </header>

      <div class="content flex-auto" itemprop="articleBody" th:utext="${singlePage.content?.content}">
        singlePage formatted content
      </div>
      <th:block th:if="${theme.config?.custom_page_styles?.is_dividing_line_at_the_end_of_content_show}">
        <hr class="divide my-10" />
      </th:block>
      <th:block th:if="${theme.config?.custom_page_styles?.is_custom_page_comment_section_show}">
        <div class="post-comment" th:if="${haloCommentEnabled}">
          <halo:comment group="content.halo.run" kind="SinglePage" th:name="${singlePage.metadata?.name}" />
        </div>
      </th:block>
    </article>
    <div th:replace="~{fragments/page-footer-nav :: footerNav}"></div>
    <script type="module">
      import { isMobile } from "/src/scripts/utils/device.ts";
      import { initTOC } from "/src/scripts/utils/toc.ts";

      document.addEventListener("DOMContentLoaded", function () {
        // <!--/* generate toc
        // wontfix：如果电脑屏幕较窄，文章页用的是底部导航栏，目录按钮按了之后不会显示目录
        // 但是目录按钮在手机端是正常的，为了保证性能，不做特殊处理 */-->
        initTOC("article > .content", isMobile() ? "#toc-footer" : "#toc");
      });
    </script>
  </body>
</th:block>
