<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${title},
    head = ~{:: headContent},
    content = ~{:: content}, 
    header = ~{components/header/template :: content}, 
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/scripts/pages/photos.ts" type="module"></script>
  </head>
  <body>
    <article class="photos post" itemscope itemtype="http://schema.org/BlogPosting">
      <script
        vite-ignore
        type="module"
        th:inline="javascript"
        th:if="${theme.config?.photos_styles?.is_enable_masonry_layout}"
      >
        class Waterfall {
          constructor(options) {
            this.$el = options.$el || null; // <!--/* 父容器 */-->
            this.columns = options.columns || 4; // <!--/* 列数 */-->
            this.gap = options.gap || 10; // <!--/* 间距 */-->
            this.width = 0; // <!--/* 的宽度 */-->
            this.items = []; // <!--/* 子元素集合 */-->
            this.nextImageIndex = 0; // <!--/* 存储下一个需要加载的图片的 index */-->
            this.totalImages = 0; // <!--/* 存储一共有多少张图片 */-->
            this.H = []; // <!--/* 存储每列的高度方便计算 */-->
            this.flag = null; // <!--/* 虚拟节点集合 */-->
            this.init();
          }
          init() {
            if (this.$el) {
              this.addChildren(Array.from(this.$el.children));
            } else {
              throw new Error("Parent container element not found");
            }
          }
          addChildren(children) {
            if (!Array.isArray(children)) {
              throw new Error("Children should be an array");
            }
            children.forEach((child) => {
              if (!this.items.includes(child)) {
                this.$el.appendChild(child); // <!--/* appendChild 方法会将 child 元素从其当前父元素中移除（如果有的话），然后将其附加到新的父元素 this.$el 中 */-->
                this.items.push(child);
                this.totalImages++;
              }
            });
            this.reset();
            this.render();
          }
          reset() {
            this.flag = document.createDocumentFragment();
            this.width = this.$el.clientWidth / this.columns;
            this.H = new Array(this.columns).fill(0);
            this.$el.innerHTML = "";
          }
          render() {
            const { width, items, flag, H, gap } = this;
            items.forEach((item) => {
              item.style.width = `${width}px`;
              item.style.position = "absolute";
              const img = item.querySelector("img");

              if (img) {
                const placeAndAnimate = () => {
                  item.style.opacity = 0; // <!--/* 为动画做准备 */-->
                  this.placeItem(item, img, H, width, gap, flag);
                  this.updateContainerHeight(); // <!--/* 扩展上级控件高度 使得底部内容不会跑到图片底下 */-->
                  this.checkAndLoadMoreImages(); // <!--/* 检查是否可能要接着加载图片 */-->
                  requestAnimationFrame(() => {
                    // <!--/* 加载动画 fade in */-->
                    item.style.transition =
                      "opacity [(${theme.config?.photos_styles?.img_transition_duration_after_load})]s";
                    item.style.opacity = 1;
                  });
                };
                img.complete ? placeAndAnimate() : img.addEventListener("load", placeAndAnimate);
              }
            });
          }
          placeItem(item, img, H, width, gap, flag) {
            const tag = H.indexOf(Math.min(...H));
            item.style.left = `${tag * (width + gap)}px`;
            item.style.top = `${H[tag]}px`;
            H[tag] += (img.height * width) / img.width + gap;
            flag.appendChild(item);
            this.$el.append(flag);
          }
          getMaxHeight() {
            return Math.max(...this.H);
          }
          updateContainerHeight() {
            const maxHeight = this.getMaxHeight();
            this.$el.style.height = `${maxHeight}px`;
          }
          checkAndLoadMoreImages() {
            var { nextImageIndex, totalImages } = this;
            if (window.scrollY + window.innerHeight + 200 >= this.getMaxHeight()) {
              // <!--/* 读取到的高度其实还可以 +300 提前多加载点。如果这里不设置提前量，出现长一点的图片很容易旁边都是空的 */-->
              if (this.nextImageIndex < this.totalImages) {
                const img = this.items[this.nextImageIndex].querySelector("img");
                img.style.display = "block";
                // <!--/* 因为上面设置了图片加载好自动重新排版(reset and render)，所以这里只需要让图片加载出来即可 */-->
                img.loading = "eager";
                this.nextImageIndex++;
              }
            }
          }
        }

        window.onload = () => {
          const MAX_MASONRY_COLUMNS = /*[(${theme.config?.photos_styles?.max_masonry_columns})]*/ 4;
          const MIN_MASONRY_COLUMNS = /*[(${theme.config?.photos_styles?.min_masonry_columns})]*/ 1;
          const MIN_IMG_WIDTH = /*[(${theme.config?.photos_styles?.min_img_width})]*/ 300;

          function calculateColumns() {
            const width = window.innerWidth;
            const columns = Math.floor(width / MIN_IMG_WIDTH);
            return Math.max(MIN_MASONRY_COLUMNS, Math.min(columns, MAX_MASONRY_COLUMNS));
          }

          const waterfallInstance = new Waterfall({
            $el: document.querySelector(".photo-list"),
            columns: calculateColumns(),
            gap: /*[(${theme.config?.photos_styles?.masonry_gap})]*/ 10,
          });

          window.addEventListener("resize", () => {
            const newColumns = calculateColumns();
            if (newColumns !== waterfallInstance.columns) {
              waterfallInstance.columns = newColumns;
              waterfallInstance.reset();
              waterfallInstance.render();
            }
          });
          window.addEventListener("scroll", () => waterfallInstance.checkAndLoadMoreImages());
          window.addEventListener("resize", () => waterfallInstance.checkAndLoadMoreImages());

          // <!--/* 加载第一张图片，以及递归加载其他的图片 */-->
          waterfallInstance.checkAndLoadMoreImages();
        };
      </script>

      <script
        vite-ignore
        type="module"
        th:inline="javascript"
        th:if="not ${theme.config?.photos_styles?.is_enable_masonry_layout}"
      >
        const photos = document.querySelectorAll(".photo-groups img");
        var nextImageIndex = 0; // <!--/* 存储下一个需要加载的图片的 index */-->
        var totalImages = photos.length; // <!--/* 存储一共有多少张图片 */-->
        var totalheight = 0; // <!--/* 最后一张图片下边缘的位置 */-->

        photos.forEach((img) => {
          const placeAndAnimate = () => {
            // <!--/* 加载好一张图之后检查是否能继续加载 */-->
            checkAndLoadMoreImages();
            // <!--/* 加载动画 fade in */-->
            requestAnimationFrame(() => {
              img.style.transition = "opacity [(${theme.config?.photos_styles?.img_transition_duration_after_load})]s";
              img.style.opacity = 1;
            });
          };
          img.complete ? placeAndAnimate() : img.addEventListener("load", placeAndAnimate);
        });

        function checkAndLoadMoreImages() {
          if (window.scrollY + window.innerHeight + 200 >= totalheight) {
            // <!--/* 读取到的高度其实还可以 +300 提前多加载点。如果这里不设置提前量，出现长一点的图片很容易旁边都是空的 */-->
            if (nextImageIndex < totalImages) {
              const img = photos[nextImageIndex];
              img.style.display = "block";
              // <!--/* 因为上面设置了图片加载好自动重新排版(reset and render)，所以这里只需要让图片加载出来即可 */-->
              img.loading = "eager";
              totalheight = img.getBoundingClientRect().bottom;
              nextImageIndex++;
            }
          }
        }

        window.addEventListener("scroll", () => checkAndLoadMoreImages());
        window.addEventListener("resize", () => checkAndLoadMoreImages());

        checkAndLoadMoreImages();
      </script>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const content = document.querySelector(".content");

          const handleEvent = (event, attr) => {
            const img = event.target.closest(`img[${attr}]`);
            if (img && content.contains(img)) {
              const code = img.getAttribute(attr);
              executeCustomCode(code, img);
            }
          };

          content.addEventListener("mouseover", (event) => handleEvent(event, "data-img-onmouseover"));
          content.addEventListener("mouseout", (event) => handleEvent(event, "data-img-onmouseout"));

          const executeCustomCode = (code, element) => {
            if (code) {
              try {
                eval(code.replace(/this/g, "element"));
              } catch (error) {
                console.error("Error executing custom code:", error);
              }
            }
          };
        });
      </script>
      <div class="content">
        <ul class="photo-list">
          <th:block th:each="group : ${groups}" th:if="${theme.config?.photos_styles?.is_enable_masonry_layout}">
            <th:block th:each="photo : ${group.photos}">
              <li class="photo-image">
                <img
                  th:src="@{${photo.spec.url}}"
                  th:srcset="|
                  ${thumbnail.gen(photo.spec.url, 's')} 400w,
                  ${thumbnail.gen(photo.spec.url, 'm')} 800w,
                  ${thumbnail.gen(photo.spec.url, 'l')} 1200w,
                  ${thumbnail.gen(photo.spec.url, 'xl')} 1600w
                  |"
                  sizes="(max-width: 1600px) 100vw, 1600px"
                  th:title="${photo.spec.displayName}"
                  th:alt="${photo.spec.description}"
                  loading="lazy"
                  th:style="'display: none;
                    width: 100%;
                    height: auto;
                    transition: box-shadow 0.1s ease-in, box-shadow 0.3s ease-out;
                    border-radius:' + ${theme.config?.photos_styles?.img_border_radius} + ';'"
                  th:data-img-onmouseover="${theme.config?.photos_styles?.img_onmouseover}"
                  th:data-img-onmouseout="${theme.config?.photos_styles?.img_onmouseout}"
                />
              </li>
            </th:block>
          </th:block>
        </ul>

        <div
          class="photo-groups"
          th:each="group : ${groups}"
          th:if="not ${theme.config?.photos_styles?.is_enable_masonry_layout}"
        >
          <h2 th:text="${group.spec.displayName}" th:if="${theme.config?.photos_styles?.is_show_photo_group_name}"></h2>
          <ul class="photo-list">
            <th:block th:each="photo : ${group.photos}">
              <li class="photo-image">
                <img
                  th:src="@{${photo.spec.url}}"
                  th:srcset="|
                  ${thumbnail.gen(photo.spec.url, 's')} 400w,
                  ${thumbnail.gen(photo.spec.url, 'm')} 800w,
                  ${thumbnail.gen(photo.spec.url, 'l')} 1200w,
                  ${thumbnail.gen(photo.spec.url, 'xl')} 1600w
                  |"
                  sizes="(max-width: 1600px) 100vw, 1600px"
                  th:title="${photo.spec.displayName}"
                  th:alt="${photo.spec.description}"
                  loading="lazy"
                  th:style="'display: none;
                    opacity: 0;
                    width: 100%;
                    height: auto;
                    transition: box-shadow 0.1s ease-in, box-shadow 0.3s ease-out;
                    border-radius:' + ${theme.config?.photos_styles?.img_border_radius} + ';'"
                  th:data-img-onmouseover="${theme.config?.photos_styles?.img_onmouseover}"
                  th:data-img-onmouseout="${theme.config?.photos_styles?.img_onmouseout}"
                />
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </article>
  </body>
</th:block>
