<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${#annotations.getOrDefault(post, 'higan.howiehz.top/page-title', post.spec?.title)}, 
    head = ~{:: headContent},
    content = ~{:: content}, 
    header = ~{}, 
    navbar = ~{fragments/post-nav::navbar}, 
    language=${#annotations.get(post, 'higan.howiehz.top/page-language')}
  )}"
>
  <head>
    <th:block th:if="${pluginFinder.available('PluginFeed')}">
      <th:block th:each="contributor : ${post?.contributors}">
        <link
          th:unless="${#strings.equals(contributor.permalink, '/authors/ghost')}"
          rel="alternate"
          type="application/rss+xml"
          th:title="'Posts - Author: ' + ${contributor?.displayName}"
          th:href="@{'/feed/authors/' + ${contributor.metadata?.name} + '.xml'}"
        />
      </th:block>

      <th:block th:unless="${#lists.isEmpty(post.categories)}">
        <th:block th:each="categoryLeafNode, categoryLeafNodeIterStat : ${post.categories}">
          <th:block>
            <th:block th:each="category, iterStat : ${categoryFinder.getBreadcrumbs(categoryLeafNode.metadata?.name)}">
              <link
                rel="alternate"
                type="application/rss+xml"
                th:title="'Posts - Category: ' + ${category.spec?.displayName}"
                th:href="@{'/feed/categories/' + ${category.spec?.slug} + '.xml'}"
              />
            </th:block>
          </th:block>
        </th:block>
      </th:block>

      <th:block th:unless="${#lists.isEmpty(post.tags)}">
        <th:block th:each="tag, iterStat : ${post.tags}">
          <link
            rel="alternate"
            type="application/rss+xml"
            th:title="'Posts - Tag: ' + ${tag.spec?.displayName}"
            th:href="@{'/feed/tags/' + ${tag.spec?.slug} + '.xml'}"
          />
        </th:block>
      </th:block>
    </th:block>
    <script src="/src/scripts/pages/post.ts" type="module"></script>
    <th:block
      th:if="${theme.config?.post_styles?.is_post_comment_section_show
               and haloCommentEnabled}"
      th:insert="~{components/halo-comment-widget/template :: head}"
    ></th:block>
  </head>
  <body>
    <!--/*/
    <style th:inline="css" th:if="${theme.config?.post_styles?.is_custom_toc_max_width}">
      #header-post #toc {
        max-width: /*[(${theme.config?.post_styles?.toc_max_width})]*/ 20em;
      }
    </style>
    /*/-->
    <style th:if="${theme.config?.post_styles?.is_optimize_content_paragraph_spacing}">
      .content > p {
        min-height: 1.1em;
      }
    </style>
    <!--/* 默认编辑器插入图片会有一个 display: inline-block，以及其他样式，因此需要排除避免产生以外缩进 */-->
    <!--/*/
    <style th:inline="css" th:if="${theme.config?.post_styles?.is_enable_paragraph_first_line_indent}">
      .content > p:not(:has(img:only-child)) {
        text-indent: /*[(${theme.config?.post_styles?.paragraph_first_line_indent_value})]*/ 2em;
      }
    </style>
    /*/-->
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1
          class="my-0 text-[1.5em] leading-tight"
          th:classappend="${theme.config?.post_styles?.post_title_uppper} ? 'uppercase'"
          itemprop="name headline"
        >
          <th:block th:text="${post.spec?.title}">标题替换位</th:block
          ><th:block th:replace="~{fragments/common :: theme-toggle-button}"></th:block>
        </h1>
        <div class="meta">
          <!--/* 展示文章作者名 */-->
          <span
            class="font-bold tracking-wider uppercase"
            itemprop="author"
            itemscope
            th:each="contributor : ${post?.contributors}"
          >
            <a
              th:unless="${#strings.equals(contributor.permalink, '/authors/ghost')}"
              th:href="${contributor.permalink}"
              itemprop="name"
              th:text="${contributor?.displayName}"
              style="background-image: none"
            >
            </a>
          </span>

          <div class="post-publish-time inline" th:if="${theme.config?.post_styles?.is_show_post_publish_time}">
            <span
              th:text="#{page.post.published-on}"
              th:if="${theme.config?.post_styles?.is_show_post_publish_time_left_text}"
            ></span>
            <time
              th:datetime="${post.spec?.publishTime}"
              itemprop="datePublished"
              th:text="${#temporals.format(post.spec?.publishTime, 'yyyy-MM-dd')}"
              >文章发布时间替换位</time
            >
          </div>
          <div class="post-update-time block sm:inline" th:if="${theme.config?.post_styles?.is_show_post_updated_time}">
            <span
              th:text="#{page.post.updated-on}"
              th:if="${theme.config?.post_styles?.is_show_post_updated_time_left_text}"
            ></span>
            <time
              th:datetime="${post.status?.lastModifyTime}"
              itemprop="dateModified"
              th:text="${#temporals.format(post.status?.lastModifyTime, 'yyyy-MM-dd')}"
              >文章更新时间替换位</time
            >
          </div>

          <!--/* 分隔符 */-->
          <span class="meta-separator hidden before:content-['|'] last:hidden sm:inline"></span>

          <!--/* 使用 sm:inlne 而不是 sm:inline-block 是希望能在很多“分类面包屑”的情况下自动换行 */-->
          <div class="article-category block sm:inline" th:unless="${#lists.isEmpty(post.categories)}">
            <th:block th:each="categoryLeafNode, categoryLeafNodeIterStat : ${post.categories}">
              <!--/* inline-block 使一个“分类面包屑”不会被分到两行 */-->
              <span class="categoryBreadcrumbs inline-block">
                <!--/* 分类图标和第一个“分类面包屑”保持在一行。 */-->
                <span th:if="${categoryLeafNodeIterStat.first}" class="iconify fa-solid--archive"></span>
                <th:block
                  th:each="category, iterStat : ${categoryFinder.getBreadcrumbs(categoryLeafNode.metadata?.name)}"
                >
                  <a
                    class="category-link"
                    th:href="@{${category.status?.permalink}}"
                    th:text="${category.spec?.displayName}"
                  >
                    文章分类名替换位 </a
                  ><!--/*
                  */--><span th:unless="${iterStat.last}"> ></span
                  ><!--/* 除最后一个“分类面包屑”没有逗号，其他“分类面包屑”末尾都有逗号，并且和这个“分类面包屑”保持在一行。
                  */--><span
                    th:if="${iterStat.last
                             and !categoryLeafNodeIterStat.last}"
                    >,</span
                  >
                  <!--/* 逗号需要写在此层 th:block，然后用注释连接起来，否则逗号前会出现空格 */-->
                </th:block>
              </span>
            </th:block>
          </div>

          <!--/* 使用 sm:inlne 而不是 sm:inline-block 是希望能在很多标签项的情况下自动换行 */-->
          <div class="article-tag block sm:inline" th:unless="${#lists.isEmpty(post.tags)}">
            <th:block th:each="tag, iterStat : ${post.tags}">
              <!--/* inline-block 保证一个标签项的内容保持在一行。 */-->
              <span class="inline-block">
                <!--/* 标签图标和第一个标签项保持在一行。 */-->
                <span th:if="${iterStat.first}" class="iconify fa-solid--tag"></span>
                <a
                  class="tag-link"
                  th:with="tagColor = ${tag.spec?.color}"
                  th:href="@{${tag.status?.permalink}}"
                  th:text="${tag.spec?.displayName}"
                  th:style="${tagColor != null
                            and !#strings.equalsIgnoreCase(tagColor, '#ffffff')}
                          ? |--tag-hash-color:${tagColor};|
                          : null"
                >
                  文章标签名替换位 </a
                ><!--/*
                */--><span th:unless="${iterStat.last}">,</span>
              </span>
            </th:block>
          </div>

          <!--/* inline-block 保证图标和数字在一行 */-->
          <span
            class="inline-block"
            th:if="${theme.config?.post_styles?.is_show_post_views}"
            th:title="|#{page.post.visit-stats} ${post.stats?.visit}|"
          >
            <span class="iconify mdi--eye-outline"></span>
            <span th:text="${post.stats?.visit}">文章阅读量替换位</span>
          </span>
          <!--/* 预计阅读时长 
          inline-block 保证图标和数字在一行 */-->
          <span
            class="inline-block"
            th:if="${theme.config?.post_styles?.is_show_post_estimated_reading_time}"
            th:with="wordCount = ${pluginFinder.available('extra-api', '3.*')
                                   ? extraApiStatsFinder.getPostWordCount({name: post.metadata.name})
                                   : #strings.length(post.content?.content) / 2 }"
            th:title="#{page.post.estimated-reading-time(#{common.words(${wordCount})})}"
          >
            <span class="iconify mdi--clock-outline"></span>
            <span
              class="readtime"
              th:text="#{common.min(${#numbers.formatDecimal(wordCount * 1.0 / 450, 1, 1) + '~' + #numbers.formatDecimal(wordCount * 1.0 / 350, 1, 1)})}"
            >
              文章预计阅读时间替换位
            </span>
          </span>

          <!--/* 字数统计 
          inline-block 保证图标和数字在一行 */-->
          <span
            class="inline-block"
            th:if="${theme.config?.post_styles?.is_show_post_word_count}"
            th:with="wordCount = ${pluginFinder.available('extra-api', '3.*')
                                   ? extraApiStatsFinder.getPostWordCount({name: post.metadata.name})
                                   : #strings.length(post.content?.content) / 2 }"
            th:title="|#{page.post.word-count} #{common.words(${wordCount})}|"
          >
            <span class="iconify fluent--text-edit-style-character-a-32-regular"></span>
            <span class="word-count" th:text="${wordCount}">文章字数替换位</span>
          </span>
        </div>
      </header>

      <div class="content flex-auto" itemprop="articleBody" th:utext="${post.content?.content}">文章内容填充处</div>
      <th:block th:if="${theme.config?.post_styles?.is_dividing_line_at_the_end_of_post_show}">
        <hr class="divide mt-10 mb-0" />
      </th:block>
      <th:block th:if="${theme.config?.post_styles?.is_post_upvote_button_show}">
        <!--/* 如果下面的推荐文章，评论区等都没开，直接接上页脚。
        是 article 里最后一个元素会设置为 mb-0（也就是 last:mb-0） */-->
        <a
          class="upvote-button mt-2 mb-0"
          th:href="|javascript:handleLike('${post.metadata.name}')|"
          th:data-post-name="${post.metadata.name}"
          th:style="'display: flex;
            background-image: none;
            justify-content:' + ${theme.config?.post_styles?.post_upvote_button_position} + ';'"
        >
          <span
            class="iconify"
            th:width="${theme.config?.post_styles?.post_upvote_button_width}"
            th:height="${theme.config?.post_styles?.post_upvote_button_height}"
            style="
              --svg: url(&quot;data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m12.1%2018.55l-.1.1l-.11-.1C7.14%2014.24%204%2011.39%204%208.5C4%206.5%205.5%205%207.5%205c1.54%200%203.04%201%203.57%202.36h1.86C13.46%206%2014.96%205%2016.5%205c2%200%203.5%201.5%203.5%203.5c0%202.89-3.14%205.74-7.9%2010.05M16.5%203c-1.74%200-3.41.81-4.5%202.08C10.91%203.81%209.24%203%207.5%203C4.42%203%202%205.41%202%208.5c0%203.77%203.4%206.86%208.55%2011.53L12%2021.35l1.45-1.32C18.6%2015.36%2022%2012.27%2022%208.5C22%205.41%2019.58%203%2016.5%203Z%22%20%2F%3E%3C%2Fsvg%3E&quot;);
            "
          >
          </span>
          <span
            th:if="${theme.config?.post_styles?.is_show_post_upvote_count}"
            th:data-post-name="${post.metadata.name}"
            th:text="${post.stats.upvote}"
          ></span>
        </a>
      </th:block>

      <!--/* 推荐文章 */-->
      <!--/* 根据文章的第一个类别，找相同类别的文章 */-->
      <!--/* 文章无分类则不进行推荐 */-->
      <th:block
        th:if="${theme.config?.post_styles?.is_post_recommended_articles_show
                 and !#lists.isEmpty(post.categories)}"
        th:with="firstCategoryName = ${post.categories[0].metadata.name},
                 n = ${#conversions.convert(theme.config?.post_styles?.post_recommended_articles_count, 'java.lang.Integer')},
                 postFinderResult = ${postFinder.list({
                                      size: n,
                                      categoryName: firstCategoryName,
                                      sort: {'spec.publishTime,desc', 'metadata.creationTimestamp,asc'}
                                    })},
                 firstPagePostList = ${postFinderResult.items}"
      >
        <!--/* 分类下无文章则不进行推荐 */-->
        <!--/* 用 postFinderResult.totalPages 生成 randomPageNumber，然后查询 randomPageNumber 页的结果 */-->
        <!--/* 这个分类只有当前一篇就不启用推荐，因此 > 1 */-->
        <th:block
          th:if="${#lists.size(firstPagePostList) > 1}"
          th:with="randomPageNumber = ${T(java.lang.Math).floor(T(java.lang.Math).random() * (postFinderResult.totalPages) + 1)},
                   targetPagePostFinderResult = ${postFinder.list({
                                                  page: randomPageNumber,
                                                  size: n,
                                                  categoryName: firstCategoryName,
                                                  sort: {'spec.publishTime,desc', 'metadata.creationTimestamp,asc'}
                                                })},
                   targetPagePostList = ${targetPagePostFinderResult.items}"
        >
          <div class="recommendations mt-10">
            <h4 class="mb-2" th:text="#{fragment.post-nav.recommended}">推荐文章 标题填充位</h4>
            <th:block th:each="iterPost: ${targetPagePostList}">
              <!--/* 进行检查让推荐列表不出现当前页面文章 */-->
              <div th:if="${post.metadata.name != iterPost.metadata.name}">
                <span class="meta">
                  <time
                    class="color-time"
                    th:datetime="${iterPost.spec?.publishTime}"
                    itemprop="datePublished"
                    th:text="${#temporals.format(iterPost.spec?.publishTime, 'yyyy-MM-dd')}"
                    >文章发布时间替换位</time
                  >
                </span>
                <a class="post-title" th:href="@{${iterPost.status?.permalink}}" th:text="${iterPost.spec?.title}"></a>
              </div>
            </th:block>
            <!--/* 如果是最后一页，而且不是第一页（如果是最后一页也是第一页，说明本来就不够）。
            看下有没有缺项，缺则从第一页补。 */-->
            <th:block
              th:if="${targetPagePostFinderResult.last and not targetPagePostFinderResult.first}"
              th:with="itemsNeeded = ${n - #lists.size(targetPagePostList)}"
            >
              <!--/* 缺项则补 */-->
              <th:block th:if="${itemsNeeded > 0}">
                <th:block th:each="index : ${#numbers.sequence(0,itemsNeeded-1)}">
                  <th:block th:with="iterPost = ${firstPagePostList[index]}">
                    <!--/* 进行检查让推荐列表不出现当前页面文章 */-->
                    <div th:if="${post.metadata.name != iterPost.metadata.name}">
                      <span class="meta">
                        <time
                          class="color-time"
                          th:datetime="${iterPost.spec?.publishTime}"
                          itemprop="datePublished"
                          th:text="${#temporals.format(iterPost.spec?.publishTime, 'yyyy-MM-dd')}"
                          >文章发布时间替换位</time
                        >
                      </span>
                      <a
                        class="post-title"
                        th:href="@{${iterPost.status?.permalink}}"
                        th:text="${iterPost.spec?.title}"
                      ></a>
                    </div>
                  </th:block>
                </th:block>
              </th:block>
            </th:block>
          </div>
        </th:block>
      </th:block>

      <!--/* 相邻文章导航 */-->
      <th:block
        th:with="postCursor = ${postFinder.cursor(post.metadata?.name)}"
        th:if="${theme.config?.post_styles?.is_post_prev_next_navigation_show}"
      >
        <span
          class="post-navigation mt-10 mb-0"
          th:if="${postCursor.hasPrevious()
                  or postCursor.hasNext()}"
        >
          <div th:if="${postCursor.hasPrevious()}">
            <span th:text="#{fragment.post-nav.prev}">上一篇 填充位</span>
            <a
              class="post-title"
              th:href="@{${postCursor.previous?.status?.permalink}}"
              th:text="${postCursor.previous?.spec?.title}"
            ></a>
          </div>
          <div th:if="${postCursor.hasNext()}">
            <span th:text="#{fragment.post-nav.next}">下一篇 填充位</span>
            <a
              class="post-title"
              th:href="@{${postCursor.next?.status?.permalink}}"
              th:text="${postCursor.next?.spec?.title}"
            ></a>
          </div>
        </span>
      </th:block>

      <!--/* 上一个也是分隔线或者点赞按钮，这个 hr 就会隐藏，这个隐藏逻辑是 CSS 样式做的工作 */-->
      <hr th:if="${theme.config?.post_styles?.is_dividing_line_at_the_end_of_post_show}" class="divide mt-10 mb-0" />

      <div th:if="${theme.config?.post_styles?.is_post_comment_section_show and haloCommentEnabled}" class="mt-5">
        <halo:comment group="content.halo.run" kind="Post" th:name="${post.metadata?.name}" />
      </div>
    </article>
    <th:block th:if="${theme.config?.post_styles?.is_show_footer_nav}">
      <div th:replace="~{fragments/post-footer-nav :: footerNav}"></div>
    </th:block>
    <script type="module">
      import { isMobile } from "/src/scripts/utils/device.ts";
      import { initTOC } from "/src/scripts/utils/toc.ts";

      document.addEventListener("DOMContentLoaded", function () {
        // <!--/* generate toc
        // wontfix：如果电脑屏幕较窄，文章页用的是底部导航栏，目录按钮按了之后不会显示目录
        // 但是目录按钮在手机端是正常的，为了保证性能，不做特殊处理 */-->
        if (isMobile()) {
          initTOC("article > .content", "#toc-footer");
        } else if (window.matchMedia("(min-width: 640px) and (max-width: 1024px)").matches) {
          initTOC("article > .content", "#toc-tablet");
        } else {
          initTOC("article > .content", "#toc");
        }
      });
    </script>
    <script th:inline="javascript" th:if="${theme.config?.post_styles?.is_post_upvote_button_show}">
      const likes_localstorage_key = "higan.likes.post.ids";
      let likedPostNames = JSON.parse(localStorage.getItem(likes_localstorage_key) || "[]");
      likedPostNames.forEach((postName) => {
        activeUpvote(postName);
      });
      function handleLike(postName) {
        if (likedPostNames.includes(postName)) {
          return;
        }
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/apis/api.halo.run/v1alpha1/trackers/upvote");
        xhr.onload = () => {
          likedPostNames = [...likedPostNames, postName];
          localStorage.setItem(likes_localstorage_key, JSON.stringify(likedPostNames));
          const likesNode = document.querySelector('span[data-post-name="' + postName + '"]');
          if (likesNode) {
            const likes = parseInt(likesNode.innerText);
            likesNode.innerText = likes + 1;
          }
          activeUpvote(postName);
        };
        xhr.onerror = function () {
          alert(/*[[#{common.error.networkRequestFailed}]]*/ "网络请求失败，请稍后再试");
        };
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(
          JSON.stringify({
            group: "content.halo.run",
            plural: "posts",
            name: postName,
          }),
        );
      }
      function activeUpvote(postName) {
        var dom = document.querySelector("a.upvote-button[data-post-name='" + postName + "']");
        if (dom) {
          dom.style.color = "var(--color-accent)";
          dom.style.fontWeight = "500";
        }
      }
    </script>
  </body>
</th:block>
