#article-header {
  & h1 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    & .article-title-text {
      min-width: 0;
      overflow-wrap: break-word;
    }
  }

  & .meta:has(> *) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* :has(> *) -> margin-bottom is only applied when there are child elements */
    margin-bottom: 1rem;
    margin-top: 0;
    vertical-align: middle;

    & > :is(span, div):not(:last-child) {
      margin-inline-end: 1ch;
    }

    & * {
      color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
      font-size: var(--tw-text-sm);
    }
  }
}
