#vp-app {
  /* 用主题的 MesloLGS 字体 */
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

/* 
.dark #vp-app {
} 
*/

/* 用户代理样式表 */
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: auto !important;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  unicode-bidi: isolate;
}

dt {
  display: block;
  unicode-bidi: isolate;
}

dd {
  display: block;
  margin-inline-start: 40px;
  unicode-bidi: isolate;
}
