/* 文章列表样式 */
.color-accent {
  color: var(--color-accent);
}

.common-post-list {
  margin: 0;
  padding: 0;

  & .post-item {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 0;

    @media (width >= 640px) {
      display: flex;
      margin-bottom: 0.3125rem;
    }

    & .meta {
      color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
      display: block;
      font-size: var(--text);
      margin-right: 1rem;
      white-space: nowrap;

      @media (width >= 640px) {
        text-align: right;
      }
    }
  }
}
