<head>
  <script src="index.ts" type="module"></script>
  <th:block th:if="${showPagination ?: false}" th:insert="~{components/pagination/template :: headContent}"></th:block>
</head>
<!--/*-->
<body></body>
<!--*/-->
<th:block th:fragment="content">
  <!--/* content(posts, showPagination) */-->
  <section class="simple-post-list flex flex-auto flex-col">
    <ul class="common-post-list flex-auto">
      <th:block th:each="post : ${posts}">
        <th:block th:if="${#annotations.getOrDefault(post, 'higan.howiehz.top/show-in-post-list', 'true') == 'true'}">
          <li class="post-item">
            <div
              class="meta"
              th:if="${!(#strings.equals(pageTemplateName, 'index')
                         or #strings.equals(pageTemplateName, 'category')
                         or #strings.equals(pageTemplateName, 'tag')
                         or #strings.equals(pageTemplateName, 'author')
                         or #strings.equals(pageTemplateName, 'archives'))
                       or (#strings.equals(pageTemplateName, 'index')
                           and theme.config?.index_styles?.is_show_post_pubdate_in_simple_post_list)
                       or (#strings.equals(pageTemplateName, 'category')
                           and theme.config?.category_page_styles?.is_show_post_pubdate_in_post_list)
                       or (#strings.equals(pageTemplateName, 'tag')
                           and theme.config?.tag_page_styles?.is_show_post_pubdate_in_post_list)
                       or (#strings.equals(pageTemplateName, 'author')
                           and theme.config?.author_page_styles?.is_show_post_pubdate_in_post_list)
                       or (#strings.equals(pageTemplateName, 'archives')
                           and theme.config?.archives_page_styles?.is_show_post_pubdate_in_post_list)}"
            >
              <time
                th:datetime="${post.spec.publishTime}"
                itemprop="datePublished"
                th:text="${#temporals.format(post.spec.publishTime, 'yyyy-MM-dd')}"
              >
              </time>
            </div>
            <span>
              <span
                class="iconify iconify-middle color-accent typcn--pin-outline"
                th:if="${post.spec.pinned
                         and theme.config?.index_styles?.is_pin_icon_show
                         and theme.config?.index_styles?.pin_icon_position == 'left'}"
              ></span>
              <a th:href="@{${post.status?.permalink}}" th:text="${post.spec?.title}">文章标题替换位</a>
              <th:block th:if="${theme.config?.index_styles?.is_show_post_views_in_simple_post_list}">
                <span
                  class="color-time relative z-10 mt-0.5 mb-0 p-0 text-sm"
                  th:title="|#{page.post.visit-stats} ${post.stats?.visit}|"
                >
                  <span class="iconify mdi--eye-outline"></span>
                  <span th:text="${post.stats?.visit}">文章阅读量替换位</span>
                </span>
              </th:block>
              <span
                class="iconify iconify-middle color-accent typcn--pin-outline"
                th:if="${post.spec.pinned
                         and theme.config?.index_styles?.is_pin_icon_show
                         and theme.config?.index_styles?.pin_icon_position == 'right'}"
              ></span>
            </span>
          </li>
        </th:block>
      </th:block>
    </ul>
    <th:block
      th:if="${showPagination ?: false}"
      th:insert="~{components/pagination/template :: content(${posts})}"
    ></th:block>
  </section>
</th:block>
