<head th:remove="tag">
  <!--/* Generate the allCustomColorSchema array to set the data-color-scheme attribute start */-->
  <script id="custom-color-config" th:inline="javascript">
    const allCustomColorSchema = [
      /*[# th:each="c : ${custom_color_schema_config}"]*/ /*[# th:if="${custom_color_schema_init_id == c.id
                                                                        or custom_theme_auto_id == c.id
                                                                        or custom_theme_light_id == c.id
                                                                        or custom_theme_dark_id == c.id}"]*/
      { id: /*[[${c.id}]]*/ "", type: /*[[${c.type}]]*/ "" },
      /*[/]*/ /*[/]*/
    ];
  </script>
  <!--/* Generate the allCustomColorSchema array to set the data-color-scheme attribute end */-->
</head>
<!--/*-->
<body th:remove="tag"></body>
<!--*/-->
