@layer base {
  .main-with-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (width >= 1024px) {
      align-items: start;
      column-gap: 1rem;
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);

      & > .max-width {
        grid-column: 2;
      }

      & > .footer-sidebar--top-left,
      & > .footer-sidebar--bottom-left {
        grid-column: 1;
        justify-self: end;
      }

      & > .footer-sidebar--top-right,
      & > .footer-sidebar--bottom-right {
        grid-column: 3;
        justify-self: start;
      }
    }
  }

  .footer-sidebar {
    align-self: flex-start;
    flex-shrink: 0;
    opacity: var(--footer-sidebar-opacity, 100%);
    position: sticky;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 100%;
    }

    &.footer-sidebar--top-left,
    &.footer-sidebar--top-right {
      top: 1rem;
    }

    &.footer-sidebar--bottom-left,
    &.footer-sidebar--bottom-right {
      align-self: flex-end;
      bottom: 1rem;
    }

    @media (width < 1024px) {
      &.footer-sidebar--narrow-hide {
        display: none;
      }

      &.footer-sidebar--narrow-bottom {
        align-self: auto;
        opacity: 100%;
        order: 999;
        position: static;
      }
    }
  }
}
