<!DOCTYPE html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title='QRCode Share') ? site.title : theme.config?.index_styles?.page_html_title}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <style>
        canvas {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        body {
          background-color: #eceae7;
        }
      </style>
      <script src="/themes/howiehz-higan/assets/lib/qrious/qrious.min.js"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const params = new URLSearchParams(window.location.search);
          const url = params.get("url");
          const size = params.get("size");
          new QRious({
            element: document.getElementById("qrcode-canvas"),
            size: size,
            value: url,
            background: "#eceae7",
          });
        });
      </script>
      <canvas id="qrcode-canvas"></canvas>
    </article>
  </th:block>
</th:block>
