body[theme="dark"] {
  --color-background: #1d1f21;
  --color-footer-mobile-1: #a4a3a3;
  --color-footer-mobile-2: #27292b;
  --color-footer-mobile-3: #1f2325;
  --color-border: #908d8d;
  --color-scrollbar: #999;
  --color-meta: #908d8d;
  --color-meta-code: #908d8d;
  --color-link: #d480aa;
  --color-text: #d5d7d8;
  --color-time: #adaeaf;
  --color-accent-3: #ccc;
  --color-accent-2: #eee;
  --color-accent-1: #2bbc8a;
  --color-quote: #ccffb6;
  --color-highlight-background: #212326;
  --color-background-code: #d5d7d8;
  --color-avatar-border: #212326;
  --color-card-hover: #212326;
  --color-divide: #616161;
  --toc-level-2: #e3e3e3;
  --toc-level-3: #b0b0b0;
  --toc-level-4: #636363;
}
body[theme="dark"] comment-widget {
  --halo-comment-widget-component-form-input-bg-color: #1d1f21 !important;
  --halo-comment-widget-component-form-input-border-color: #636363 !important;
}
body[theme="gray"] {
  --color-background: #e2e0de;
  --color-footer-mobile-1: #666;
  --color-footer-mobile-2: #cac6c3;
  --color-footer-mobile-3: #dddbd9;
  --color-background-code: #dddbd9;
  --color-border: #666;
  --color-scrollbar: #999;
  --color-meta: #666;
  --color-meta-code: #808080;
  --color-link: #2bbc8a;
  --color-text: #363533;
  --color-time: #3a3937;
  --color-accent-3: #666;
  --color-accent-2: #111;
  --color-accent-1: #d44375;
  --color-quote: #ab2251;
  --color-highlight-background: #212326;
  --color-card-hover: #dddbd9;
  --color-avatar-border: #dddbd9;
  --color-divide: #c3c3c3;
  --toc-level-2: #333;
  --toc-level-3: #333;
  --toc-level-4: #555;
}
body[theme="gray"] comment-widget {
  --halo-comment-widget-component-form-input-bg-color: #e2e0de !important;
  --halo-comment-widget-component-form-input-border-color: #908d8d !important;
}
body[theme="light"] {
  --color-background: #fff;
  --color-footer-mobile-1: #666;
  --color-footer-mobile-2: #e6e6e6;
  --color-footer-mobile-3: #fafafa;
  --color-background-code: #fafafa;
  --color-border: #666;
  --color-scrollbar: #aaa;
  --color-meta: #666;
  --color-meta-code: #808080;
  --color-link: #d480aa;
  --color-text: #333;
  --color-time: #595858;
  --color-accent-3: #676767;
  --color-accent-2: #383838;
  --color-accent-1: #2bbc8a;
  --color-quote: #2bbc8a;
  --color-highlight-background: #212326;
  --color-card-hover: #fafafa;
  --color-avatar-border: #fafafa;
  --color-divide: #e5e7eb;
  --toc-level-2: #383838;
  --toc-level-3: #666;
  --toc-level-4: #888;
}
body[theme="light"] comment-widget {
  --halo-comment-widget-component-form-input-bg-color: #fff !important;
}
@media (prefers-color-scheme: no-preference) {
  body[theme="auto"] {
    --color-background: #fff;
    --color-footer-mobile-1: #666;
    --color-footer-mobile-2: #e6e6e6;
    --color-footer-mobile-3: #fafafa;
    --color-background-code: #fafafa;
    --color-border: #666;
    --color-scrollbar: #aaa;
    --color-meta: #666;
    --color-meta-code: #808080;
    --color-link: #d480aa;
    --color-text: #333;
    --color-time: #595858;
    --color-accent-3: #676767;
    --color-accent-2: #383838;
    --color-accent-1: #2bbc8a;
    --color-quote: #2bbc8a;
    --color-highlight-background: #212326;
    --color-card-hover: #fafafa;
    --color-avatar-border: #fafafa;
    --color-divide: #e5e7eb;
    --toc-level-2: #383838;
    --toc-level-3: #666;
    --toc-level-4: #888;
  }
  body[theme="auto"] comment-widget {
    --halo-comment-widget-component-form-input-bg-color: #fff !important;
  }
}
@media (prefers-color-scheme: light) {
  body[theme="auto"] {
    --color-background: #fff;
    --color-footer-mobile-1: #666;
    --color-footer-mobile-2: #e6e6e6;
    --color-footer-mobile-3: #fafafa;
    --color-background-code: #fafafa;
    --color-border: #666;
    --color-scrollbar: #aaa;
    --color-meta: #666;
    --color-meta-code: #808080;
    --color-link: #d480aa;
    --color-text: #333;
    --color-time: #595858;
    --color-accent-3: #676767;
    --color-accent-2: #383838;
    --color-accent-1: #2bbc8a;
    --color-quote: #2bbc8a;
    --color-highlight-background: #212326;
    --color-card-hover: #fafafa;
    --color-avatar-border: #fafafa;
    --color-divide: #e5e7eb;
    --toc-level-2: #383838;
    --toc-level-3: #666;
    --toc-level-4: #888;
  }
  body[theme="auto"] comment-widget {
    --halo-comment-widget-component-form-input-bg-color: #fff !important;
  }
}
@media (prefers-color-scheme: dark) {
  body[theme="auto"] {
    --color-background: #1d1f21;
    --color-footer-mobile-1: #a4a3a3;
    --color-footer-mobile-2: #27292b;
    --color-footer-mobile-3: #1f2325;
    --color-border: #908d8d;
    --color-scrollbar: #999;
    --color-meta: #908d8d;
    --color-meta-code: #908d8d;
    --color-link: #d480aa;
    --color-text: #d5d7d8;
    --color-time: #adaeaf;
    --color-accent-3: #ccc;
    --color-accent-2: #eee;
    --color-accent-1: #2bbc8a;
    --color-quote: #ccffb6;
    --color-highlight-background: #212326;
    --color-background-code: #d5d7d8;
    --color-avatar-border: #212326;
    --color-card-hover: #212326;
    --color-divide: #616161;
    --toc-level-2: #e3e3e3;
    --toc-level-3: #b0b0b0;
    --toc-level-4: #636363;
  }
  body[theme="auto"] comment-widget {
    --halo-comment-widget-component-form-input-bg-color: #1d1f21 !important;
    --halo-comment-widget-component-form-input-border-color: #636363 !important;
  }
}
