/* 初始化样式 */
.aspect-w-1 > * {
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.aspect-w-1 {
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  position: relative;

  --tw-aspect-w: 1;
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}

video {
  height: auto;
  max-width: 100%;
}
