/* 图库页面样式开始 */
.photos {
  & .photo-list {
    list-style: none;
    position: relative;

    & li:last-child {
      margin-bottom: 0;
    }
  }

  & .photo-image {
    margin-bottom: 0.9375rem;
  }

  & .pager {
    margin-bottom: 0.9375rem;
  }
}

/* 图库页面样式结束 */
