@import "./mixins/text-size.css";
@import "./mixins/scrollbar.css";
@import "./mixins/iconify.css";
@import "./mixins/font-family.css";
@import "./mixins/color-scheme.css";
@import "./mixins/base.css";

/* 样式开始 */
#theme-toggle-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;

  & .icon:hover {
    color: var(--color-link);
  }
}

body {
  & h1,
  & .h1 {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--color-accent-1);
    letter-spacing: 0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: var(--text-h1);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  & h2,
  & .h2 {
    position: relative;
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color: var(--color-accent-2);
    text-transform: none;
    letter-spacing: normal;
    font-weight: bold;
    font-size: var(--text-h2);
  }
  & h3 {
    color: var(--color-accent-2);
    text-decoration: underline;
    font-weight: bold;
    font-size: var(--text-h3);
  }
  & h4,
  & h5,
  & h6 {
    display: inline;
    text-decoration: none;
    color: var(--color-accent-3);
    font-weight: bold;
    font-size: var(--text-h4);
  }
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
  }
  & hr {
    border: 0.5px dashed var(--color-accent-3);
    opacity: 0.5;
    margin: 1.25rem 0 1.25rem 0;
  }
  & strong {
    font-weight: bold;
  }
  & em,
  & cite {
    font-style: italic;
  }
  & sup,
  & sub {
    position: relative;
    vertical-align: baseline;
    font-size: var(--text-xs);
    line-height: 0;
  }
  & sup {
    top: -0.5rem;
  }
  & sub {
    bottom: -0.2rem;
  }
  & small {
    font-size: var(--text-sm);
  }
  & acronym,
  abbr {
    border-bottom: 1px dotted;
  }
  & ul,
  & ol,
  & dl {
    line-height: 1.725;
  }
  & ul ul,
  & ol ul,
  & ul ol,
  & ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  & ol {
    list-style: decimal;
  }
  & dt {
    font-weight: bold;
  }
  & table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: var(--text-xs);
    overflow: auto;
    display: block;
  }
  & th {
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--color-accent-3);
    color: var(--color-accent-2);
    font-weight: bold;
    font-size: var(--text-th);
  }
  & td {
    padding: 0 0.5rem;
    border-bottom: none;
    font-size: var(--text-sm);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid var(--color-text);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 400;
  font-size: var(--text);
  font-family: var(--higan-font-family);
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.content {
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow-wrap: break-word;

  & p {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  & code {
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
  }

  & a {
    color: var(--color-text);
    text-decoration: none;
    background-image: linear-gradient(
      transparent,
      transparent 0.3125rem,
      var(--color-text) 0.3125rem,
      var(--color-text)
    );
    background-position: bottom;
    background-size: 100% 0.375rem;
    background-repeat: repeat-x;
  }

  & a:hover {
    background-image: linear-gradient(transparent, transparent 0.25rem, var(--color-link) 0.25rem, var(--color-link));
  }

  & a.icon {
    background: none;
  }

  & a.icon:hover {
    color: var(--color-link);
  }
}

/* 推荐文章和相邻导航字体颜色设置 */
.recommendations a,
.post-navigation a {
  color: var(--color-text);
  /* background-image: none; */
}

/* 分割线上一个也是分割线或者是点赞按钮就隐藏 */
hr.divide + hr.divide,
a.upvote-button + hr.divide {
  display: none;
}

/* 点赞按钮是 article 里最后一个，那就设置 mb-0（说明直接接上了页脚。没开评论区，推荐文章等） */
article a.upvote-button:last-child {
  margin-bottom: 0;
}

.content {
  & h1,
  & .h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    & a {
      background: none;
      color: inherit;
      text-decoration: none;

      &:hover {
        background-image: linear-gradient(
          transparent,
          transparent 0.375rem,
          var(--color-link) 0.375rem,
          var(--color-link)
        );
        background-position: bottom;
        background-size: 100% 0.375rem;
        background-repeat: repeat-x;
      }
    }
  }

  & h6 a {
    background: none;
    color: inherit;
    text-decoration: none;

    &:hover {
      background-image: linear-gradient(transparent, transparent 6px, var(--color-link) 6px, var(--color-link));
      background-position: bottom;
      background-size: 100% 0.375rem;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: 540px) {
  .image-wrap {
    flex-direction: row;
    margin-bottom: 2rem;
    & .image-block {
      flex: 1 0 35%;
      margin-right: 2rem;
    }
    & p {
      flex: 1 0 65%;
    }
  }
}

.max-width {
  max-width: 48rem;
}

@media (max-width: 767px) {
  .max-width {
    max-width: 100%;
  }
}

@media (min-width: 1199px) and (max-width: 1536px) {
  .max-width {
    max-width: 56rem;
  }
}
@media (min-width: 1537px) and (max-width: 2000px) {
  .max-width {
    max-width: 64rem;
  }
}

@media (min-width: 2001px) {
  .max-width {
    max-width: 60%;
  }
}

@media (max-width: 480px) {
  .px-8 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 480px) {
  p {
    text-align: start;
  }
}

#header {
  margin: 0 auto 2rem;
  width: 100%;

  & h1,
  & .h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-text);
    letter-spacing: 0.01em;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  & a {
    background: none;
    color: inherit;
    text-decoration: none;
  }

  & #logo {
    display: inline-block;
    float: left;
    margin-right: 1.25rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.3125rem;
    background-size: 3.125rem 3.125rem;
    background-repeat: no-repeat;
  }
  & #nav {
    color: var(--color-accent-1);
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-sm);
  }

  & #nav ul {
    margin: 8px 0 0 0;
    padding: 0;
    list-style-type: none;
    line-height: 0.9375rem;
    display: inline-table;
  }

  & #nav ul a {
    margin-right: 0.9375rem;
    font-size: var(--text);
    color: var(--color-accent-1);
  }

  & #nav ul a:hover {
    background-image: linear-gradient(
      transparent,
      transparent 0.3125rem,
      var(--color-accent-1) 0.3125rem,
      var(--color-accent-1)
    );
    background-position: bottom;
    background-size: 100% 0.375rem;
    background-repeat: repeat-x;
  }

  & #nav ul li {
    display: inline-block;
    margin-right: 0.9375rem;
    border-right: 1px dotted;
    border-color: var(--color-accent-1);
    vertical-align: middle;
  }

  & #nav ul .icon {
    display: none;
  }

  & #nav ul li:last-child {
    margin-right: 0;
    border-right: 0;
  }

  & #nav ul li:last-child a {
    margin-right: 0;
  }

  &:hover #logo {
    -webkit-filter: none;
    filter: none;
  }
}

.avatar-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#post-list-pin-icon {
  color: var(--color-link);
}

.circle-avatar {
  border-radius: 50% !important;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
}

@media screen and (max-width: 480px) {
  #header {
    & #title {
      display: table;
      margin-right: 5rem;
      min-height: 3.125rem;
      & h1 {
        display: table-cell;
        vertical-align: middle;
      }
    }
    & #nav ul a:hover {
      background: none;
    }

    & #nav ul li {
      /* display: none; 为了覆盖上面的 display: inline-block; */
      display: none;
      border-right: 0;
    }

    & #nav ul li:not(:first-child) {
      padding-top: 1rem;
      padding-left: 4.375rem;
      font-size: 1rem;
    }

    /* 菜单按钮样式 */
    & #nav ul li.icon {
      position: absolute;
      top: 4.8125rem;
      right: 1rem;
      display: inline-block;
    }
    & #nav ul li.icon.iconify {
      color: var(--color-accent-1);
    }

    & #nav ul li.responsive {
      display: block;
    }
  }
}

#header-post {
  position: fixed;
  top: 2rem;
  right: 0;
  display: inline-block;
  float: right;
  z-index: 100;

  & a {
    background: none;
    color: inherit;
    text-decoration: none;
  }

  & a.icon {
    background: none;
  }

  & a.icon:hover {
    color: var(--color-link);
  }

  & ol {
    list-style-type: none;
  }

  & ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  & ul li {
    display: inline-block;
    margin-right: 0.9375rem;
    vertical-align: middle;
  }

  & ul li:last-child {
    margin-right: 0;
  }

  & #menu-icon {
    float: right;
    margin-right: 2rem;
    margin-left: 0.9375rem;
  }

  & #menu-icon:hover {
    color: var(--color-accent-1);
  }

  & #menu-icon-tablet {
    float: right;
    margin-right: 2rem;
    margin-left: 0.9375rem;
  }

  & #menu-icon-tablet:hover {
    color: var(--color-accent-1);
  }

  & #top-icon-tablet {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    margin-right: 2rem;
    margin-left: 0.9375rem;
  }

  & #top-icon-tablet:hover {
    color: var(--color-accent-1);
  }

  & .active {
    color: var(--color-accent-1);
  }

  & #menu {
    display: none;
    margin-right: 2rem;
  }

  & #nav {
    color: var(--color-accent-1);
    letter-spacing: 0.01em;
    font-style: normal;
    font-size: var(--text-sm);
  }

  & #nav ul {
    line-height: 0.9375rem;
    display: inline-table;
  }

  & #nav ul a {
    margin-right: 0.9375rem;
    color: var(--color-accent-1);
  }

  & #nav ul a:hover {
    background-image: linear-gradient(
      transparent,
      transparent 0.3125rem,
      var(--color-accent-1) 0.3125rem,
      var(--color-accent-1)
    );
    background-position: bottom;
    background-size: 100% 0.375rem;
    background-repeat: repeat-x;
  }

  & #nav ul li {
    border-right: 1px dotted var(--color-accent-1);
  }

  & #nav ul li:last-child {
    margin-right: 0;
    border-right: 0;
  }

  & #nav ul li:last-child a {
    margin-right: 0;
  }

  & #actions {
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 100%;
    text-align: right;
  }

  & #actions ul {
    display: block;
  }

  & #actions .info {
    display: block;
    font-style: italic;
  }

  & #share-list {
    clear: both;
    padding-top: 1rem;
    padding-right: 2rem;
    text-align: right;
  }

  & #share-list li {
    display: block;
    margin: 0;
  }
}

/* toc collapsible */
.toc-child:has(.toc-active),
.toc-active + .toc-child {
  display: block;
}

.toc-child {
  display: none;
}
/* collapsible end */

#header-post #toc {
  float: right;
  clear: both;
  overflow: auto;
  margin-top: 1rem;
  padding-right: 2rem;
  max-width: 20em;
  max-height: calc(95vh - 7rem);
  text-align: right;
  font-size: var(--text);

  & .toc-text {
    word-wrap: break-word;
  }

  & a:hover {
    color: var(--color-link);
  }

  & .toc-level-1 > .toc-link {
    display: none;
  }

  & .toc-level-2 > .toc-link-h2 {
    font-weight: 500;
  }

  & .toc-level-2 {
    color: var(--toc-level-2);
    font-size: var(--text-toc-level-2);
  }

  & .toc-level-2:before {
    color: var(--color-accent-1);
    content: "#";
    padding-right: 0.3125rem;
  }

  & .toc-level-3 {
    color: var(--toc-level-3);
    font-size: var(--text-toc-level-3);
  }

  & .toc-level-4 {
    color: var(--toc-level-4);
    font-size: var(--text-toc-level-4);
  }

  & .toc-level-5 {
    display: none;
  }

  & .toc-level-6 {
    display: none;
  }

  & .toc-number {
    display: none;
  }
}

#header-post .toc-active {
  color: var(--color-accent-1);
}

#header-post .is-active-link::before {
  background-color: var(--color-accent-1);
}

#header-post .is-collapsible {
  transition: all 40ms ease-in-out;
}

@media screen and (max-width: 500px) {
  #header-post {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #header-post {
    & #menu-icon,
    & #actions {
      display: none;
    }
  }
}

@media screen and (max-width: 1199px) {
  #header-post #toc {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #header-post #menu-icon-tablet {
    display: none !important;
  }

  #header-post #top-icon-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 1199px) {
  #header-post #actions {
    width: auto;
  }

  #header-post #actions ul {
    display: inline-block;
    float: right;
  }

  #header-post #actions .info {
    display: inline;
    float: left;
    margin-right: 2rem;
    font-style: italic;
  }
}

#footer-post {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000000;
  width: 100%;
  border-top: 1px solid #666;
  background: var(--color-footer-mobile-3);
  transition: opacity 0.2s;

  & a {
    background: none;
    color: inherit;
    text-decoration: none;
    &.icon {
      background: none;
      &:hover {
        color: var(--color-link);
      }
    }
  }

  & #nav-footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: var(--color-footer-mobile-2);
    text-align: center;
    & a {
      color: var(--color-accent-1);
      font-size: 1em;
      &:hover {
        background-image: linear-gradient(
          transparent,
          transparent 0.3125rem,
          var(--color-accent-1) 0.3125rem,
          var(--color-accent-1)
        );
        background-position: bottom;
        background-size: 100% 0.375rem;
        background-repeat: repeat-x;
      }
    }
  }

  & #nav-footer ul {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    & li {
      display: inline-table;
      padding: 0.625rem;
      width: 20%;
      vertical-align: middle;
    }
  }

  & #actions-footer {
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    & a {
      display: inline-block;
      padding-left: 1rem;
      color: var(--color-accent-1);
    }
  }

  & #share-footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: var(--color-footer-mobile-2);
    text-align: center;
    & ul {
      display: table;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;
      & li {
        display: inline-table;
        padding: 0.625rem;
        width: 20%;
        vertical-align: middle;
      }
    }
  }

  & #toc-footer {
    clear: both;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--color-footer-mobile-2);
    text-align: left;
    & ol {
      margin: 0;
      padding-left: 1.25rem;
      list-style-type: none;
      & li {
        line-height: 1.875rem;
      }
    }
    & a:hover {
      color: var(--color-link);
    }
    & .toc-level-1 > .toc-link {
      display: none;
    }
    & .toc-level-2 {
      color: var(--color-text);
      font-size: var(--text-sm);
      &:before {
        color: var(--color-accent-1);
        content: "#";
      }
    }
    & .toc-level-3 {
      color: #666;
      font-size: 0.7rem;
      line-height: 0.9375rem;
    }
    & .toc-level-4,
    & .toc-level-5,
    & .toc-level-6,
    & .toc-number {
      display: none;
    }
  }
}

@media screen and (min-width: 500px) {
  #footer-post-container {
    display: none;
  }
}

.group:hover .post-card-hover {
  opacity: 1;
  background-color: var(--color-card-hover);
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
  transition-duration: 0.15s;
}

.post-list {
  padding: 0;
  margin: 0;

  & .post-item {
    margin-bottom: 1rem;
    margin-left: 0;
    list-style-type: none;

    & .meta {
      display: block;
      margin-right: 1rem;
      color: var(--color-time);
      font-size: var(--text);
      white-space: nowrap;
    }
  }
}

@media (min-width: 480px) {
  .post-list .post-item {
    display: flex;
    margin-bottom: 0.3125rem;
    & .meta {
      text-align: right;
    }
  }
}

.project-list {
  padding: 0;
  list-style: none;

  & .project-item {
    margin-bottom: 0.3125rem;

    & p {
      display: inline;
    }
  }
}

.title-upper-case {
  text-transform: uppercase !important;
}

article {
  min-height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;

  & header {
    & .posttitle {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: none;
      font-size: 1.5em;
      line-height: 1.25;
    }
    & .meta {
      margin-top: 0;
      margin-bottom: 1rem;
      & * {
        color: var(--color-accent-3);
        font-size: var(--text-sm);
      }
    }
    & .author {
      text-transform: uppercase;
      letter-spacing: 0.01em;
      font-weight: 700;
    }
    & .post-publish-time {
      display: inline;
    }
  }
  & .content {
    & h2:before {
      position: absolute;
      top: -0.25rem;
      left: -1rem;
      color: var(--color-accent-1);
      content: "#";
      font-weight: bold;
      font-size: 1.2rem;
    }

    & img,
    & video {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
    }
    & .video-container {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
      height: 0;
      & iframe,
      & object,
      & embed {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
      }
    }

    & blockquote {
      margin: 1rem 0.625rem;
      padding: 0.5em 0.625rem;
      background: inherit;
      color: var(--color-quote);
      quotes: "\201C" "\201D" "\2018" "\2019";
      font-weight: bold;
      & p {
        margin: 0;
      }
      & footer {
        margin: line-height 0;
        color: var(--color-meta);
        font-size: var(--text-xs);
        & a {
          background-image: linear-gradient(
            transparent,
            transparent 0.3125rem,
            var(--color-meta) 0.3125rem,
            var(--color-meta)
          );
          color: var(--color-meta);
          &:hover {
            background-image: linear-gradient(
              transparent,
              transparent 0.25rem,
              var(--color-meta-code) 0.25rem,
              var(--color-meta-code)
            );
            color: var(--color-meta-code);
          }
        }
        & cite:before {
          padding: 0 0.5em;
          content: "—";
        }
      }
    }

    & .pullquote {
      margin: 0;
      width: 45%;
      text-align: left;
      &.left {
        margin-right: 1em;
        margin-left: 0.5em;
      }
      &.right {
        margin-right: 0.5em;
        margin-left: 1em;
      }
    }

    & .caption {
      position: relative;
      display: block;
      margin-top: 0.5em;
      color: var(--color-meta);
      text-align: center;
      font-size: 0.9em;
    }
  }
}

a {
  & img {
    display: inherit !important;
  }
  &:has(img) {
    background-image: none !important;
  }
}

/* language-mermaid style start */
/* 默认样式 适配 halo-plugin-vditor */
article {
  & .content {
    & div {
      &.light,
      &.dark {
        display: none;
      }
    }
  }
}

/* 自动模式 */
@media (prefers-color-scheme: no-preference) {
  html[data-color-scheme="auto"] article .content div.light {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  html[data-color-scheme="auto"] article .content div.light {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  html[data-color-scheme="auto"] article .content div.dark {
    display: block;
  }
}

/* 明亮模式 */
html[data-color-scheme="light"] article .content div.light {
  display: block;
}

/* 暗黑模式 */
html[data-color-scheme="dark"] article .content div.dark {
  display: block;
}
/* language-mermaid style end */

.divide {
  height: 0;
  color: inherit;
  border-color: var(--color-divide);
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-top-width: 1px !important;
}

.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}

.article-tag {
  & .tag-link {
    background-image: linear-gradient(transparent, transparent 0.625rem, var(--color-link) 0.625rem, var(--color-link));
    background-position: bottom;
    background-size: 100% 0.375rem;
    background-repeat: repeat-x;
  }
  &:before {
    content: "#";
  }
}

.article-category .category-link {
  background-image: linear-gradient(transparent, transparent 0.625rem, var(--color-link) 0.625rem, var(--color-link));
  background-position: bottom;
  background-size: 100% 0.375rem;
  background-repeat: repeat-x;
}

@media (max-width: 480px) {
  article header {
    & .post-update-time {
      display: inline;
    }
    & .post-publish-time + .post-update-time {
      display: block;
    }
  }
}

@media (min-width: 480px) {
  .post-update-time,
  .article-tag,
  .article-category {
    display: inline;
  }
  article header {
    & .post-publish-time + .post-update-time:before,
    & .article-tag:before,
    & .article-category:before {
      content: "|";
    }
  }
}
#archive {
  flex: auto;
  & .post-list {
    padding: 0;
    & .post-item {
      margin-bottom: 1rem;
      margin-left: 0;
      list-style-type: none;
      & .meta {
        display: block;
        margin-right: 1rem;
        color: var(--color-meta);
        font-size: var(--text);
      }
    }
  }
}

@media (min-width: 480px) {
  #archive .post-list .post-item {
    display: flex;
    margin-bottom: 0.3125rem;
    margin-left: 1rem;
    & .meta {
      text-align: right;
    }
  }
}

.blog-post-comments {
  margin-top: 4rem;
}

#footer {
  margin-bottom: 0.625rem;
  width: 100%;
  color: var(--color-footer-mobile-1);
  vertical-align: top;
  text-align: center;
  font-size: var(--text-xs);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  & .info,
  & .copyright {
    display: inline-block;
    white-space: nowrap;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.25rem;
    display: inline-table;
  }

  & li {
    display: inline-block;
    margin-right: 0.9375rem;
    border-right: 1px solid;
    border-color: var(--color-footer-mobile-1);
    vertical-align: middle;
    & a,
    & span {
      margin-right: 0.9375rem;
    }
    &:last-child {
      margin-right: 0;
      border-right: 0;
      & a,
      & span {
        margin-right: 0;
      }
    }
  }

  & a {
    color: var(--color-footer-mobile-1);
    text-decoration: underline;
    background-image: none;
    &:hover {
      color: var(--color-meta-code);
    }
  }

  & .footer-left {
    vertical-align: middle;
    line-height: 1.25rem;
  }

  & .footer-bottom {
    vertical-align: middle;
    line-height: 1.25rem;
  }
}

.pagination {
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  text-align: center;

  & .page-number {
    color: var(--color-text);
    font-size: var(--text-sm);
  }

  & a {
    padding: 0.25rem 0.375rem;
    border-radius: 0.3125rem;
    background-image: none;
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      background-image: none;

      &:not(.active) {
        color: var(--color-accent-2);
      }
    }
  }
}

.search-input {
  padding: 0.25rem 0.4375rem;
  width: 100%;
  outline: none;
  border: solid 1px var(--color-accent-3);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1.2rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  border-radius: 0.3125rem;
  &:focus {
    border: solid 1px var(--color-accent-1);
  }
}

#search-result {
  & ul.search-result-list {
    padding: 0;
    list-style-type: none;
  }

  & li {
    margin: 2em auto;
  }

  & a.search-result-title {
    background-image: none;
    color: var(--color-text);
    text-transform: capitalize;
    font-weight: bold;
    line-height: 1.2;
  }

  & p.search-result {
    overflow: hidden;
    margin: 0.4em auto;
    max-height: 13em;
    text-align: justify;
    font-size: 0.8em;
  }

  & em.search-keyword {
    border-bottom: 1px dashed var(--color-link);
    color: var(--color-link);
    font-weight: bold;
  }
}

.search-no-result {
  display: none;
  padding-bottom: 0.5em;
  color: var(--color-text);
}

#tag-cloud {
  & .tag-cloud-title {
    color: var(--color-meta);
  }

  & .tag-cloud-tags {
    clear: both;
    text-align: center;
    & a {
      display: inline-block;
      margin: 0.625rem;
    }
  }
}

.tooltipped {
  position: relative;

  &::after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 0.2em 0.5em;
    -webkit-font-smoothing: subpixel-antialiased;
    color: var(--color-background);
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 1.725;
    text-rendering: geometricPrecision;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    content: attr(aria-label);
    background: var(--color-text);
    border-radius: 0.25rem;
    opacity: 0;
  }

  &::before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: var(--color-text);
    pointer-events: none;
    content: "";
    border: 0.375rem solid transparent;
    opacity: 0;
  }

  &:hover::before,
  &:active::before,
  &:focus::before,
  &:hover::after,
  &:active::after,
  &:focus::after {
    display: inline-block;
    text-decoration: none;
    animation-name: tooltip-appear;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.tooltipped-s::after,
.tooltipped-sw::after {
  top: 100%;
  right: 50%;
  margin-top: 0.375rem;
}

.tooltipped-s::before,
.tooltipped-sw::before {
  top: auto;
  right: 50%;
  bottom: -0.4375rem;
  margin-right: -0.375rem;
  border-bottom-color: var(--color-text);
}

.tooltipped-sw::after {
  margin-right: -1rem;
}

.tooltipped-s::after {
  transform: translateX(50%);
}

@-moz-keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#categories {
  & .category-list-title {
    color: var(--color-meta);
  }
  & .category-list {
    & .category-list-item {
      & .category-list-count {
        color: var(--color-meta);
        &:before {
          content: " (";
        }
        &:after {
          content: ")";
        }
      }
    }
  }
}

/*图库页面样式开始*/
.photos {
  & .photo-list {
    list-style: none;
    & li:last-child {
      margin-bottom: 0;
    }
  }
  & .photo-image {
    margin-bottom: 0.9375rem;
  }
  & .pagination {
    margin-bottom: 0.9375rem;
  }
}
/*图库页面样式结束*/

/*友链页面样式开始*/
#links {
  & li {
    list-style: none;
    color: var(--color-text);
  }

  & a {
    text-decoration: none;
    background-image: none;

    &:hover {
      text-decoration: none;
      background-image: none;
    }
  }

  & .fir-clickcircle {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 6.25rem;
    border: 1px solid var(--color-footer-mobile-2);
    cursor: pointer;
  }

  & .fir-image-figure {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0.3125rem;
    position: relative;
    text-decoration: none;

    & .caption,
    & figcaption {
      padding-left: 0.9375rem;
    }
    & .fig-author-figure-title {
      font-weight: 400;
    }
    & .fig-author-figure-description {
      margin-top: 0.125rem;
      color: var(--color-meta);
    }
  }

  & .fir-imageover {
    position: relative;
    display: flex;
  }
}

/*友链页面样式结束*/

/*日志样式开始*/
.moment {
  & .moment-comment {
    margin-top: 1rem;
    &:target {
      display: block;
    }
  }

  & .post-list {
    & li {
      list-style: none;
      /* display: flex;
      flex-direction: column;
      flex: 1; */
    }
    & .moment-item {
      padding-bottom: 1.5rem;
    }
    & a {
      text-decoration: none;
      background: none;
    }
    & .operation {
      color: var(--color-text);
      padding-top: 0.5rem;
    }
  }

  & .momemt-content {
    word-break: break-word;
    & a {
      color: var(--color-text);
      text-decoration: none;
      background-image: linear-gradient(
        transparent,
        transparent 0.3125rem,
        var(--color-text) 0.3125rem,
        var(--color-text)
      );
      background-position: bottom;
      background-size: 100% 0.375rem;
      background-repeat: repeat-x;

      &:hover {
        background-image: linear-gradient(
          transparent,
          transparent 0.25rem,
          var(--color-link) 0.25rem,
          var(--color-link)
        );
      }
    }
  }

  & .avatar-user {
    border-radius: 50% !important;
  }

  & .avatar {
    background-color: var(--color-background);
    box-shadow: 0 0 0 1px rgba(27, 31, 36, 0.15);
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
  }

  & .color-fg-muted {
    color: var(--color-accent-3);
  }

  & .moment-header {
    padding-bottom: 0.375rem;
  }

  & .medium {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    & img {
      max-height: 9rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .tag {
    background-image: none !important;
    background-color: var(--color-background-code) !important;
    color: var(--color-accent-1) !important;
    padding: 0px 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px var(--color-footer-mobile-2);
    text-decoration: none;
    font-size: var(--text-sm);
    &::before {
      content: "#";
    }
  }
}

.moment-content-box {
  box-shadow: 1px 3px 15px rgba(140, 149, 159, 0.15);
  padding: 1rem;
}

.moment-body {
  & .momemt-content {
    & li {
      list-style: initial !important;
    }
    & p {
      text-align: left;
      word-wrap: break-word;
    }
  }
}

@media (width < 768px) {
  .moment ul {
    margin-block-start: 0;
    padding-inline-start: 0;
  }
}
/*日志样式结束*/

/* 作者页面样式开始 */
.author {
  & .head-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .profile-wrap {
    margin: 0 auto;
    padding: 1.25rem 0;
    color: var(--color-text);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }

  & .profile-content {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  }

  & .profile-avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.1rem solid #eae9e7;
    margin: 0 auto;
  }

  & .profile-nickname-container {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }

  & .profile-nickname {
    padding: 0px;
    margin: 0;
    text-align: center;
    font-weight: 600;
  }

  & .profile-bio {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--color-accent-2);
  }
}

/* 作者页面样式结束 */

.color-accent-1 {
  color: var(--color-accent-1);
}
.color-accent-3 {
  color: var(--color-accent-3);
}
.color-time {
  color: var(--color-time);
}
.\!color-time {
  color: var(--color-time) !important;
}

code {
  padding: 0 0.3125rem;
  border: 1px dotted var(--color-meta);
  border-radius: 0.125rem;
  font-family: var(--higan-font-family);
}

.highlight {
  overflow-x: auto;
  margin: 0;
  background: var(--color-highlight-background);
  color: var(--color-background-code);

  & .code {
    & .comment,
    & .quote {
      color: #969896;
      font-style: italic;
    }

    & .keyword,
    & .selector-tag,
    & .literal,
    & .type,
    & .addition {
      color: #c9c;
    }

    & .number,
    & .selector-attr,
    & .selector-pseudo {
      color: #f99157;
    }

    & .string,
    & .doctag,
    & .regexp {
      color: #8abeb7;
    }

    & .title,
    & .name,
    & .section,
    & .built_in {
      color: #b5bd68;
    }

    & .variable,
    & .template-variable,
    & .selector-id,
    & .class .title {
      color: #fc6;
    }

    & .section,
    & .name,
    & .strong {
      font-weight: bold;
    }

    & .symbol,
    & .bullet,
    & .subst,
    & .meta,
    & .link {
      color: #f99157;
    }

    & .deletion {
      color: #dc322f;
    }

    & .formula {
      background: var(--color-accent-2) 8 d5;
    }

    & .attr,
    & .attribute {
      color: #81a2be;
    }

    & .emphasis {
      font-style: italic;
    }
  }
  & code {
    border: none;
    border-radius: unset;
  }
  & figcaption {
    margin: -0.3125rem 0 0.3125rem;
    color: var(--color-meta);
    font-size: 0.9em;
    zoom: 1;
    & a {
      float: right;
      color: var(--color-meta);
      font-style: italic;
      font-size: 0.8em;
      background-image: linear-gradient(
        transparent,
        transparent 0.625rem,
        var(--color-link) 0.625rem,
        var(--color-link)
      );
      background-position: bottom;
      background-size: 100% 0.375rem;
      background-repeat: repeat-x;
      &:hover {
        color: #858585;
      }
    }
    &:after {
      clear: both;
    }
  }

  &:hover .btn-copy {
    opacity: 1;
  }

  & .btn-copy {
    font-size: 1.2rem;
    position: absolute;
    right: 1.25rem;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    & svg {
      width: 1.2rem;
      height: 1.2rem;
    }
    &:hover {
      color: var(--color-accent-1);
    }
  }

  & pre {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }

  & table {
    width: auto;
  }

  & td.gutter {
    text-align: right;
    opacity: 0.2;
  }

  & .line {
    height: 1.375rem;
  }
}

pre {
  overflow-x: auto;
  padding: 0.625rem 0.9375rem;
  padding-bottom: 0;
  font-size: var(--text-sm);
  line-height: 1.375rem;
  font-family: var(--higan-font-family);
  & code {
    display: block;
    padding: 1em;
    border: none;
    font-family: var(--higan-font-family);
  }
}
