@import url("./base.css");
@import url("./animation.css");
@import url("./pages/moment.css");
@import url("./pages/photos.css");
@import url("./pages/links.css");
@import url("./pages/author.css");

/* 样式开始 */

#theme-toggle-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;

  & .icon:hover {
    color: var(--color-link-hover);
  }
}

.max-width {
  max-width: 100%;

  @media (width >= 768px) {
    max-width: 48rem;
  }

  @media (width >= 1024px) {
    max-width: 56rem;
  }

  @media (width >= 1536px) {
    max-width: 64rem;
  }

  @media (width >= 1920px) {
    max-width: 60%;
  }
}

/* .content 通用样式类 可单独使用 */

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-wrap: break-word;
  position: relative;

  & p {
    hyphens: auto;
  }

  & code {
    hyphens: manual;
  }

  & a {
    background-image: linear-gradient(
      transparent,
      transparent 0.3125rem,
      var(--color-text) 0.3125rem,
      var(--color-text)
    );
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 100% 0.375rem;
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      background-image: linear-gradient(
        transparent,
        transparent 0.25rem,
        var(--color-link-hover) 0.25rem,
        var(--color-link-hover)
      );
    }

    &.icon {
      background: none;

      &:hover {
        color: var(--color-link-hover);
      }
    }
  }
}

/* 语义化 HTML5 标签 内部一般嵌套一个 .content */

article {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 100%;

  & header {
    & .meta {
      margin-bottom: 1rem;
      margin-top: 0;

      & * {
        color: var(--color-accent-3);
        font-size: var(--text-sm);
      }
    }
  }

  & .content {
    & h2::before {
      color: var(--color-accent-1);
      content: "#";
      font-size: 1.2rem;
      font-weight: bold;
      left: -1rem;
      position: absolute;
      top: -0.25rem;
    }

    & .caption {
      color: var(--color-footer-mobile-1);
      display: block;
      font-size: 0.9em;
      margin-top: 0.5em;
      position: relative;
      text-align: center;
    }

    & img,
    & video {
      display: block;
      height: auto;
      margin: auto;
      max-width: 100%;
    }

    /* http://webdesignerwall.com/tutorials/css-elastic-videos */
    & .video-container {
      height: 0;
      overflow: hidden;
      padding-top: calc(9 / 16 * 100%); /*  16:9 ratio */
      position: relative;

      & iframe,
      & object,
      & embed {
        height: 100%;
        left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    & blockquote {
      background: inherit;
      color: var(--color-quote);
      font-weight: bold;
      margin: 1rem 0.625rem;
      padding: 0.5em 0.625rem;
      quotes: "\201C" "\201D" "\2018" "\2019";

      & p {
        margin: 0;
      }

      & footer {
        color: var(--color-footer-mobile-1);
        font-size: var(--text-xs);
        margin: var(--text) * 1.725 0;

        & a {
          background-image: linear-gradient(
            transparent,
            transparent 0.3125rem,
            var(--color-footer-mobile-1) 0.3125rem,
            var(--color-footer-mobile-1)
          );
          color: var(--color-footer-mobile-1);

          &:hover {
            background-image: linear-gradient(
              transparent,
              transparent 0.25rem,
              var(--color-link-hover) 0.25rem,
              var(--color-link-hover)
            );
            color: var(--color-link-hover);
          }
        }

        & cite::before {
          content: "—";
          padding: 0 0.5em;
        }
      }
    }

    & .pullquote {
      margin: 0;
      text-align: left;
      width: 45%;

      &.left {
        float: left;
        margin-left: 0.5em;
        margin-right: 1em;
      }

      &.right {
        float: right;
        margin-left: 1em;
        margin-right: 0.5em;
      }
    }
  }
}

/* 仅明暗显示 Block 样式设定 */

article .content div {
  &.light {
    display: block;
  }

  &.dark {
    display: none;
  }
}

/* 自动模式 */
html[data-color-scheme="auto"] article .content {
  & div {
    &.light {
      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }

    &.dark {
      @media (prefers-color-scheme: dark) {
        display: block;
      }
    }
  }
}

/* 暗黑模式 */
html[data-color-scheme="dark"] article .content {
  & div {
    &.light {
      display: none;
    }

    &.dark {
      display: block;
    }
  }
}

/* 仅明暗显示 Block 样式设定 end */

#header {
  margin: 0 auto 2rem;
  width: 100%;

  & h1,
  & .h1 {
    color: var(--color-text);
    font-size: 1.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  & a {
    background: none;
    color: inherit;
    text-decoration: none;
  }

  & #logo {
    background-repeat: no-repeat;
    background-size: 3.125rem 3.125rem;
    border-radius: 0.3125rem;
    display: block;
    float: left;
    height: 3.125rem;
    margin-right: 1.25rem;
    width: 3.125rem;

    &.circle-avatar {
      border-radius: 50% !important;
      box-shadow: 0 0 0 1px var(--color-avatar-border);
    }

    &.avatar-grayscale {
      filter: grayscale(100%);
    }
  }

  & #nav {
    color: var(--color-accent-1);
    font-size: var(--text-sm);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;

    & ul {
      display: inline-table;
      line-height: 0.9375rem;
      list-style-type: none;
      margin: 8px 0 0;
      padding: 0;

      & a {
        color: var(--color-accent-1);
        font-size: var(--text);
        margin-right: 0.9375rem;

        @media screen and (width >= 640px) {
          &:hover {
            background-image: linear-gradient(
              transparent,
              transparent 0.3125rem,
              var(--color-accent-1) 0.3125rem,
              var(--color-accent-1)
            );
            background-position: bottom;
            background-repeat: repeat-x;
            background-size: 100% 0.375rem;
          }
        }
      }

      & li {
        border-color: var(--color-accent-1);
        border-right: 1px dotted;
        display: inline-block;
        margin-right: 0.9375rem;
        vertical-align: middle;

        &:last-child {
          border-right: 0;
          margin-right: 0;

          & a {
            margin-right: 0;
          }
        }

        @media screen and (width < 640px) {
          border-right: 0;

          /* display: none; 为了覆盖上面的 display: inline-block; */
          display: none;

          &:not(:first-child) {
            font-size: 1rem;
            padding-left: 4.375rem;
            padding-top: 1rem;
          }

          /* 菜单按钮样式 */
          &.icon {
            display: inline-block;
            position: absolute;
            right: 1rem;
            top: 4.8125rem;

            &.iconify {
              color: var(--color-accent-1);
            }
          }

          &.responsive {
            display: block;
          }
        }
      }

      & .icon {
        display: none;
      }
    }
  }

  &:hover #logo {
    filter: none;
  }

  @media screen and (width < 640px) {
    & #title {
      display: table;
      margin-right: 5rem;
      min-height: 3.125rem;

      & h1 {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

#header-post {
  & a {
    background: none;
    color: inherit;
    text-decoration: none;

    &.icon {
      background: none;

      &:hover {
        color: var(--color-link-hover);
      }
    }
  }

  & ol {
    list-style-type: none;
  }

  & ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      margin-right: 0.9375rem;
      vertical-align: middle;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & #menu-icon {
    float: right;
    margin-left: 0.9375rem;
    margin-right: 2rem;

    &:hover {
      color: var(--color-accent-1);
    }
  }

  & #top-icon-tablet {
    bottom: 2rem;
    margin-left: 0.9375rem;
    margin-right: 2rem;
    position: fixed;
    right: 2rem;

    &:hover {
      color: var(--color-accent-1);
    }
  }

  & .active {
    color: var(--color-accent-1);
  }

  & #nav {
    color: var(--color-accent-1);
    font-size: var(--text-sm);
    font-style: normal;
    letter-spacing: 0.01em;

    & ul {
      display: inline-table;
      line-height: 0.9375rem;

      & a {
        color: var(--color-accent-1);
        margin-right: 0.9375rem;

        &:hover {
          background-image: linear-gradient(
            transparent,
            transparent 0.3125rem,
            var(--color-accent-1) 0.3125rem,
            var(--color-accent-1)
          );
          background-position: bottom;
          background-repeat: repeat-x;
          background-size: 100% 0.375rem;
        }
      }

      & li {
        border-right: 1px dotted var(--color-accent-1);

        &:last-child {
          border-right: 0;
          margin-right: 0;

          & a {
            margin-right: 0;
          }
        }
      }
    }
  }

  & #actions {
    direction: ltr;

    & .info {
      float: left;
      font-style: italic;
      margin-right: 2rem;
    }
  }

  & #share-list {
    & li {
      display: block;
      margin: 0;
    }
  }

  & #toc {
    clear: both;
    float: right;
    font-size: var(--text);
    margin-top: 1rem;
    max-height: calc(95vh - 7rem);
    max-width: 20em;
    overflow: auto;
    padding-right: 2rem;
    text-align: right;

    & .toc-text {
      word-wrap: break-word;
    }

    & a:hover {
      color: var(--color-link-hover);
    }

    & .toc-link-h1 {
      font-style: italic;
    }

    & .toc-level-2 > .toc-link-h2 {
      font-weight: 500;
    }

    & .toc-level-2 {
      color: var(--toc-level-2);
      font-size: var(--text-toc-level-2);

      &::before {
        color: var(--color-accent-1);
        content: "#";
        padding-right: 0.3125rem;
      }
    }

    & .toc-level-3 {
      color: var(--toc-level-3);
      font-size: var(--text-toc-level-3);
    }

    & .toc-level-4 {
      color: var(--toc-level-4);
      font-size: var(--text-toc-level-4);
    }

    & .toc-level-5,
    & .toc-level-6,
    & .toc-number {
      display: none;
    }

    & .toc-active {
      color: var(--color-accent-1);
    }
  }

  & .is-active-link::before {
    background-color: var(--color-accent-1);
  }

  & .is-collapsible {
    transition: all 40ms ease-in-out;
  }
}

/* toc collapsible */
.toc-child {
  display: none;

  &:has(.toc-active) {
    display: block;
  }
}

.toc-active + .toc-child {
  display: block;
}

/* toc collapsible end */

#footer-post-container {
  @media screen and (width >= 640px) {
    display: none;
  }

  & #footer-post {
    background: var(--color-footer-mobile-3);
    border-top: 1px solid #666;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 5000000;

    & a {
      background: none;
      color: inherit;
      text-decoration: none;

      &.icon {
        background: none;

        &:hover {
          color: var(--color-link-hover);
        }
      }
    }

    & #nav-footer {
      background: var(--color-footer-mobile-2);
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;

      & a {
        color: var(--color-accent-1);
        font-size: 1em;

        &:hover {
          background-image: linear-gradient(
            transparent,
            transparent 0.3125rem,
            var(--color-accent-1) 0.3125rem,
            var(--color-accent-1)
          );
          background-position: bottom;
          background-repeat: repeat-x;
          background-size: 100% 0.375rem;
        }
      }

      & ul {
        display: table;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        & li {
          display: inline-table;
          padding: 0.625rem;
          vertical-align: middle;
          width: 20%;
        }
      }
    }

    & #actions-footer {
      margin-bottom: 1rem;
      margin-top: 1rem;
      overflow: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
      white-space: nowrap;
      width: 100%;

      & a {
        color: var(--color-accent-1);
        display: inline-block;
        padding-left: 1rem;
      }
    }

    & #share-footer {
      background: var(--color-footer-mobile-2);
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;

      & ul {
        display: table;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        & li {
          display: inline-table;
          padding: 0.625rem;
          vertical-align: middle;
          width: 20%;
        }
      }
    }

    & #toc-footer {
      background: var(--color-footer-mobile-2);
      clear: both;
      padding-bottom: 1rem;
      padding-top: 1rem;
      text-align: left;

      & ol {
        list-style-type: none;
        margin: 0;
        padding-left: 1.25rem;

        & li {
          line-height: 1.875rem;
        }
      }

      & a:hover {
        color: var(--color-link-hover);
      }

      & .toc-link-h1 {
        font-style: italic;
      }

      & .toc-level-2 {
        color: var(--color-text);
        font-size: var(--text-sm);

        &::before {
          color: var(--color-accent-1);
          content: "#";
        }
      }

      & .toc-level-3 {
        color: #666;
        font-size: 0.7rem;
        line-height: 0.9375rem;
      }

      & .toc-level-4,
      & .toc-level-5,
      & .toc-level-6,
      & .toc-number {
        display: none;
      }
    }
  }
}

.group:hover .post-card-hover {
  background-color: var(--color-card-hover);
  opacity: 100%;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0.95) scaleY(0.95);
  transition-duration: 0.15s;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform;
}

.post-list {
  margin: 0;
  padding: 0;

  & .post-item {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 0;

    @media (width >= 640px) {
      display: flex;
      margin-bottom: 0.3125rem;
    }

    & .meta {
      color: var(--color-time);
      display: block;
      font-size: var(--text);
      margin-right: 1rem;
      white-space: nowrap;

      @media (width >= 640px) {
        text-align: right;
      }
    }
  }
}

/* 推荐文章和相邻导航字体颜色设置 */
.recommendations,
.post-navigation {
  & a {
    color: var(--color-text);

    /* 去除下划线用这个 background-image: none; */
  }
}

/* 疑似可去除 需进一步测试 */
a {
  & img {
    display: inherit !important;
  }

  &:has(img) {
    background-image: none !important;
  }
}

hr.divide {
  border: 0 solid var(--color-divide);
  border-top-width: 1px;
  height: 0;

  /* 分割线上一个也是分割线或者是点赞按钮就隐藏 */
  :is(hr.divide, a.upvote-button) + & {
    display: none;
  }
}

.article-tag .tag-link,
.article-category .category-link {
  background-image: linear-gradient(
    transparent,
    transparent 0.625rem,
    var(--color-link-hover) 0.625rem,
    var(--color-link-hover)
  );
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100% 0.375rem;
}

.article-tag .tag-link {
  &::before {
    content: "#";
  }
}

#archive {
  flex: auto;

  & .post-list {
    padding: 0;

    & .post-item {
      list-style-type: none;
      margin-bottom: 1rem;
      margin-left: 0;

      @media (width >= 640px) {
        display: flex;
        margin-bottom: 0.3125rem;
        margin-left: 1rem;
      }

      & .meta {
        color: var(--color-footer-mobile-1);
        display: block;
        font-size: var(--text);
        margin-right: 1rem;

        @media (width >= 640px) {
          text-align: right;
        }
      }
    }
  }
}

#footer {
  align-items: center;
  color: var(--color-footer-mobile-1);
  display: flex;
  flex-flow: column wrap;
  font-size: var(--text-xs);
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  text-align: center;
  vertical-align: top;
  width: 100%;

  & .info,
  & .copyright {
    display: inline-block;
    white-space: nowrap;
  }

  & ul {
    display: inline-table;
    line-height: 1.25rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    border-color: var(--color-footer-mobile-1);
    border-right: 1px solid;
    display: inline-block;
    margin-right: 0.9375rem;
    vertical-align: middle;

    & a,
    & span {
      margin-right: 0.9375rem;
    }

    &:last-child {
      border-right: 0;
      margin-right: 0;

      & a,
      & span {
        margin-right: 0;
      }
    }
  }

  & a {
    background-image: none;
    color: var(--color-footer-mobile-1);
    text-decoration: underline;

    &:hover {
      color: var(--color-link-hover);
    }
  }

  & .footer-left {
    line-height: 1.25rem;
    vertical-align: middle;
  }

  & .footer-bottom {
    line-height: 1.25rem;
    vertical-align: middle;
  }
}

.pagination {
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  width: 100%;

  & .page-number {
    color: var(--color-text);
    font-size: var(--text-sm);
  }

  & a {
    background-image: none;
    border-radius: 0.3125rem;
    color: var(--color-text);
    padding: 0.25rem 0.375rem;
    text-decoration: none;

    &:hover {
      background-image: none;

      &:not(.active) {
        color: var(--color-accent-2);
      }
    }
  }
}

.search-input {
  background-color: var(--color-background);
  border: solid 1px var(--color-accent-3);
  border-radius: 0.3125rem;
  color: var(--color-text);
  font-size: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4375rem;
  width: 100%;

  &:focus {
    border: solid 1px var(--color-accent-1);
  }
}

#search-result {
  & ul.search-result-list {
    list-style-type: none;
    padding: 0;
  }

  & li {
    margin: 2em auto;
  }

  & a.search-result-title {
    background-image: none;
    color: var(--color-text);
    font-weight: bold;
    line-height: 1.2;
    text-transform: capitalize;
  }

  & p.search-result {
    font-size: 0.8em;
    margin: 0.4em auto;
    max-height: 13em;
    overflow: hidden;
    text-align: justify;
  }

  & em.search-keyword {
    border-bottom: 1px dashed var(--color-link-hover);
    color: var(--color-link-hover);
    font-weight: bold;
  }
}

.search-no-result {
  color: var(--color-text);
  display: none;
  padding-bottom: 0.5em;
}

.color-accent-1 {
  color: var(--color-accent-1);
}

.color-accent-3 {
  color: var(--color-accent-3);
}

.color-link-hover {
  color: var(--color-link-hover);
}

.color-time,
a.color-time {
  color: var(--color-time);
}

code {
  border: 1px dotted var(--color-footer-mobile-1);
  border-radius: 0.125rem;
  padding: 0 0.3125rem;
}

pre {
  font-size: var(--text-sm);
  line-height: 1.375rem;
  overflow-x: auto;
  padding: 0.625rem 0.9375rem;
  padding-bottom: 0;

  & code {
    border: none;
    display: block;
    padding: 1em;
  }
}
