comment-widget-vars()
	comment-widget
		--halo-comment-widget-base-color: var(--color-text) !important
		--halo-comment-widget-base-info-color: var(--color-footer-mobile-1) !important
		--halo-comment-widget-component-comment-item-action-bg-color-hover: var(--color-background) !important
		--halo-comment-widget-component-comment-item-action-color-hover: var(--color-text) !important
		// --halo-comment-widget-component-emoji-picker-rgb-input: 0,0,0 !important
		--halo-comment-widget-component-emoji-picker-color-border: var(--color-card-hover-numbers) !important
		// --halo-comment-widget-component-emoji-picker-rgb-color: 222, 222, 221 !important
		// --halo-comment-widget-component-emoji-picker-rgb-accent: 58, 130, 247 !important
		--halo-comment-widget-component-emoji-picker-rgb-background: var(--color-card-hover-numbers) !important
		--halo-comment-widget-component-form-button-login-bg-color: var(--color-background) !important
		--halo-comment-widget-component-form-button-login-bg-color-hover: var(--color-background) !important
		--halo-comment-widget-component-form-button-login-border-color: var(--color-divide) !important
		--halo-comment-widget-component-form-button-submit-bg-color: var(--color-background) !important
		--halo-comment-widget-component-form-button-submit-border-color: var(--color-divide) !important
		--halo-comment-widget-component-form-button-submit-border-color-hover: var(--color-link-hover) !important
		--halo-comment-widget-component-form-button-submit-color: var(--color-text) !important
		--halo-comment-widget-component-form-input-bg-color: var(--color-background) !important
		--halo-comment-widget-component-form-input-border-color: var(--color-divide) !important
		--halo-comment-widget-component-form-input-border-color-focus: var(--color-link-hover) !important
		--halo-comment-widget-component-form-input-box-shadow-focus: 0 0 0 1.48174px var(--color-link-hover-70-alpha) !important
		--halo-comment-widget-component-form-input-color: var(--color-text) !important
		--halo-comment-widget-component-pagination-button-bg-color-active: var(--color-background) !important
		--halo-comment-widget-component-pagination-button-bg-color-hover: var(--color-background) !important
		--halo-comment-widget-component-pagination-button-border-color-active: var(--color-accent-1) !important
		// --halo-comment-widget-component-emoji-picker-color-border-over: rgba(255, 255, 255, 0.2) !important