base-vars(color-card-hover, color-card-hover-numbers, color-link-hover)
	--color-avatar-border: color-card-hover
	--color-background-code: color-card-hover
	--color-card-hover: color-card-hover
	--color-card-hover-numbers: color-card-hover-numbers
	--color-link-hover: color-link-hover
	--color-link-hover-70-alpha: alpha(color-link-hover, 0.7)