<head
  th:remove="tag"
  th:fragment="head"
>
  <script
    src="index.ts"
    type="module"
  ></script>
</head>
<body
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:th="https://www.thymeleaf.org"
  th:remove="tag"
  th:fragment="body(pageName)"
>
  <a
    sec:authorize="isAnonymous()"
    class="tw:inline-flex tw:items-center tw:gap-x-[0.5ch] tw:align-middle"
    href="/login"
    th:attr="data-page-edit-path=|/console/single-pages/editor?name=${pageName}&returnToView=true|"
    th:title="#{common.edit}"
    style="background-image: none"
    onclick="this.href = '/login?redirect_uri=' + encodeURIComponent(this.dataset.pageEditPath)"
  >
    <span class="tw:iconify tw:mdi--pencil-outline"></span>
    <span th:text="#{common.edit}"></span>
  </a>
  <a
    sec:authorize="isAuthenticated()"
    class="tw:inline-flex tw:items-center tw:gap-x-[0.5ch] tw:align-middle"
    hidden
    th:href="|/console/single-pages/editor?name=${pageName}&returnToView=true|"
    data-page-edit-button
    th:title="#{common.edit}"
    style="background-image: none"
  >
    <span class="tw:iconify tw:mdi--pencil-outline"></span>
    <span th:text="#{common.edit}"></span>
  </a>
</body>
