theme-gray()
	--color-accent-1: #d44375
	--color-accent-2: #111111
	--color-accent-3: #666666
	color-background-numbers = 226, 224, 222
	color-background = rgb(color-background-numbers)
	color-card-hover-numbers = 221, 219, 217
	color-card-hover = rgb(color-card-hover-numbers)
	color-link-hover-numbers = 43, 188, 138
	color-link-hover = rgb(color-link-hover-numbers)
	--color-border: #666
	--color-divide: #c3c3c3
	--color-footer-mobile-1: #666
	--color-footer-mobile-2: #cac6c3
	--color-footer-mobile-3: color-card-hover
	--color-quote: #ab2251
	--color-scrollbar: #999
	--color-text: #363533
	--toc-level-2: #333
	--toc-level-3: #333
	--toc-level-4: #555
	base-vars(color-background, color-background-numbers, color-card-hover, color-card-hover-numbers, color-link-hover)