theme-dark-blue()
	--color-accent: #c5b6ff
	--color-accent-content: #212326
	--color-base-100: #212326
	--color-base-200: #1c1c1c
	--color-base-300: #181818
	--color-base-content: #d5d7d8
	--color-footer-mobile-1: #a4a3a3
	--color-footer-mobile-2: #27292b
	--color-footer-mobile-3: var(--color-base-300)
	--color-neutral: #1d1f21
	--color-neutral-content: #d5d7d8
	--color-primary: #66ccff
	--color-primary-content: #212326
	--color-quote: #b6f1ff
	--color-scrollbar: #999
	--color-secondary: #b6f1ff
	--color-secondary-content: #212326
	--toc-level-2: #e3e3e3
	--toc-level-3: #b0b0b0
	--toc-level-4: #636363
