theme-dark()
	--color-accent: #d480aa
	--color-accent-content: #212326
	--color-base-100: #212326
	--color-base-200: #1c1c1c
	--color-base-300: #181818
	--color-base-content: #d5d7d8
	--color-neutral: #1d1f21
	--color-neutral-content: #d5d7d8
	--color-primary: #2bbc8a
	--color-primary-content: #212326
	--color-scrollbar: #999
	--color-secondary: #ccffb6
	--color-secondary-content: #d5d7d8
	--toc-level-2: #e3e3e3
	--toc-level-3: #b0b0b0
	--toc-level-4: #636363
