theme-gray()
	--color-accent: #c5b6ff
	--color-accent-content: #212326
	--color-base-100: #fafafa
	--color-base-200: #e6e6e6
	--color-base-300: #d2d2d2
	--color-base-content: #363533
	--color-neutral: #2bbc8a
	--color-neutral-content: #d5d7d8
	--color-primary: #d44375
	--color-primary-content: #212326
	--color-secondary: #ab2251
	--color-secondary-content: #212326
	color-card-hover-numbers = 221, 219, 217
	color-card-hover = rgb(color-card-hover-numbers)
	color-link-hover-numbers = 43, 188, 138
	color-link-hover = rgb(color-link-hover-numbers)
	--color-border: #666
	--color-divide: #c3c3c3
	--color-footer-mobile-1: #666
	--color-footer-mobile-2: #cac6c3
	--color-footer-mobile-3: color-card-hover
	--color-quote: #ab2251
	--color-scrollbar: #999
	--toc-level-2: #333
	--toc-level-3: #333
	--toc-level-4: #555
	base-vars(color-card-hover, color-card-hover-numbers, color-link-hover)