theme-light()
	--color-accent: #d480aa
	--color-accent-content: #212326
	--color-base-100: #fafafa
	--color-base-200: #f5f5f5
	--color-base-300: #e4e4e4
	--color-base-content: #333
	--color-footer-mobile-1: #666 // 
	--color-footer-mobile-2: #e6e6e6 // 
	--color-footer-mobile-3: var(--color-base-300) // 
	--color-neutral: #1d1f21
	--color-neutral-content: #d5d7d8
	--color-primary: #b32959
	--color-primary-content: #212326
	--color-quote: #2bbc8a // 
	--color-scrollbar: #aaa // 
	--color-secondary: #2bbc8a
	--color-secondary-content: #dddbd9
	--toc-level-2: #383838 // 
	--toc-level-3: #666 // 
	--toc-level-4: #888 // 
