theme-light()
	--color-accent-1: #2bbc8a
	--color-accent-2: #383838
	--color-accent-3: #676767
	color-background-numbers = 255, 255, 255
	color-background = rgb(color-background-numbers)
	color-card-hover-numbers = 250, 250, 250
	color-card-hover = rgb(color-card-hover-numbers)
	color-link-hover-numbers = 212, 128, 170
	color-link-hover = rgb(color-link-hover-numbers)
	--color-border: #666
	--color-divide: #e5e7eb
	--color-footer-mobile-1: #666
	--color-footer-mobile-2: #e6e6e6
	--color-footer-mobile-3: color-card-hover
	--color-quote: #2bbc8a
	--color-scrollbar: #aaa
	--color-text: #333333
	--color-time: #595858
	--toc-level-2: #383838
	--toc-level-3: #666
	--toc-level-4: #888
	base-vars(color-background, color-background-numbers, color-card-hover, color-card-hover-numbers, color-link-hover)