theme-light-blue()
	--color-accent: #c5b6ff
	--color-accent-content: #212326
	--color-base-100: #fafafa
	--color-base-200: #f5f5f5
	--color-base-300: #e4e4e4
	--color-base-content: #333
	--color-neutral: #1d1f21
	--color-neutral-content: #d5d7d8
	--color-primary: #66ccff
	--color-primary-content: #212326
	--color-scrollbar: #aaa
	--color-secondary: #66ccff
	--color-secondary-content: #212326
	--toc-level-2: #383838
	--toc-level-3: #666
	--toc-level-4: #888
