<!--/*-->
<head></head>
<body></body>
<!--*/-->
<th:block th:fragment="menu(showIcon)">
  <ul>
    <li class="icon" th:if="${showIcon}">
      <a href="#" onclick="event.preventDefault()" aria-expanded="false" role="button">
        <span class="iconify iconify-huge material-symbols--menu"></span>
      </a>
    </li>

    <!--/* 后台设置的菜单项 */-->
    <th:block th:insert="~{:: base-menu}"></th:block>

    <th:block th:each="item : ${theme.config?.styles?.extra_menu_items}">
      <!--/* random post button */-->
      <th:block th:if="${item?.type == 'random'}">
        <th:block th:with="allPostList = ${postFinder.listAll()}">
          <li th:unless="${#lists.isEmpty(allPostList)}">
            <a
              href="/"
              th:with="randomIndex = ${T(java.lang.Math).floor(T(java.lang.Math).random() * #lists.size(allPostList))},
                       postPermalink = ${allPostList[randomIndex].status.permalink}"
              th:href="${postPermalink}"
              th:aria-label="#{fragment.menu.random-button.aria-label}"
              th:text="#{fragment.menu.random}"
            ></a>
          </li>
        </th:block>
      </th:block>
      <!--/* login status button */-->
      <li th:if="${item?.type == 'user'}">
        <a
          sec:authorize="isAnonymous()"
          href="/login"
          onclick="this.href = '/login?redirect_uri=' + encodeURIComponent(window.location.href)"
          th:text="#{fragment.menu.login}"
        >
        </a>
        <a
          sec:authorize="isAuthenticated()"
          th:with="loggedInUser = ${contributorFinder.getContributor(#authentication.name)}"
          th:text="${loggedInUser.displayName}"
          href="/uc"
        >
        </a>
      </li>
      <!--/* search widget button */-->
      <li
        th:if="${item?.type == 'search'
                 and pluginFinder.available('PluginSearchWidget')}"
      >
        <a
          href="javascript:SearchWidget.open();"
          th:aria-label="#{fragment.menu.search-button.aria-label}"
          th:text="#{fragment.menu.search}"
        ></a>
      </li>
    </th:block>
  </ul>
</th:block>

<th:block th:fragment="base-menu" th:with="menuItems = ${menuFinder.getPrimary().menuItems}">
  <!--/* 普通菜单 start */-->
  <th:block th:unless="${theme.config?.global?.is_i18n_menu_show}">
    <th:block th:each="menuItem : ${menuItems}">
      <th:block th:insert="~{:: menu-item(${menuItem})}"></th:block>
    </th:block>
  </th:block>
  <!--/* 普通菜单 end */-->
  <!--/* 多语言菜单 start */-->
  <!--/* 多语言全等匹配模式 start */-->
  <th:block
    th:if="${theme.config?.global?.is_i18n_menu_show
             and !theme.config?.global?.is_i18n_prefix_match_mode}"
  >
    <th:block th:each="menuItem : ${menuItems}">
      <th:block th:if="${#strings.equals(menuItem.status.displayName, page_language)}">
        <th:block th:each="menuItemChildren : ${menuItem?.children}">
          <th:block th:insert="~{:: menu-item(${menuItemChildren})}"></th:block>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
  <!--/* 多语言全等匹配模式 end */-->
  <!--/* 多语言前缀匹配模式 start */-->
  <th:block
    th:if="${theme.config?.global?.is_i18n_menu_show
             and theme.config?.global?.is_i18n_prefix_match_mode}"
  >
    <th:block th:each="menuItem : ${menuItems}">
      <th:block th:if="${page_language != null
                         and menuItem.status.displayName != null
                         and #strings.startsWith(page_language, menuItem.status.displayName)}">
        <th:block th:each="menuItemChildren : ${menuItem?.children}">
          <th:block th:insert="~{:: menu-item(${menuItemChildren})}"></th:block>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
  <!--/* 多语言前缀匹配模式 end */-->
  <!--/* 隐藏的默认语言菜单项，在未成功匹配时显示 start */-->
  <th:block th:if="${theme.config?.global?.is_i18n_menu_show}">
    <th:block th:each="menuItem : ${menuItems}">
      <th:block th:if="${#strings.equals(menuItem.status.displayName, theme.config?.global?.default_page_language)}">
        <th:block th:each="menuItemChildren : ${menuItem.children}">
          <li
            style="display: none"
            class="default-menu"
            th:classappend="${#lists.isEmpty(menuItemChildren?.children) ? '' : 'has-submenu'}"
          >
            <th:block th:replace="~{:: menu-item-content(${menuItemChildren})}"></th:block>
          </li>
        </th:block>
      </th:block>
    </th:block>
  </th:block>
  <!--/* 隐藏的默认语言菜单项 end */-->
  <!--/* 多语言菜单 end */-->
</th:block>

<th:block th:fragment="menu-item(item)">
  <li class="matched-menu" th:classappend="${#lists.isEmpty(item?.children) ? '' : 'has-submenu'}">
    <th:block th:replace="~{:: menu-item-content(${item})}"></th:block>
  </li>
</th:block>

<th:block th:fragment="menu-item-content(item)">
  <th:block th:if="${#lists.isEmpty(item?.children)}">
    <!--/* 没有子菜单的菜单项 */-->
    <a
      th:href="@{${item?.status?.href}}"
      th:target="${item?.spec?.target?.value}"
      th:aria-label="#{fragment.menu.menuItem.aria-label(${item.status?.displayName})}"
      th:text="${item?.status?.displayName}"
      >目录项填充位置</a
    >
  </th:block>
  <th:block th:unless="${#lists.isEmpty(item?.children)}">
    <!--/* 有子菜单的菜单项 */-->
    <span class="submenu-container">
      <button
        class="submenu-toggle v-cursor-pointer m-0 border-none bg-transparent p-0 focus:outline-none"
        th:aria-label="#{fragment.menu.submenu-toggle.aria-label}"
        type="button"
      >
        <span class="iconify iconify-large-middle material-symbols--keyboard-arrow-down mr-1"></span></button
      ><a
        class="submenu-link"
        th:href="@{${item?.status?.href}}"
        th:target="${item?.spec?.target?.value}"
        th:aria-label="#{fragment.menu.menuItem.aria-label(${item.status?.displayName})}"
        th:text="${item?.status?.displayName}"
        th:attr="data-parent-href=${item?.status?.href},
                data-parent-target=${item?.spec?.target?.value},
                data-parent-label=${item?.status?.displayName},
                data-submenu-hrefs=${#strings.arrayJoin(item.children.![status.href].toArray(), '|||')},
                data-submenu-targets=${#strings.arrayJoin(item.children.![spec.target.value].toArray(), '|||')},
                data-submenu-labels=${#strings.arrayJoin(item.children.![status.displayName].toArray(), '|||')},
                data-submenu-index='0',
                data-submenu-count=${#lists.size(item.children) + 1}"
        >菜单项填充位置</a
      >
    </span>
  </th:block>
</th:block>

<th:block
  th:fragment="share(originPermalink,title)"
  th:with="siteUrl = ${#strings.substring(site.url, #strings.length(site.url) - 1) == '/'
                       ? #strings.substring(site.url, 0, #strings.length(site.url) - 1)
                       : site.url}"
>
  <th:block
    th:with="permalink = ${siteUrl} + ${originPermalink},
             title = ${title}"
  >
    <ul>
      <script th:inline="javascript">
        function nativeShare(link) {
          const postTitle = /*[[${title}]]*/ "";
          const shareData = { title: postTitle, url: link };
          if (navigator.canShare?.(shareData)) {
            navigator.share(shareData);
          } else {
            console.error("Sharing not supported");
          }
        }
      </script>
      <li th:each="item : ${theme?.config?.share?.button_config}">
        <a
          th:if="${item?.name != 'Native'}"
          class="icon"
          th:aria-label="#{common.shareModal.share.aria-label(${item?.aria_label})}"
          th:href="${#strings.replace(#strings.replace(item?.url, '@URL', permalink), '@TITLE', title)}"
        >
          <span
            class="iconify"
            th:style="|--svg:url('${item?.icon.value}')|"
            th:if="${item?.icon != null} and ${item?.icon != ''}"
          ></span
          ><span
            class="iconify icomoon-free--mail4"
            th:if="${item?.name == 'E-mail' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify pepicons-pencil--qr-code-circle-filled"
            th:if="${item?.name == 'QRCode' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify ic--baseline-facebook"
            th:if="${item?.name == 'Facebook' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify mdi--twitter-circle"
            th:if="${item?.name == 'X' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify entypo-social--linkedin-with-circle"
            th:if="${item?.name == 'LinkedIn' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify mdi--pinterest"
            th:if="${item?.name == 'Pinterest' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify uil--telegram"
            th:if="${item?.name == 'Telegram' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify ant-design--qq-circle-filled"
            th:if="${item?.name == 'QQ' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify ant-design--weibo-circle-filled"
            th:if="${item?.name == 'Weibo' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify ant-design--wechat-filled"
            th:if="${item?.name == 'WeChat' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify cib--qzone"
            th:if="${item?.name == 'Qzone' and (item?.icon == null or item?.icon == '')}"
          ></span
          ><span
            class="iconify tabler--brand-douban"
            th:if="${item?.name == 'Douban' and (item?.icon == null or item?.icon == '')}"
          ></span
        ></a>
        <a
          th:if="${item?.name == 'Native'}"
          class="icon"
          th:aria-label="#{common.shareModal.share.aria-label(${item?.aria_label})}"
          th:href="|javascript:nativeShare('${#strings.replace(item?.url, '@URL', permalink)}');|"
        >
          <span
            class="iconify"
            th:style="|--svg:url('${item?.icon.value}')|"
            th:if="${item?.icon != null and item?.icon != ''}"
          ></span
          ><span
            class="iconify mdi--share-circle"
            th:if="${item?.name == 'Native' and (item?.icon == null or item?.icon == '')}"
          ></span
        ></a>
      </li>
    </ul>
  </th:block>
</th:block>

<button
  th:fragment="theme-toggle-button"
  th:if="${theme.config?.styles?.is_show_color_scheme_toggle_button}"
  id="theme-toggle-button"
  accesskey="t"
  title="(Alt + T)"
  type="button"
  class="border-0 bg-transparent align-middle"
>
  <span
    id="theme-toggle-button-icon"
    style="display: none"
    class="icon iconify iconify-large -translate-x-px -translate-y-px"
  ></span>
  <style>
    #theme-toggle-button {
      & .icon:hover {
        color: var(--color-accent);
      }
    }
  </style>
</button>

<th:block
  th:fragment="auto-redirect"
  th:with="siteUrl = ${#strings.substring(site.url, #strings.length(site.url) - 1) == '/'
                       ? #strings.substring(site.url, 0, #strings.length(site.url) - 1)
                       : site.url}"
>
  <p id="countdown" style="opacity: 0%; transition: opacity 1s"></p>
  <script th:inline="javascript">
    const countdownElement = document.getElementById("countdown");
    const siteUrl = /*[[${siteUrl}]]*/ "";
    var targetUrl = /*[[${theme.config?.error_page_styles?.target_url}]]*/ "/";
    if (targetUrl.startsWith("/")) {
      targetUrl = siteUrl + targetUrl;
    }
    let currentTimeLeft = /*[(${theme.config?.error_page_styles?.redirect_wait_time})]*/ 5;
    const originText = /*[[#{page.error.auto-refresh}]]*/ "";
    document.addEventListener("DOMContentLoaded", () => {
      countdownElement.innerHTML = `${originText
        .replace("{0}", currentTimeLeft)
        .replace("{1}", `<a href="${targetUrl}">${targetUrl}</a>`)}`;
      countdownElement.style.opacity = 1; // <!--/* 此处动画耗时一秒 */-->
      currentTimeLeft -= 1;
      const countdownInterval = setInterval(() => {
        if (currentTimeLeft <= 0) {
          clearInterval(countdownInterval);
          window.location.href = targetUrl;
        }
        countdownElement.innerHTML = `${originText
          .replace("{0}", currentTimeLeft)
          .replace("{1}", `<a href="${targetUrl}">${targetUrl}</a>`)}`;
        currentTimeLeft -= 1;
      }, 1000);
    });
  </script>
</th:block>
