<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="content">
  <header id="header">
    <a th:href="@{/}">
      <div
        id="logo"
        th:with="styles=${theme.config?.styles},logo=${#objects.nullSafe(styles?.icon, site?.logo)},fallbackLogo=${#theme.assets('/images/logo.png')}"
        th:class="${styles?.avatar_circle == true ? 'circle-avatar' : ''}"
        th:classappend="${styles?.avatar_grayout == true ? 'avatar-grayscale' : ''}"
        th:style="|background-image: url('${#strings.defaultString(logo, fallbackLogo)}')|"
        th:if="${theme.config?.styles?.is_show_header_icon}"
      ></div>

      <div id="title">
        <h1>
          <th:block th:text="${site?.title}">站点标题替换位</th:block
          ><th:block th:replace="~{fragments/common :: theme-toggle-button}"></th:block>
        </h1>
      </div>
    </a>
    <div id="nav" th:if="${theme.config?.styles?.is_show_header_menu}">
      <th:block th:insert="~{fragments/common :: menu(showIcon=true)}"></th:block>
    </div>
  </header>
</th:block>
<!--/* 使此模块的模板需引入文件 generic-header.ts 以正确引入样式和脚本 */-->
