<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post" class="fixed right-0 top-8 z-50 float-right hidden sm:block">
    <a
      id="top-icon-tablet"
      class="hidden lg:!hidden"
      href="#"
      onclick="event.preventDefault(); window.moduleReady.scrollToTop.then(window.scrollToTop);"
      ><i class="iconify iconify-middle" data-icon="material-symbols:keyboard-arrow-up"></i
    ></a>
    <span id="menu" class="mr-8">
      <div class="flex items-center justify-end">
        <span id="nav" class="hidden lg:block">
          <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
        </span>
        <a
          id="menu-icon"
          href="#"
          onclick="event.preventDefault();"
          th:aria-label="#{fragment.post-nav.menu-icon.aria-label}"
          class="active"
        >
          <i class="iconify iconify-middle -translate-y-px" data-icon="material-symbols:menu"></i>
        </a>
      </div>
      <span id="actions" class="float-right mr-8 mt-8 hidden text-right lg:block">
        <ul class="float-right block">
          <li>
            <a
              th:href="@{/}"
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.home-icon.aria-label}"
              onmouseover="toggle('#i-home');"
              onmouseout="toggle('#i-home');"
            >
              <i class="iconify iconify-large" data-icon="mdi:home-circle"></i>
            </a>
          </li>

          <li>
            <a
              class="icon"
              href="#"
              onclick="event.preventDefault(); window.moduleReady.scrollToTop.then(window.scrollToTop);"
              th:aria-label="#{fragment.post-nav.actions.to-top-icon.aria-label}"
            >
              <i
                class="iconify iconify-large"
                data-icon="material-symbols:keyboard-arrow-up"
                onmouseover="toggle('#i-top');"
                onmouseout="toggle('#i-top');"
              ></i>
            </a>
          </li>
          <li th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}">
            <a
              class="icon"
              href="#"
              onclick="event.preventDefault();"
              th:aria-label="#{fragment.post-nav.actions.share-icon.aria-label}"
            >
              <i
                id="action-share"
                class="iconify iconify-middle"
                data-icon="mdi:share-variant-outline"
                onmouseover="toggle('#i-share');"
                onmouseout="toggle('#i-share');"
              ></i>
            </a>
          </li>
        </ul>

        <span id="i-top" class="info hidden">[(#{fragment.post-nav.toTop})]</span>
        <span id="i-share" class="info hidden" th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
          >[(#{fragment.post-nav.sharePost})]</span
        >
        <span id="i-home" class="info hidden">[(#{fragment.post-nav.backToHome})]</span>
      </span>
      <br />
      <div
        id="share-list"
        class="clear-both hidden pr-8 pt-4 text-right"
        th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
      >
        <th:block
          th:insert="~{fragments/common :: share(originPermalink=${singlePage.status.permalink},title=${singlePage.spec.title})}"
        ></th:block>
      </div>
      <div id="toc" class="hidden lg:block"></div>
    </span>
  </div>
</th:block>
