<!--/*-->
<head></head>
<body></body>
<!--*/-->
<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post" class="fixed top-8 right-0 z-50 float-right hidden sm:block">
    <a id="top-icon-tablet" class="hidden lg:hidden!" href="#" data-scroll-to-top
      ><span class="iconify iconify-middle material-symbols--keyboard-arrow-up"></span
    ></a>
    <span id="menu" class="mr-8">
      <div class="flex items-center justify-end">
        <span id="nav" class="hidden lg:block">
          <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
        </span>
        <a
          id="menu-icon"
          href="#"
          onclick="event.preventDefault()"
          th:aria-label="#{fragment.post-nav.menu-icon.aria-label}"
          class="active"
          role="button"
          aria-expanded="true"
          aria-controls="nav actions toc"
        >
          <span class="iconify iconify-middle material-symbols--menu -translate-y-px"></span>
        </a>
      </div>
      <span id="actions" class="float-right mt-8 mr-8 hidden text-right lg:block">
        <ul class="float-right block">
          <li>
            <a
              th:href="@{/}"
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.home-icon.aria-label}"
              data-toggle-target="#i-home"
            >
              <span class="iconify iconify-large mdi--home-circle"></span>
            </a>
          </li>

          <li>
            <a
              class="icon"
              href="#"
              data-scroll-to-top
              th:aria-label="#{fragment.post-nav.actions.to-top-icon.aria-label}"
              data-toggle-target="#i-top"
            >
              <span class="iconify iconify-large material-symbols--keyboard-arrow-up"></span>
            </a>
          </li>
          <li th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}">
            <a
              class="icon"
              href="#"
              id="action-share"
              onclick="event.preventDefault()"
              th:aria-label="#{fragment.post-nav.actions.share-icon.aria-label}"
              data-toggle-target="#i-share"
            >
              <span class="iconify iconify-middle mdi--share-variant-outline"></span>
            </a>
          </li>
        </ul>

        <span id="i-top" class="info hidden">[(#{fragment.post-nav.toTop})]</span>
        <span id="i-share" class="info hidden" th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
          >[(#{fragment.post-nav.sharePost})]</span
        >
        <span id="i-home" class="info hidden">[(#{fragment.post-nav.backToHome})]</span>
      </span>
      <br />
      <div
        id="share-list"
        class="clear-both hidden pt-4 pr-8 text-right"
        th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
      >
        <th:block
          th:insert="~{fragments/common :: share(originPermalink=${singlePage.status.permalink},title=${singlePage.spec.title})}"
        ></th:block>
      </div>
      <div id="toc" class="hidden lg:block"></div>
    </span>
  </div>
</th:block>
