<!--/*-->
<head></head>
<body></body>
<!--*/-->
<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post" class="fixed top-8 right-0 z-50 float-right hidden sm:block">
    <a id="top-icon-tablet" class="hidden lg:hidden!" href="#" data-scroll-to-top
      ><i class="iconify iconify-middle" data-icon="material-symbols:keyboard-arrow-up"></i
    ></a>
    <span id="menu" class="mr-8">
      <div class="flex items-center justify-end">
        <span id="nav" class="hidden lg:block">
          <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
        </span>
        <a
          id="menu-icon"
          href="#"
          onclick="event.preventDefault()"
          th:aria-label="#{fragment.post-nav.menu-icon.aria-label}"
          class="active"
        >
          <i class="iconify iconify-middle -translate-y-px" data-icon="material-symbols:menu"></i>
        </a>
      </div>
      <span
        id="actions"
        class="float-right mt-8 mr-8 hidden text-right lg:block"
        th:with="postCursor=${postFinder.cursor(post.metadata?.name)}"
      >
        <ul class="float-right block">
          <li>
            <a
              th:href="@{/}"
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.home-icon.aria-label}"
              data-toggle-target="#i-home"
            >
              <i class="iconify iconify-large" data-icon="mdi:home-circle"></i>
            </a>
          </li>
          <li th:if="${postCursor.hasPrevious()}">
            <a
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.prev-icon.aria-label}"
              th:href="@{${postCursor.previous?.status?.permalink}}"
              data-toggle-target="#i-prev"
            >
              <i class="iconify iconify-large" data-icon="mdi:chevron-left"></i>
            </a>
          </li>

          <li th:if="${postCursor.hasNext()}">
            <a
              class="icon"
              th:aria-label="#{fragment.post-nav.actions.next-icon.aria-label}"
              th:href="@{${postCursor.next?.status?.permalink}}"
              data-toggle-target="#i-next"
            >
              <i class="iconify iconify-large" data-icon="ic:round-chevron-right"></i>
            </a>
          </li>

          <li>
            <a
              class="icon"
              href="#"
              data-scroll-to-top
              th:aria-label="#{fragment.post-nav.actions.to-top-icon.aria-label}"
              data-toggle-target="#i-top"
            >
              <i class="iconify iconify-large" data-icon="material-symbols:keyboard-arrow-up"></i>
            </a>
          </li>
          <li th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}">
            <a
              class="icon"
              href="#"
              id="action-share"
              onclick="event.preventDefault()"
              th:aria-label="#{fragment.post-nav.actions.share-icon.aria-label}"
              data-toggle-target="#i-share"
            >
              <i class="iconify iconify-middle" data-icon="mdi:share-variant-outline"></i>
            </a>
          </li>
        </ul>

        <span id="i-prev" class="info hidden">[(#{fragment.post-nav.prev})]</span>
        <span id="i-next" class="info hidden">[(#{fragment.post-nav.next})]</span>

        <span id="i-top" class="info hidden">[(#{fragment.post-nav.toTop})]</span>
        <span id="i-share" class="info hidden" th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
          >[(#{fragment.post-nav.sharePost})]</span
        >
        <span id="i-home" class="info hidden">[(#{fragment.post-nav.backToHome})]</span>
      </span>
      <br />
      <div
        id="share-list"
        class="clear-both pt-4 pr-8 text-right"
        style="display: none"
        th:if="${theme.config?.post_styles?.is_show_post_nav_share_button}"
      >
        <th:block
          th:insert="~{fragments/common :: share(originPermalink=${post.status.permalink},title=${post.spec?.title})}"
        ></th:block>
      </div>
      <div id="toc" class="hidden lg:block"></div>
    </span>
  </div>
</th:block>
