@import "mixins"

html[theme="dark"]
	theme-dark()
	comment-widget-vars()

html[theme="gray"]
	theme-gray()
	comment-widget-vars()

html[theme="light"]
	theme-light()
	comment-widget-vars()

html[theme="dark-blue"]
	theme-dark-blue()
	comment-widget-vars()

html[theme="light-blue"]
	theme-light-blue()
	comment-widget-vars()

html[theme="auto"]
	theme-light()
	comment-widget-vars()

html[theme="auto-blue"]
	theme-light-blue()
	comment-widget-vars()

@media (prefers-color-scheme: dark)
	html[theme="auto"]
		theme-dark()
		comment-widget-vars()

	html[theme="auto-blue"]
		theme-dark-blue()
		comment-widget-vars()
