@import "mixins"

html[theme="dark"]
	theme-dark()

html[theme="gray"]
	theme-gray()

html[theme="light"]
	theme-light()

html[theme="dark-blue"]
	theme-dark-blue()

html[theme="light-blue"]
	theme-light-blue()

html[theme="auto"]
	theme-light()

html[theme="auto-blue"]
	theme-light-blue()

@media (prefers-color-scheme: dark)
	html[theme="auto"]
		theme-dark()

	html[theme="auto-blue"]
		theme-dark-blue()
