<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{/fragments/layout :: html(
    title=#{common.error.internalServerError},
    head = ~{::headContent},
    content = ~{::content},
    header = ~{fragments/header::content},
    navbar = ~{}
  )}"
>
  <head>
    <script src="/src/pages/generic-header.ts" type="module"></script>
  </head>
  <th:block th:fragment="content">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="content" itemprop="articleBody">
        <h1>
          <th:block th:text="${error.title}">标题替换位</th:block
          ><th:block th:replace="~{fragments/common :: theme-toggle-button}"></th:block>
        </h1>
        <p th:text="${error?.detail}"></p>
        <th:block
          th:if="${theme.config?.error_page_styles?.is_auto_redirect}"
          th:insert="~{fragments/common :: auto-redirect}"
        ></th:block>
      </div>
    </article>
  </th:block>
</html>
