<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{/fragments/layout :: html(
    title=${error.status},
    head = ~{:: head},
    content = ~{:: body},
    header = ~{components/header/template :: body},
    navbar = ~{}
  )}"
>
  <head th:remove="tag">
    <script src="/src/scripts/pages/error.ts" type="module"></script>
  </head>
  <body th:remove="tag">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="content" itemprop="articleBody">
        <h1>
          <th:block th:text="${error.status}">标题替换位</th:block>
        </h1>
        <p th:if="${#strings.isEmpty(error.title)}" th:text="#{common.error.internalServerError}"></p>
        <p th:unless="${#strings.isEmpty(error.title)}" th:text="${error.title}"></p>
        <p th:unless="${#strings.isEmpty(error.detail)}" th:text="${error.detail}"></p>
        <th:block
          th:if="${theme.config?.error_page_styles?.is_auto_redirect}"
          th:insert="~{fragments/common :: auto-redirect}"
        ></th:block>
      </div>
    </article>
  </body>
</html>
