#header {
  margin: 0 auto 2rem;
  width: 100%;

  & h1,
  & .h1 {
    color: var(--color-base-content);
    font-size: 1.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  & a {
    background: none;
    color: inherit;
    text-decoration: none;
  }

  & #logo {
    background-repeat: no-repeat;
    background-size: 3.125rem 3.125rem;
    border-radius: 0.3125rem;
    display: block;
    float: left;
    height: 3.125rem;
    margin-right: 1.25rem;
    width: 3.125rem;

    &.circle-avatar {
      border-radius: 50% !important;
      box-shadow: 0 0 0 1px color-mix(in oklab, var(--color-base-content) 80%, transparent);
    }

    &.avatar-grayscale {
      filter: grayscale(100%);
    }
  }

  & #nav {
    color: var(--color-primary);
    font-size: var(--text-sm);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;

    & ul {
      display: inline-table;
      line-height: 0.9375rem;
      list-style-type: none;
      margin: 8px 0 0;
      padding: 0;

      & a {
        color: var(--color-primary);
        font-size: var(--text);
        margin-right: 0.9375rem;

        @media (width >= 640px) {
          &:hover {
            background-image: linear-gradient(
              transparent,
              transparent 0.3125rem,
              var(--color-primary) 0.3125rem,
              var(--color-primary)
            );
            background-position: bottom;
            background-repeat: repeat-x;
            background-size: 100% 0.375rem;
          }
        }
      }

      & li {
        border-color: var(--color-primary);
        border-right: 1px dotted;
        display: inline-block;
        margin-right: 0.9375rem;
        vertical-align: middle;

        &:last-child {
          border-right: 0;
          margin-right: 0;

          & a {
            margin-right: 0;
          }
        }

        &.has-submenu {
          & .submenu-container {
            align-items: center;
            display: inline-flex;
            gap: 0.25rem;
          }

          & .submenu-link {
            margin-right: 0;
          }

          & .submenu-toggle {
            align-items: center;
            background: none;
            border: none;
            color: var(--color-primary);
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            line-height: 1;
            margin: 0;
            margin-right: 0.9375rem;
            padding: 0;
            transition: transform 0.2s ease;

            & .iconify {
              display: block;
              font-size: 1.2em;
            }

            &:hover {
              color: var(--color-accent);
            }

            &:focus {
              border-radius: 2px;
              outline: 2px solid var(--color-primary);
              outline-offset: 2px;
            }
          }
        }

        @media (width < 640px) {
          border-right: 0;

          /* display: none; 为了覆盖上面的 display: inline-block; */
          display: none;

          &:not(:first-child) {
            font-size: 1rem;
            padding-left: 4.375rem;
            padding-top: 1rem;
          }

          /* 菜单按钮样式 */
          &.icon {
            display: inline-block;
            position: absolute;
            right: 1rem;
            top: 4.8125rem;

            &.iconify {
              color: var(--color-primary);
            }
          }

          &.has-submenu {
            & .submenu-container {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }

            & .submenu-toggle {
              align-self: flex-start;
              margin-left: 4.375rem;
            }
          }
        }
      }

      & .icon {
        display: none;
      }
    }
  }

  &:hover #logo {
    filter: none;
  }

  @media (width < 640px) {
    & #title {
      display: table;
      margin-right: 5rem;
      min-height: 3.125rem;

      & h1,
      & .h1 {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
