<!--/*-->
<head></head>
<body></body>
<!--*/-->
<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="content">
  <header id="header">
    <a th:href="@{/}">
      <th:block
        th:with="styles=${theme.config?.styles},
                fallbackLogoAvif=${#theme.assets('/images/logo.avif')},
                fallbackLogoWebp=${#theme.assets('/images/logo.webp')},
                fallbackLogoPng=${#theme.assets('/images/logo.png')},
                logoUri=${#strings.defaultString(#objects.nullSafe(styles?.icon, site?.logo), fallbackLogoAvif)},
                ext=${logoUri.substring(logoUri.lastIndexOf('.') + 1).toLowerCase()},
                imageType=${ext == 'avif' ? 'image/avif' : 
                  (ext == 'webp' ? 'image/webp' : 
                  (ext == 'png' ? 'image/png' : 
                  (ext == 'apng' ? 'image/apng' : 
                  ((ext == 'jpg' or ext == 'jpeg' or ext == 'jfif' or ext == 'pjpeg' or ext == 'pjp') ? 'image/jpeg' : 
                  (ext == 'gif' ? 'image/gif' : 
                  (ext == 'svg' ? 'image/svg+xml' : 
                  (ext == 'bmp' ? 'image/bmp' : 
                  ((ext == 'ico' or ext == 'cur') ? 'image/x-icon' : 
                  ((ext == 'tif' or ext == 'tiff') ? 'image/tiff' : 
                  'image/png')))))))))}"
      >
        <div
          id="logo"
          th:class="${styles?.avatar_circle == true ? 'circle-avatar' : ''}"
          th:classappend="${styles?.avatar_grayout == true ? 'avatar-grayscale' : ''}"
          th:if="${theme.config?.styles?.is_show_header_icon}"
        ></div>
        <style th:inline="css">
          #logo {
            background-image: url("[(${fallbackLogoPng})]");
            background-image: image-set(
              url("[(${logoUri})]") type("[(${imageType})]"),
              url("[(${fallbackLogoWebp})]") type("image/webp")
            );
          }
        </style>
      </th:block>

      <div id="title">
        <h1>
          <th:block th:text="${site?.title}">站点标题替换位</th:block
          ><th:block th:replace="~{:: theme-toggle-button}"></th:block>
        </h1>
      </div>
    </a>
    <div id="nav" th:if="${theme.config?.styles?.is_show_header_menu}">
      <th:block th:insert="~{fragments/common :: menu(showIcon=true)}"></th:block>
    </div>
  </header>
</th:block>

<button
  th:fragment="theme-toggle-button"
  th:if="${theme.config?.styles?.is_show_color_scheme_toggle_button}"
  id="theme-toggle-button"
  accesskey="t"
  title="(Alt + T)"
  type="button"
  class="border-0 bg-transparent align-middle"
>
  <span
    id="theme-toggle-button-icon"
    style="display: none"
    class="icon iconify iconify-large -translate-x-px -translate-y-px"
  ></span>
  <style>
    #theme-toggle-button {
      & .icon:hover {
        color: var(--color-link-hover);
      }
    }
  </style>
</button>

<!--/* 使此模块的模板需引入文件 /utils/header.ts 以正确引入样式和脚本 */-->
