<!DOCTYPE html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=${#strings.isEmpty(theme.config?.index_styles?.page_html_title) ? site.title : theme.config?.index_styles?.page_html_title}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <section id="about">
      <th:block th:if="${theme.config?.index_styles?.hitokoto}">
        <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
        <p id="hitokoto"></p>
      </th:block>
      <th:block th:if="${theme.config?.index_styles?.is_resume_show}">
        <p
          class="blog-description"
          th:with="defaultResume=${#strings.defaultString(site?.seo?.description, '')}"
          th:utext="${#strings.defaultString(theme.config?.index_styles?.resume, defaultResume)}"
        ></p>
      </th:block>
    </section>

    <p id="findMe" th:if="${theme?.config?.rss?.index_rss or not #arrays.isEmpty(theme?.config?.sns?.index_sns)}">
      [(${theme.config?.index_styles?.find_me_left_text})]
      <th:block th:with="sns=${theme?.config?.sns}">
        <a
          class="icon"
          target="_blank"
          th:href="@{${theme?.config?.rss?.rss_url}}"
          aria-label="Find me on rss"
          th:if="${theme?.config?.rss?.index_rss}"
        >
          <i class="iconify iconify-middle" data-icon="heroicons-outline:rss"></i>
        </a>

        <a
          class="icon"
          th:each="item : ${theme?.config?.sns?.index_sns}"
          th:href="@{${item?.type['url']}+${item?.input_value}}"
          target="_blank"
          th:attr="aria-label=${item?.type['aria-label']}"
        >
          <i class="iconify iconify-middle" th:attr="data-icon=${item?.type['data-icon']}"></i>
        </a>
      </th:block>
    </p>

    <th:block th:if="${theme?.config.index_styles?.post_list_layout=='post-list-summary'}">
      <h2 class="h1" th:if="${not #strings.isEmpty(theme.config?.index_styles?.index_post_list_title)}">
        <a th:href="@{/archives}" th:text="${theme.config?.index_styles?.index_post_list_title}"
          >首页文章列表标题替换位</a
        >
      </h2>
      <th:block th:insert="~{fragments/posts :: post-list-summary(${posts})}"></th:block>
    </th:block>
    <th:block th:unless="${theme?.config.index_styles?.post_list_layout=='post-list-summary'}">
      <th:block th:insert="~{fragments/posts :: simple-post-list(${posts})}"></th:block>
    </th:block>
  </th:block>
</th:block>
