<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(
    title = ${title},
    head = ~{::headContent},
    content = ~{::content}, 
    header = ~{fragments/header::content}, 
    navbar = ~{}
  )}"
>
  <head th:fragment="headContent">
    <script type="module" crossorigin src="/themes/howiehz-higan/assets/dist/photos-V2EZNrTd.js"></script>
    <link rel="modulepreload" crossorigin href="/themes/howiehz-higan/assets/dist/common-CB2peu2R.js">
    <link rel="stylesheet" crossorigin href="/themes/howiehz-higan/assets/dist/common-CHy-SMB4.css">
    <link rel="stylesheet" crossorigin href="/themes/howiehz-higan/assets/dist/photos-D_E1AMfo.css">
  </head>
  <th:block th:fragment="content">
    <article class="photos post" itemscope itemtype="http://schema.org/BlogPosting">


      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const content = document.querySelector(".content");

          const handleEvent = (event, attr) => {
            const img = event.target.closest(`img[${attr}]`);
            if (img && content.contains(img)) {
              const code = img.getAttribute(attr);
              executeCustomCode(code, img);
            }
          };

          content.addEventListener("mouseover", (event) => handleEvent(event, "data-img-onmouseover"));
          content.addEventListener("mouseout", (event) => handleEvent(event, "data-img-onmouseout"));

          const executeCustomCode = (code, element) => {
            if (code) {
              try {
                eval(code.replace(/this/g, "element"));
              } catch (error) {
                console.error("Error executing custom code:", error);
              }
            }
          };
        });
      </script>
      <div class="content">
        <ul class="photo-list">
          <th:block th:each="group : ${groups}" th:if="${theme.config?.photos_styles?.is_enable_masonry_layout}">
            <th:block th:each="photo : ${group.photos}">
              <li class="photo-image">
                <img
                  th:src="@{${photo.spec.url}}"
                  th:srcset="|
                  ${thumbnail.gen(photo.spec.url, 's')} 400w,
                  ${thumbnail.gen(photo.spec.url, 'm')} 800w,
                  ${thumbnail.gen(photo.spec.url, 'l')} 1200w,
                  ${thumbnail.gen(photo.spec.url, 'xl')} 1600w
                  |"
                  sizes="(max-width: 1600px) 100vw, 1600px"
                  th:title="${photo.spec.displayName}"
                  th:alt="${photo.spec.description}"
                  loading="lazy"
                  th:style="'display: none;
                    width: 100%;
                    height: auto;
                    transition: box-shadow 0.1s ease-in, box-shadow 0.3s ease-out;
                    border-radius:' + ${theme.config?.photos_styles?.img_border_radius} + ';'"
                  th:data-img-onmouseover="${theme.config?.photos_styles?.img_onmouseover}"
                  th:data-img-onmouseout="${theme.config?.photos_styles?.img_onmouseout}"
                />
              </li>
            </th:block>
          </th:block>
        </ul>

        <div
          class="photo-groups"
          th:each="group : ${groups}"
          th:if="not ${theme.config?.photos_styles?.is_enable_masonry_layout}"
        >
          <h2 th:text="${group.spec.displayName}" th:if="${theme.config?.photos_styles?.is_show_photo_group_name}"></h2>
          <ul class="photo-list">
            <th:block th:each="photo : ${group.photos}">
              <li class="photo-image">
                <img
                  th:src="@{${photo.spec.url}}"
                  th:srcset="|
                  ${thumbnail.gen(photo.spec.url, 's')} 400w,
                  ${thumbnail.gen(photo.spec.url, 'm')} 800w,
                  ${thumbnail.gen(photo.spec.url, 'l')} 1200w,
                  ${thumbnail.gen(photo.spec.url, 'xl')} 1600w
                  |"
                  sizes="(max-width: 1600px) 100vw, 1600px"
                  th:title="${photo.spec.displayName}"
                  th:alt="${photo.spec.description}"
                  loading="lazy"
                  th:style="'display: none;
                    opacity: 0;
                    width: 100%;
                    height: auto;
                    transition: box-shadow 0.1s ease-in, box-shadow 0.3s ease-out;
                    border-radius:' + ${theme.config?.photos_styles?.img_border_radius} + ';'"
                  th:data-img-onmouseover="${theme.config?.photos_styles?.img_onmouseover}"
                  th:data-img-onmouseout="${theme.config?.photos_styles?.img_onmouseout}"
                />
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </article>
  </th:block>
</th:block>
