<!doctype html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=${#annotations.getOrDefault(post, 'higan.howiehz.top/page-title', post.spec.title)}, content = ~{::content}, header = ~{}, navbar = ~{fragments/post-nav::navbar}, language=${#annotations.get(post, 'higan.howiehz.top/page-language')} )}"
>
  <th:block th:fragment="content">
    <style th:inline="css" th:if="${theme.config?.post_styles?.is_custom_toc_max_width}">
      #header-post #toc {
        max-width: /*[(${theme.config?.post_styles?.toc_max_width})]*/ 20em;
      }
    </style>
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h1 class="posttitle" itemprop="name headline">
          <th:block th:text="${post.spec?.title}">标题替换位</th:block
          ><th:block th:replace="~{fragments/common :: theme-toggle-button}"></th:block>
        </h1>
        <div class="meta">
          <span class="author" itemprop="author" itemscope th:each="contributor : ${post?.contributors}">
            <a
              th:href="${contributor.permalink}"
              itemprop="name"
              th:text="${contributor?.displayName}"
              style="background-image: none"
            >
            </a>
          </span>

          <div class="post-publish-time" th:if="${theme.config?.post_styles?.is_show_post_publish_time}">
            <span
              th:text="#{page.post.published-on}"
              th:if="${theme.config?.post_styles?.is_show_post_publish_time_left_text}"
            ></span>
            <time
              th:datetime="${post.spec?.publishTime}"
              itemprop="datePublished"
              th:text="${#temporals.format(post.spec?.publishTime, 'yyyy-MM-dd')}"
              >文章发布时间替换位</time
            >
          </div>
          <div class="post-update-time" th:if="${theme.config?.post_styles?.is_show_post_updated_time}">
            <span
              th:text="#{page.post.updated-on}"
              th:if="${theme.config?.post_styles?.is_show_post_updated_time_left_text}"
            ></span>
            <time
              th:datetime="${post.status?.lastModifyTime}"
              itemprop="dateModified"
              th:text="${#temporals.format(post.status?.lastModifyTime, 'yyyy-MM-dd')}"
              >文章更新时间替换位</time
            >
          </div>

          <div class="article-tag" th:if="${!#lists.isEmpty(post.tags)}">
            <span class="iconify" data-icon="mdi:tag-outline" data-inline="false"></span>
            <th:block th:each="tag : ${post.tags}">
              <a class="tag-link" th:href="@{${tag.status?.permalink}}" th:text="${tag.spec?.displayName}">
                文章标签名替换位
              </a>
            </th:block>
          </div>

          <span th:title="|#{page.post.visit-stats} ${post.stats?.visit}|">
            <span class="iconify" data-icon="mdi:eye-outline" data-inline="false"></span>
            <span th:text="${post.stats?.visit}">文章阅读量替换位</span>
          </span>

          <span
            th:if="${theme.config?.post_styles?.is_show_post_estimated_reading_time}"
            th:with="wordsCount = ${#strings.length(post.content?.content)}"
            th:title="#{page.post.estimated-reading-time.hover(#{common.characters(${wordsCount})})}"
          >
            <span class="iconify" data-icon="mdi:clock-outline" data-inline="false"></span>
            <span class="readtime" th:text="#{common.min(${wordsCount/450 + '~' + wordsCount/350})}">
              文章预计阅读时间替换位
            </span>
          </span>
        </div>
      </header>

      <div class="content flex-auto" itemprop="articleBody" th:utext="${post.content?.content}">文章内容填充处</div>
      <th:block th:if="${theme.config?.post_styles?.is_dividing_line_at_the_end_of_post_show}">
        <hr class="divide mt-10 mb-0" />
      </th:block>
      <th:block th:if="${theme.config?.post_styles?.is_post_upvote_button_show}">
        <!--/* CSS 样式中设置了，如果下面的推荐文章，评论区等都没开，直接接上页脚，会设置为 mb-0 */-->
        <a
          class="upvote-button mt-2 -mb-8"
          th:href="|javascript:handleLike('${post.metadata.name}')|"
          th:data-post-name="${post.metadata.name}"
          th:style="'display: flex;
            background-image: none;
            justify-content:' + ${theme.config?.post_styles?.post_upvote_button_position} + ';'"
        >
          <span class="iconify">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              th:width="${theme.config?.post_styles?.post_upvote_button_width}"
              th:height="${theme.config?.post_styles?.post_upvote_button_height}"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z"
              />
            </svg>
          </span>
          <span
            th:if="${theme.config?.post_styles?.is_show_post_upvote_count}"
            th:data-post-name="${post.metadata.name}"
            th:text="${post.stats.upvote}"
          ></span>
        </a>
      </th:block>

      <!--/* 推荐文章 */-->
      <!--/* 根据文章的第一个类别，找相同类别的文章 */-->
      <!--/* 文章无分类则不进行推荐 */-->
      <!--/* 改进点：进行检查让推荐列表不出现当前页面文章 */-->
      <th:block
        th:if="${theme.config?.post_styles?.is_post_recommended_articles_show
            and not #lists.isEmpty(post.categories)}"
        th:with="firstCategoryName=${post.categories[0].metadata.name},
                   n=${#conversions.convert(theme.config?.post_styles?.post_recommended_articles_count, 'java.lang.Integer')},
                   postFinderResult=${postFinder.list({
                     size: n,
                     categoryName: firstCategoryName,
                     sort: {'spec.publishTime,desc', 'metadata.creationTimestamp,asc'}
                   })},
                   firstPagePostList=${postFinderResult.items}"
      >
        <!--/* 分类下无文章则不进行推荐 */-->
        <!--/* 用 postFinderResult.totalPages 生成 randomPageNumber，然后查询 randomPageNumber 页的结果 */-->
        <!--/* 这个分类只有当前一篇就不启用推荐，因此 > 1 */-->
        <th:block
          th:if="${#lists.size(firstPagePostList) > 1}"
          th:with="
                randomPageNumber=${T(java.lang.Math).floor(T(java.lang.Math).random()*(postFinderResult.totalPages)+1)},
                targetPagePostFinderResult=${postFinder.list({
                   page: randomPageNumber,
                   size: n,
                   categoryName: firstCategoryName,
                   sort: {'spec.publishTime,desc', 'metadata.creationTimestamp,asc'}
                 })},
                 targetPagePostList=${targetPagePostFinderResult.items},"
        >
          <div class="recommendations mt-10" th:classappend="|text-size-${theme.config?.styles?.text_size}|">
            <h4 class="mb-2" th:text="#{fragment.post-nav.recommended}">推荐文章 标题填充位</h4>
            <th:block th:each="iterPost: ${targetPagePostList}">
              <div th:if="${post.metadata.name != iterPost.metadata.name}">
                <span class="meta">
                  <time
                    class="color-time"
                    th:datetime="${iterPost.spec?.publishTime}"
                    itemprop="datePublished"
                    th:text="${#temporals.format(iterPost.spec?.publishTime, 'yyyy-MM-dd')}"
                    >文章发布时间替换位</time
                  >
                </span>
                <a class="post-title" th:href="@{${iterPost.status?.permalink}}" th:text="${iterPost.spec?.title}"></a>
              </div>
            </th:block>
            <!--/* 如果是最后一页，而且不是第一页（如果是最后一页也是第一页，说明本来就不够）。
            看下有没有缺项，缺则从第一页补。 */-->
            <th:block
              th:if="${targetPagePostFinderResult.last and not targetPagePostFinderResult.first}"
              th:with="itemsNeeded=${n-#lists.size(targetPagePostList)}"
            >
              <!--/* 缺项则补 */-->
              <th:block th:if="${itemsNeeded > 0}">
                <th:block th:each="index : ${#numbers.sequence(0,itemsNeeded-1)}">
                  <th:block th:with="iterPost=${firstPagePostList[index]}">
                    <div th:if="${post.metadata.name != iterPost.metadata.name}">
                      <span class="meta">
                        <time
                          class="color-time"
                          th:datetime="${iterPost.spec?.publishTime}"
                          itemprop="datePublished"
                          th:text="${#temporals.format(iterPost.spec?.publishTime, 'yyyy-MM-dd')}"
                          >文章发布时间替换位</time
                        >
                      </span>
                      <a
                        class="post-title"
                        th:href="@{${iterPost.status?.permalink}}"
                        th:text="${iterPost.spec?.title}"
                      ></a>
                    </div>
                  </th:block>
                </th:block>
              </th:block>
            </th:block>
          </div>
        </th:block>
      </th:block>

      <!--/* 相邻文章导航 */-->
      <th:block
        th:with="postCursor=${postFinder.cursor(post.metadata?.name)}"
        th:if="${theme.config?.post_styles?.is_post_prev_next_navigation_show}"
      >
        <span
          class="post-navigation mt-10 mb-0"
          th:if="${postCursor.hasPrevious()
                  or postCursor.hasNext()}"
        >
          <div th:if="${postCursor.hasPrevious()}">
            <span th:text="#{fragment.post-nav.prev}">上一篇 填充位</span>
            <a
              class="post-title"
              th:href="@{${postCursor.previous?.status?.permalink}}"
              th:text="${postCursor.previous?.spec?.title}"
            ></a>
          </div>
          <div th:if="${postCursor.hasNext()}">
            <span th:text="#{fragment.post-nav.next}">下一篇 填充位</span>
            <a
              class="post-title"
              th:href="@{${postCursor.next?.status?.permalink}}"
              th:text="${postCursor.next?.spec?.title}"
            ></a>
          </div>
        </span>
      </th:block>

      <!--/* 上一个也是分隔线或者点赞按钮，就会隐藏，是 CSS 样式做的工作 */-->
      <th:block th:if="${theme.config?.post_styles?.is_dividing_line_at_the_end_of_post_show}">
        <hr class="divide mt-10 mb-0" />
      </th:block>

      <div
        th:if="${theme.config?.post_styles?.is_post_comment_section_show}
            and ${haloCommentEnabled}"
        class="mt-10"
      >
        <halo:comment group="content.halo.run" kind="Post" th:name="${post.metadata?.name}" />
      </div>
    </article>
    <th:block th:if="${theme.config?.post_styles?.is_show_footer_nav}">
      <div th:replace="~{fragments/footer-nav :: footerNav}"></div>
    </th:block>
    <!--/* clipboard */-->
    <script
      th:src="@{/assets/lib/clipboard/clipboard.min.js}"
      th:if="not ${theme.config?.global?.is_custom_resource_locations}"
    ></script>
    <script
      th:src="${theme.config?.global?.clipboard_resource_location}"
      th:if="${theme.config?.global?.is_custom_resource_locations}"
    ></script>
    <script type="text/javascript" th:inline="javascript">
      $(function () {
        // mount it!
        $(".content pre").wrap('<figure class="highlight"></figure>');
        // copy-btn HTML

        const copySvg = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12V1Z"/></svg>`;
        $(".content figure pre").before(
          `<span class="btn-copy tooltipped tooltipped-sw" aria-label=[[#{common.shareModal.clipboard.aria-label.copy}]]>${copySvg}</span>`,
        );
        // code highlight
        // document.querySelectorAll('pre code').forEach(el => {
        //   hljs.highlightElement(el)
        // })

        var clip = new ClipboardJS(".btn-copy", {
          text: function (trigger) {
            return Array.from(trigger.nextElementSibling.querySelectorAll("code")).reduce(
              (str, it) => str + it.innerText + "\n",
              "",
            );
          },
        });
        clip.on("success", function (e) {
          e.trigger.setAttribute("aria-label", /*[[#{common.shareModal.clipboard.aria-label.copied}]]*/ "Copied!");
          e.clearSelection();
        });

        // generate toc
        const contentDom = document.querySelector("article > .content");
        const tocSelector = isMobile() ? "#toc-footer" : "#toc";
        // wontfix：如果电脑屏幕较窄，文章页用的是底部导航栏，目录按钮按了之后不会显示目录
        // 但是目录按钮在手机端是正常的，为了保证性能，不做特殊处理
        main.generateTOC(contentDom.innerHTML, tocSelector);

        const postTitleUpperCase = /*[(${theme.config?.post_styles?.post_title_uppper})]*/ false;
        if (postTitleUpperCase) {
          $(".post .posttitle").addClass("title-upper-case");
        }

        // toc collapse control
        window.addEventListener("scroll", () => {
          headings = document.querySelectorAll("h2, h3, h4, h5, h6");
          let currentActiveHeading;
          headings.forEach((heading) => {
            const headingTop = heading.offsetTop;
            if (pageYOffset >= headingTop - 50) {
              currentActiveHeading = heading;
            }
          });
          // remove all active class
          const tocActiveClassName = "toc-active";
          document.querySelectorAll("." + tocActiveClassName).forEach((el) => {
            el.classList.remove(tocActiveClassName);
          });

          if (currentActiveHeading) {
            const tocLevel = document.querySelector(`.toc-link[href="#${currentActiveHeading.id}"]`);
            if (tocLevel) {
              tocLevel.classList.add(tocActiveClassName);
            }
          }
        });
      });
    </script>
    <script th:inline="javascript" th:if="${theme.config?.post_styles?.is_post_upvote_button_show}">
      const likes_localstorage_key = "higan.likes.post.ids";
      let likedPostNames = JSON.parse(localStorage.getItem(likes_localstorage_key) || "[]");
      likedPostNames.forEach((postName) => {
        activeUpvote(postName);
      });
      function liked(postName) {
        return likedPostNames.includes(postName);
      }
      function handleLike(postName) {
        if (liked(postName)) {
          return;
        }
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/apis/api.halo.run/v1alpha1/trackers/upvote");
        xhr.onload = () => {
          likedPostNames = [...likedPostNames, postName];
          localStorage.setItem(likes_localstorage_key, JSON.stringify(likedPostNames));
          const likesNode = document.querySelector('span[data-post-name="' + postName + '"]');
          if (likesNode) {
            const likes = parseInt(likesNode.innerText);
            likesNode.innerText = likes + 1;
          }
          activeUpvote(postName);
        };
        xhr.onerror = function () {
          alert(/*[[#{common.error.networkRequestFailed}]]*/ "网络请求失败，请稍后再试");
        };
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(
          JSON.stringify({
            group: "content.halo.run",
            plural: "posts",
            name: postName,
          }),
        );
      }
      function activeUpvote(postName) {
        var dom = document.querySelector("a.upvote-button[data-post-name='" + postName + "']");
        if (dom) {
          dom.style.color = "var(--color-link)";
          dom.style.fontWeight = "500";
        }
      }
    </script>
  </th:block>
</th:block>
