<!DOCTYPE html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=${#annotations.getOrDefault(tag, 'higan.howiehz.top/page-title', tag.spec.displayName)}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{}, language=${#annotations.get(tag, 'higan.howiehz.top/page-language')} )}"
>
  <th:block th:fragment="content">
    <div id="archive" class="content">
      <h2 th:text="#{page.tag.title(${tag.spec?.displayName})}">标签页标题替换位</h2>
      <ul class="post-list flex-auto">
        <li class="post-item" th:each="post : ${posts}">
          <div class="meta">
            <time
              th:datetime="${post.spec?.publishTime}"
              th:text="${#temporals.format(post.spec?.publishTime, 'MMMM dd yyyy')}"
              itemprop="datePublished"
            ></time>
          </div>
          <span>
            <a class="post-title" th:href="@{${post.status?.permalink}}" th:text="${post.spec?.title}"
              >文章标题替换位</a
            >
            <th:block th:if="${theme.config?.tag_page_styles?.is_show_post_views_in_post_list}">
              <span
                class="p-0 mb-0 relative z-10 mt-0.5 text-sm color-time"
                th:title="|#{page.post.visit-stats} ${post.stats?.visit}|"
              >
                <span class="iconify" data-icon="mdi:eye-outline" data-inline="false"></span>
                <span th:text="${post.stats?.visit}">文章阅读量替换位</span>
              </span>
            </th:block>
          </span>
        </li>
      </ul>
      <th:block th:insert="~{fragments/posts :: pagination}"></th:block>
    </div>
  </th:block>
</th:block>
