<!DOCTYPE html>
<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=#{page.tags.page-title}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <h1>
      <th:block th:text="${page.tags.title">标题替换位</th:block
      ><th:block th:replace="~{fragments/common :: theme-toggle-button}"></th:block>
    </h1>
    <ul th:if="${!#lists.isEmpty(tags)}" class="flex-auto">
      <th:block th:each="tag : ${tags}">
        <li>
          <a th:href="@{${tag.status?.permalink}}">
            <th:block th:text="${tag.spec?.displayName} + '(' + ${tag.postCount} +')'"></th:block>
          </a>
        </li>
      </th:block>
    </ul>
  </th:block>
</th:block>
