<head>
  <script src="index.ts" type="module"></script>
  <th:block th:insert="~{components/pagination/template :: headContent}"></th:block>
</head>
<!--/*-->
<body></body>
<!--*/-->
<th:block th:fragment="content(friends)">
  <section class="friends-list-summary flex flex-auto flex-col">
    <div class="flex flex-auto flex-col space-y-10">
      <th:block th:each="friend : ${friends.items}" th:with="spec = ${friend.spec}">
        <div class="grid grid-cols-1 md:grid-cols-4 md:items-baseline">
          <div class="group relative flex flex-col md:col-span-3">
            <h2 class="color-text static m-0 text-base font-semibold tracking-tight">
              <div
                class="friend-card-hover absolute -inset-x-4 -inset-y-2 z-0 opacity-0 sm:-inset-x-6 sm:rounded-2xl"
              ></div>
              <a th:href="@{${spec.postLink}}" target="_blank">
                <span class="absolute -inset-x-4 -inset-y-2 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                <span class="relative z-10" th:text="${spec.title}">文章标题替换位</span>
              </a>
            </h2>
            <time
              th:if="${theme.config?.friends_page_styles?.is_show_friend_pubdate}"
              class="color-base-content-80 relative z-10 order-first mb-3 flex items-center pl-3.5 text-sm md:hidden"
              th:datetime="${#temporals.format(spec.pubDate, 'yyyy-MM-dd')}"
            >
              <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
              </span>
              <th:block th:text="${#temporals.format(spec.pubDate, 'MMMM dd yyyy')}"></th:block>
            </time>
            <div
              th:if="${theme.config?.friends_page_styles?.is_show_friend_author}"
              class="friend-author color-time relative z-20 mt-0.5 mb-0 flex items-center text-sm"
            >
              <img
                th:src="${spec.logo}"
                th:alt="${spec.author}"
                class="friend-author-avatar mr-2 h-6 w-6 rounded-full"
                loading="lazy"
              />
              <a th:href="@{${spec.authorUrl}}" target="_blank" class="friend-author-link">
                <span th:text="${spec.author}">作者名称替换位</span>
              </a>
            </div>
            <th:block
              th:if="${theme.config?.friends_page_styles?.is_show_friend_description}"
              th:with="max_lines=${theme.config?.friends_page_styles?.friend_description_max_lines}"
            >
              <p
                class="color-base-content-80 relative z-10 mt-2 mb-0 p-0 text-sm"
                th:text="${spec.description}"
                th:classappend="|${max_lines == '1' ? 'v-line-clamp-1' : ''} ${max_lines == '2' ? 'v-line-clamp-2' : ''} ${max_lines == '3' ? 'v-line-clamp-3' : ''} ${max_lines == '4' ? 'v-line-clamp-4' : ''} ${max_lines == '5' ? 'v-line-clamp-5' : ''}|"
              >
                文章描述替换位
              </p>
            </th:block>
            <div
              th:if="${theme.config?.friends_page_styles?.is_show_friend_permalink_text}"
              aria-hidden="true"
              class="color-primary relative z-10 mt-4 flex items-center text-sm font-medium"
              th:text="#{page.friends.postListPermalinkText}"
            >
              阅读全文
            </div>
          </div>
          <time
            th:if="${theme.config?.friends_page_styles?.is_show_friend_pubdate}"
            class="color-base-content-80 relative z-10 order-first mt-1 mb-3 hidden items-center text-sm md:flex"
            th:datetime="${#temporals.format(spec.pubDate, 'yyyy-MM-dd')}"
            th:text="${#temporals.format(spec.pubDate, 'MMMM dd yyyy')}"
          >
          </time>
        </div>
      </th:block>
    </div>
    <th:block th:insert="~{components/pagination/template :: content(${friends})}"></th:block>
  </section>
</th:block>
