<head th:remove="tag">
  <script
    src="index.ts"
    type="module"
  ></script>
</head>
<body th:remove="tag">
  <button
    id="theme-toggle-button"
    accesskey="t"
    th:aria-label="#{fragment.theme-toggle-button.aria-label}"
    title="(Alt + T)"
    type="button"
    class="tw:border-0 tw:bg-transparent tw:align-middle"
  >
    <span
      id="theme-toggle-button-icon"
      style="display: none"
      class="icon iconify-large tw:iconify tw:-translate-x-px tw:-translate-y-px"
    ></span>
    <style>
      #theme-toggle-button {
        & .icon:hover {
          color: var(--color-accent);
        }
      }
    </style>
  </button>
</body>
