.text-size-normal {
  --text-xs: 0.875rem;
  --text-sm: 0.9375rem;
  --text: 1rem;
  --text-th: 0.9375rem;
  --text-toc-level-2: 0.9375rem;
  --text-toc-level-3: 0.875rem;
  --text-toc-level-4: 0.813rem;
  --text-h1: 1.75rem;
  --text-h2: 1.5rem;
  --text-h3: 1.375rem;
  --text-h4: 1.25rem;
}
