/* 多元文章列表样式 */
.post-list-summary .group:hover .post-card-hover {
  background: color-mix(in oklab, var(--color-base-content) 5%, var(--color-base-100));
  opacity: 100%;
  transform: scale(0.95);
  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s,
    text-decoration-color 0.2s,
    fill 0.2s,
    stroke 0.2s,
    opacity 0.2s,
    box-shadow 0.2s,
    transform 0.2s;
}

.color-primary {
  color: var(--color-primary);
}

.color-base-content-80 {
  color: color-mix(in oklab, var(--color-base-content) 80%, transparent);
}
