<head th:remove="tag">
  <script src="index.ts" type="module"></script>
  <th:block th:insert="~{components/pagination/template :: head}"></th:block>
</head>
<body th:remove="tag" th:fragment="body(posts, pageTemplateName)">
  <section class="post-list-summary flex flex-auto flex-col">
    <div class="flex flex-auto flex-col space-y-10">
      <th:block th:each="post : ${posts}">
        <th:block th:if="${#annotations.getOrDefault(post, 'higan.howiehz.top/show-in-post-list', 'true') == 'true'}">
          <div class="grid grid-cols-1 md:grid-cols-4 md:items-baseline">
            <div class="group relative flex flex-col md:col-span-3">
              <h2 class="color-text static m-0 text-base font-semibold tracking-tight">
                <div
                  class="post-card-hover absolute -inset-x-4 -inset-y-2 z-0 opacity-0 sm:-inset-x-6 sm:rounded-2xl"
                ></div>
                <span
                  class="iconify iconify-middle color-accent typcn--pin-outline relative z-10"
                  th:if="${post.spec.pinned
                           and theme.config?.index_styles?.is_pin_icon_show
                           and theme.config?.index_styles?.pin_icon_position == 'left'}"
                ></span>
                <a th:href="@{${post.status?.permalink}}">
                  <span class="absolute -inset-x-4 -inset-y-2 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                  <span class="relative z-10" th:text="${post.spec?.title}">文章标题替换位</span>
                </a>
                <span
                  class="iconify iconify-middle color-accent typcn--pin-outline relative z-10"
                  th:if="${post.spec.pinned
                           and theme.config?.index_styles?.is_pin_icon_show
                           and theme.config?.index_styles?.pin_icon_position == 'right'}"
                ></span>
              </h2>
              <time
                th:if="${!#strings.equals(pageTemplateName, 'index')
                         or (#strings.equals(pageTemplateName, 'index')
                             and theme.config?.index_styles?.is_show_post_pubdate_in_post_list_summary)}"
                class="color-base-content-80 relative z-10 order-first mb-3 flex items-center pl-3.5 text-sm md:hidden"
                th:datetime="${#temporals.format(post.spec.publishTime, 'yyyy-MM-dd')}"
              >
                <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                  <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                </span>
                <th:block th:text="${#temporals.format(post.spec.publishTime, 'MMMM dd yyyy')}"></th:block>
              </time>
              <th:block th:if="${theme.config?.index_styles?.is_show_post_categories_in_post_list_summary}">
                <!--/* 使用 sm:inlne 而不是 sm:inline-block 是希望能在很多“分类面包屑”的情况下自动换行 */-->
                <div
                  class="article-category color-time relative z-20 mt-0.5 mb-0 block p-0 text-sm sm:inline"
                  th:unless="${#lists.isEmpty(post.categories)}"
                >
                  <th:block th:each="categoryLeafNode, categoryLeafNodeIterStat : ${post.categories}">
                    <!--/* inline-block 使一个“分类面包屑”不会被分到两行 */-->
                    <span class="categoryBreadcrumbs inline-block">
                      <!--/* 分类图标和第一个“分类面包屑”保持在一行。 */-->
                      <span th:if="${categoryLeafNodeIterStat.first}" class="iconify fa-solid--archive"></span>
                      <th:block
                        th:each="category, iterStat : ${categoryFinder.getBreadcrumbs(categoryLeafNode.metadata?.name)}"
                      >
                        <a
                          class="category-link"
                          th:href="@{${category.status?.permalink}}"
                          th:text="${category.spec?.displayName}"
                        >
                          文章分类名替换位 </a
                        ><!--/*
                      */--><span th:unless="${iterStat.last}"> ></span
                        ><!--/* 除最后一个“分类面包屑”没有逗号，其他“分类面包屑”末尾都有逗号，并且和这个“分类面包屑”保持在一行。
                      */--><span
                          th:if="${iterStat.last
                                   and !categoryLeafNodeIterStat.last}"
                          >,</span
                        >
                        <!--/* 逗号需要写在此层 th:block，然后用注释连接起来，否则逗号前会出现空格 */-->
                      </th:block>
                    </span>
                  </th:block>
                </div>
              </th:block>
              <th:block th:if="${theme.config?.index_styles?.is_show_post_tags_in_post_list_summary}">
                <div
                  class="article-tag color-time relative z-20 mt-0.5 mb-0 block p-0 text-sm sm:inline"
                  th:unless="${#lists.isEmpty(post.tags)}"
                >
                  <span class="iconify mdi--tag-outline"></span>
                  <th:block th:each="tag : ${post.tags}">
                    <a
                      class="tag-link color-time"
                      th:with="tagColor = ${tag.spec?.color}"
                      th:href="@{${tag.status?.permalink}}"
                      th:text="${tag.spec?.displayName}"
                      th:style="${tagColor != null
                                and !#strings.equalsIgnoreCase(tagColor, '#ffffff')}
                              ? |--tag-hash-color:${tagColor};|
                              : null"
                    >
                      文章标签名替换位
                    </a>
                  </th:block>
                </div>
              </th:block>
              <th:block th:if="${theme.config?.index_styles?.is_show_post_views_in_post_list_summary}">
                <div
                  class="color-time relative z-10 mt-0.5 mb-0 p-0 text-sm"
                  th:title="|#{page.post.visit-stats} ${post.stats?.visit}|"
                >
                  <span class="iconify mdi--eye-outline"></span>
                  <span th:text="${post.stats?.visit}">文章阅读量替换位</span>
                </div>
              </th:block>
              <th:block th:if="${theme.config?.index_styles?.is_show_post_estimated_reading_time_in_post_list_summary}">
                <div
                  class="color-time relative z-10 mt-0.5 mb-0 p-0 text-sm"
                  th:with="wordCount = ${pluginFinder.available('extra-api', '3.*')
                                         ? extraApiStatsFinder.getPostWordCount({name: post.metadata.name})
                                         : #strings.length(post.content?.content) / 2 }"
                  th:title="#{page.post.estimated-reading-time(#{common.words(${wordCount})})}"
                >
                  <span class="iconify mdi--clock-outline"></span>
                  <span
                    class="readtime"
                    th:text="#{common.min(${#numbers.formatDecimal(wordCount * 1.0 / 450, 1, 1) + '~' + #numbers.formatDecimal(wordCount * 1.0 / 350, 1, 1)})}"
                  >
                    文章预计阅读时间替换位
                  </span>
                </div>
              </th:block>
              <th:block th:if="${theme.config?.index_styles?.is_show_post_word_count_in_post_list_summary}">
                <span
                  class="color-time relative z-10 mt-0.5 mb-0 p-0 text-sm"
                  th:with="wordCount = ${pluginFinder.available('extra-api', '3.*')
                                         ? extraApiStatsFinder.getPostWordCount({name: post.metadata.name})
                                         : #strings.length(post.content?.content) / 2 }"
                  th:title="|#{page.post.word-count} #{common.words(${wordCount})}|"
                >
                  <span class="iconify fluent--text-edit-style-character-a-32-regular"></span>
                  <span class="word-count" th:text="${wordCount}">文章字数替换位</span>
                </span>
              </th:block>
              <th:block
                th:if="${theme.config?.index_styles?.is_show_post_excerpt_in_post_list_summary}"
                th:with="max_lines = ${theme.config?.index_styles?.post_excerpt_max_lines}"
              >
                <p
                  class="color-base-content-80 relative z-10 mt-2 mb-0 p-0 text-sm"
                  th:text="${post.status?.excerpt}"
                  th:classappend="|${max_lines == '1' ? 'v-line-clamp-1' : ''} ${max_lines == '2' ? 'v-line-clamp-2' : ''} ${max_lines == '3' ? 'v-line-clamp-3' : ''} ${max_lines == '4' ? 'v-line-clamp-4' : ''} ${max_lines == '5' ? 'v-line-clamp-5' : ''}|"
                >
                  文章概要替换位
                </p>
              </th:block>
              <div
                aria-hidden="true"
                class="color-primary relative z-10 mt-4 flex items-center text-sm font-medium"
                th:text="#{page.index.postListPermalinkText}"
                th:if="${theme.config?.index_styles?.is_show_index_post_list_permalink_text}"
              >
                跳转文章链接所用提示文字替换位
              </div>
              <img
                th:if="${theme.config?.index_styles?.is_show_post_cover_in_post_list_summary
                         and !#strings.isEmpty(post.spec.cover)}"
                th:src="${post.spec.cover}"
                th:alt="${post.spec?.title}"
                th:srcset="|
              ${thumbnail.gen(post.spec.cover, 's')} 400w,
              ${thumbnail.gen(post.spec.cover, 'm')} 800w,
              ${thumbnail.gen(post.spec.cover, 'l')} 1200w,
              ${thumbnail.gen(post.spec.cover, 'xl')} 1600w
              |"
                sizes="(max-width: 1600px) 100vw, 1600px"
                class="z-10 mt-4 h-full w-full rounded-lg object-cover"
              />
            </div>
            <time
              th:if="${!#strings.equals(pageTemplateName, 'index')
                       or (#strings.equals(pageTemplateName, 'index')
                           and theme.config?.index_styles?.is_show_post_pubdate_in_post_list_summary)}"
              class="color-base-content-80 relative z-10 order-first mt-1 mb-3 hidden items-center text-sm md:flex"
              th:datetime="${#temporals.format(post.spec.publishTime, 'yyyy-MM-dd')}"
              th:text="${#temporals.format(post.spec.publishTime, 'MMMM dd yyyy')}"
            >
            </time>
          </div>
        </th:block>
      </th:block>
    </div>
    <th:block th:insert="~{components/pagination/template :: body(${posts})}"></th:block>
  </section>
</body>
