.text-size-large {
  --text-xs: 0.9375rem;
  --text-sm: 1rem;
  --text: 1.125rem;
  --text-th: 1rem;
  --text-toc-level-2: 1rem;
  --text-toc-level-3: 0.9375rem;
  --text-toc-level-4: 0.875rem;
  --text-h1: 2rem;
  --text-h2: 1.75rem;
  --text-h3: 1.5rem;
  --text-h4: 1.375rem;
}
