<!--/*-->
<head th:remove="tag"></head>
<!--*/-->
<body
  th:remove="tag"
  th:fragment="body(photo, extraStyle)"
>
  <li class="photo-image">
    <img
      th:src="@{${photo.spec.url}}"
      th:srcset="|
      ${thumbnail.gen(photo.spec.url, 's')} 400w,
      ${thumbnail.gen(photo.spec.url, 'm')} 800w,
      ${thumbnail.gen(photo.spec.url, 'l')} 1200w,
      ${thumbnail.gen(photo.spec.url, 'xl')} 1600w
      |"
      sizes="(max-width: 1600px) 100vw, 1600px"
      th:title="${photo.spec.displayName}"
      th:alt="${photo.spec.description}"
      loading="lazy"
      th:style="${'display: none; ' + extraStyle + 'width: 100%; height: auto; transition: box-shadow 0.1s ease-in, box-shadow 0.3s ease-out; border-radius:' + theme.config?.photos_styles?.img_border_radius + ';'}"
      th:data-img-onmouseover="${theme.config?.photos_styles?.img_onmouseover}"
      th:data-img-onmouseout="${theme.config?.photos_styles?.img_onmouseout}"
    />
  </li>
</body>
