@tailwind utilities;

@layer utilities {
  .no-underline {
    text-decoration: none !important;
  }
  .break-all {
    word-break: break-all !important;
  }
  .inline-block {
    display: inline-block !important;
  }
}
