/* 文章标签 分类 样式开始 */
/* 用于多元文章列表和文章页开头信息展示 */
.article-tag .tag-link,
.article-category .category-link {
  background-image: linear-gradient(
    transparent,
    transparent 0.625rem,
    var(--color-base-300) 0.625rem,
    var(--color-base-300)
  );
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100% 0.375rem;
}

.article-tag .tag-link {
  &::before {
    color: var(--tag-hash-color, currentColor);
    content: "#";
  }
}

/* 文章标签 分类 样式结束 */
