@font-face {
  font-display: swap;
  font-family: "meslo lg";
  font-style: normal;
  font-weight: 400;
  src:
    url("/themes/howiehz-higan/assets/dist/MesloLGS-Regular.woff2") format("woff2"),
    url("/themes/howiehz-higan/assets/dist/MesloLGS-Regular.woff") format("woff"),
    url("/themes/howiehz-higan/assets/dist/MesloLGS-Regular.ttf") format("truetype"),
    local(meslo lg s);
}

body {
  --higan-font-family:
    menlo, meslo lg, ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica neue,
    arial, noto sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", segoe ui symbol, "Noto Color Emoji";
  font-family: var(--higan-font-family);
}
