@import "../../assets/fonts/meslo-LG/result-Regular.css";
@import "../../assets/fonts/meslo-LG/result-Bold.css";
@import "../../assets/fonts/meslo-LG/result-Italic.css";
@import "../../assets/fonts/meslo-LG/result-BoldItalic.css";

:root {
  --higan-font-family:
    "Meslo LG S", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  &.webkit {
    --higan-font-family: "Meslo LG S";
  }
}

body {
  font-family: var(--higan-font-family);
}
