@import "../../assets/fonts/meslo-LG/result.css";

:root {
  --higan-font-family:
    "Meslo LG S", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  &.webkit {
    --higan-font-family: "Meslo LG S";
  }
}

body {
  font-family: var(--higan-font-family);
}
