/* iconify 样式 */
.iconify {
  /* font-size: 1em; default */
  text-align: center;
  vertical-align: middle;

  /* color: var(--color-text); */
}

.iconify-middle {
  font-size: 1.2em;
}

.iconify-large {
  font-size: 1.5em;
}

.iconify-huge {
  font-size: 1.8em;
}
