@layer theme, base, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
/* stylelint-disable custom-property-pattern */
@theme {
  --text-*: initial;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
}
/* stylelint-enable custom-property-pattern */

@utility no-underline {
  text-decoration: none !important;
}

@utility break-all {
  word-break: break-all !important;
}

@utility inline-block {
  display: inline-block !important;
}

@plugin "@iconify/tailwind4" {
  prefixes:
    mdi, heroicons-outline, fa-solid, fluent, material-symbols, ic, typcn, simple-icons, ant-design, ri, ph,
    icomoon-free, entypo-social, uil, cib, tabler, pepicons-pencil;
}
