video {
  height: auto;
  max-width: 100%;
}

.moment {
  & .moment-comment {
    margin-top: 1rem;

    &:target {
      display: block;
    }
  }

  & .common-post-list {
    & li {
      list-style: none;
    }

    & .moment-item {
      padding-bottom: 1.5rem;
    }
  }

  & .moment-content {
    overflow-wrap: break-word;
  }

  & .avatar-user {
    border-radius: 50% !important;
  }

  & .avatar {
    background-color: var(--color-background);
    box-shadow: 0 0 0 1px rgb(27 31 36 / 15%);
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
  }

  & .color-fg-muted {
    color: var(--color-accent-3);
  }

  & .moment-header {
    padding-bottom: 0.375rem;

    & a {
      background: none;
    }
  }

  & .operation {
    color: var(--color-text);
    padding-top: 0.5rem;

    & a {
      background: none;

      &:hover {
        background: none;
      }
    }
  }

  & .medium {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;

    & img {
      height: 100%;
      max-height: 9rem;
      object-fit: cover;
      width: 100%;
    }
  }

  & .tag {
    background-color: var(--color-background-code) !important;
    background-image: none !important;
    border-radius: 5px;
    box-shadow: 0 0 6px var(--color-footer-mobile-2);
    color: var(--color-accent-1) !important;
    font-size: var(--text-sm);
    padding: 0 6px;
    text-decoration: none;

    &::before {
      content: "#";
    }
  }

  & ul {
    @media (width < 640px) {
      margin-block-start: 0;
      padding-inline-start: 0;
    }
  }

  & .moment-body {
    & .moment-content-box {
      box-shadow: 1px 3px 15px rgb(140 149 159 / 15%);
      padding: 1rem;

      & .moment-content {
        & li {
          list-style: initial !important;
        }

        & p {
          overflow-wrap: break-word;
          text-align: left;
        }
      }
    }
  }
}
