name: Build and Deploy Documentation

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          # version: 10 <- auto use package.json with the key "packageManager", so commented this line
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build Documentation
        run: pnpm docs:build

      - name: Deploy Doc to Halo
        run: |
          pnpm --package=halo-static-pages-deploy-cli dlx halo-static-pages-deploy deploy -e ${{ secrets.DOCS_ENDPOINT }} -i ${{ secrets.DOCS_ID }} -t ${{ secrets.DOCS_PAT }} -f docs/.vitepress/dist